Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: "pkg/provider/github/events_test.go"
- repo: local
  hooks:
  - id: black
    types: [python]
    language: system
    entry: black
    name: "Python check code Formatter"
  - id: pylint
    name: "Python linter"
    entry: pylint
    language: system
    types: [python]
    args: ["-rn", "-sn"]
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false
  - id: check-generated
    name: "Check generated vendor and golden files"
    entry: make
    args: ["check-generated"]
    language: system
    types: [go]
    pass_filenames: false

# TODO: add a lint-py when we have the errors fix
# TODO: add a lint-sh when we have the errors fix
#

Fix documentation referencing git amend instead of git commit --amend
  docs/content/docs/install/github_webhook.md
Due: lint-markdown

Don't error out when checking for token expiration on 404
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

refactor all getLogger function to a common package
  pkg/adapter/adapter_test.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/detect_test.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/detect_test.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/test/logger/logger.go
Due: lint-go, test, check-generated

Release yaml generated for pac release v0.15.3 on branch release-v0.15.3
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.3 on branch release-v0.15.3
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.3 on branch release-v0.15.3
  docs/content/VERSION
Due: none

Set CI to True in gorelease task
  .tekton/tasks/goreleaser.yaml
Due: lint-yaml

Remove the replacing of the \n by <br>
  pkg/provider/gitea/gitea.go
Due: lint-go, test, check-generated

Rephrase pipelines as code introduction
  docs/content/_index.md
Due: lint-markdown

describe the new way of disabling pac from osp on 1.9
  docs/content/docs/install/installation.md
Due: lint-markdown

let use something else than ko
  hack/dev/kind/install.sh
Due: none

Separate go steps to its own out of pull-request
  .tekton/go.yaml
  .tekton/pull-request.yaml
Due: lint-yaml

disable generate vendor for now
  .tekton/go.yaml
Due: lint-yaml

make the tkn binary name modular at compile time
  Makefile
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/web.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/version/version.go
  pkg/cmd/tknpac/webhook/add.go
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
Due: lint-go, test, check-generated

set variable globally
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Add wine target
  .github/workflows/kind-e2e-tests.yaml
  Makefile
Due: lint-yaml

install gosmee binary directly instead of using go install
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Revert "set variable globally"
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Revert "install gosmee binary directly instead of using go install"
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Tekton Dashboard release file has been renamed
  hack/dev/kind/install.sh
Due: none

tmate
  .github/workflows/ghcr.yaml.disabled
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml
