Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

black:
  language: system
  entry: black
  name: Python check code Formatter

pylint:
  name: Python linter
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

check-generated:
  name: Check generated vendor and golden files
  entry: make
  args:
  - check-generated
  language: system
  pass_filenames: false

adjust regexp for TestGiteaRetestAfterPush
  test/gitea_test.go
Due: lint-go, test, check-generated

Skip task step logs which say that it is skipped
  pkg/kubeinteraction/status/task_status.go
Due: lint-go, test, check-generated

Support tekton-pipeline >=0 0.44.0 minimal status
  config/202-watcher-role.yaml
  go.sum
  pkg/kubeinteraction/status/task_status.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/status.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/status.go
  pkg/sort/task_status.go
  pkg/sort/task_status_test.go
  vendor/github.com/tektoncd/pipeline/pkg/status/status.go
  vendor/modules.txt
Due: lint-go, test, lint-yaml, check-generated

Remove the replacing of the \n by <br>
  pkg/provider/gitea/gitea.go
Due: lint-go, test, check-generated

Rephrase pipelines as code introduction
  docs/content/_index.md
Due: lint-markdown

describe the new way of disabling pac from osp on 1.9
  docs/content/docs/install/installation.md
Due: lint-markdown

Tekton Dashboard release file has been renamed
  hack/dev/kind/install.sh
Due: none

Add target_namespace env variable
  docs/content/docs/guide/authoringprs.md
  pkg/pipelineascode/match.go
  pkg/templates/templating.go
  pkg/templates/templating_test.go
Due: lint-markdown, lint-go, test, check-generated

Skip Tekton Resolver types in PAC Resolver
  docs/content/docs/guide/resolver.md
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/pipelinerun-pipelinerun-resolver.yaml
  pkg/resolve/testdata/pipelinerun-task-resolver.yaml
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Make our own parsing for token expiration
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

make sure we always processing error in namespace
  pkg/pipelineascode/pipelineascode.go
Due: lint-go, test, check-generated

Don't try to gpgsign or it will fail
  test/pkg/gitea/scm.go
Due: lint-go, test, check-generated

some more cosmetics to show nicer gitea status breakdown
  pkg/provider/gitea/gitea.go
Due: lint-go, test, check-generated

add gitea E2E test to test log snippet
  test/gitea_test.go
  test/testdata/pipelinerun-error-snippet.yaml
Due: lint-go, test, lint-yaml, check-generated

Fix WaitForSecretDeletion
  test/pkg/gitea/test.go
Due: lint-go, test, check-generated

fix exiting from task on ubi-micro (need to be from a script)
  test/testdata/failures/pipelinerun-exit-1.yaml
Due: lint-yaml

make the tkn binary name modular at compile time
  Makefile
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/web.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/version/version.go
  pkg/cmd/tknpac/webhook/add.go
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
Due: lint-go, test, check-generated

Fix StartingPipelineRunText and use tkn instead of tkn-pac for log
  pkg/params/run.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
Due: lint-go, test, check-generated

Enhance incoming webhook for github apps If GithubApp is installed on the cluster then no need to provide git_provider spec because for GithubApps we detect the secret and use it
  pkg/adapter/incoming_test.go
  test/githubapp_incoming_test.go
Due: lint-go, test, check-generated

Enhance incoming webhook for github apps If GithubApp is installed on the cluster then no need to provide git_provider spec because for GithubApps we detect the secret and use it
  docs/content/docs/guide/incoming_webhook.md
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/pipelineascode/pipelinesascode_github_test.go
  pkg/pipelineascode/secret.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
Due: lint-markdown, lint-go, test, check-generated

Updated incoming webhook implementation as per the review comments
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
Due: lint-go, test, check-generated

Added e2e test to verify Incoming for GithubApp
  test/githubapp_incoming_test.go
  test/pkg/github/crd.go
  test/pkg/github/setup.go
Due: lint-go, test, check-generated

Add test to cover ListRepos and fixed review comments
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

go 1.20 support
  Makefile
  test/init_test.go
Due: lint-go, test, check-generated

renable ghcr again
  .github/workflows/ghcr.yaml
Due: lint-yaml

Release yaml generated for pac release v0.16.0 on branch release-v0.16.0
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.16.0 on branch release-v0.16.0
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.16.0 on branch release-v0.16.0
  docs/content/VERSION
Due: none

Release yaml generated for pac release v0.16.0 on branch release-v0.16.x
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.16.0 on branch release-v0.16.x
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.16.0 on branch release-v0.16.x
  docs/content/VERSION
Due: none

Release yaml generated for pac release v0.15.4 on branch release-v0.15.4
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.4 on branch release-v0.15.4
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.4 on branch release-v0.15.4
  docs/content/VERSION
Due: none

Fix configmap watcher update issue
  cmd/pipelines-as-code-controller/main.go
  pkg/adapter/adapter.go
  pkg/adapter/adapter_test.go
  pkg/params/run.go
  pkg/reconciler/controller.go
Due: lint-go, test, check-generated

Release yaml generated for pac release v0.15.5 on branch release-v0.15.5
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.5 on branch release-v0.15.5
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.5 on branch release-v0.15.5
  docs/content/VERSION
Due: none

Path conditions:
  black: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  pylint: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  check-generated: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
