Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: "pkg/provider/github/events_test.go"
- repo: local
  hooks:
  - id: black
    types: [python]
    language: system
    entry: black
    name: "Python check code Formatter"
  - id: pylint
    name: "Python linter"
    entry: pylint
    language: system
    types: [python]
    args: ["-rn", "-sn"]
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false
  - id: check-generated
    name: "Check generated vendor and golden files"
    entry: make
    args: ["check-generated"]
    language: system
    types: [go]
    pass_filenames: false

# TODO: add a lint-py when we have the errors fix
# TODO: add a lint-sh when we have the errors fix
#

show repo name instead of pr when using tkn pac logs
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
Due: lint-go, test, check-generated

add more gitea hack workaround
  pkg/provider/gitea/gitea.go
  test/gitea_test.go
Due: lint-go, test, check-generated

Separate installing ingress dashboard and pac
  hack/dev/kind/ingress-dashboard.yaml
  hack/dev/kind/ingress-pac.yaml
  hack/dev/kind/install.sh
Due: lint-yaml

Update commands of create repo, webhook add and generate
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
  pkg/cli/webhook/webhook.go
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/webhook/add.go
  pkg/cmd/tknpac/webhook/add_test.go
Due: lint-markdown, lint-go, test, check-generated

Add documentation about fine grained webhook token
  docs/content/docs/install/github_webhook.md
Due: lint-markdown

detect installation locally
  hack/dev/kind/install.sh
Due: none

Fix tkn pac resolve with remote task
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/params/run.go
  pkg/resolve/resolve.go
  test/gitea_test.go
Due: lint-go, test, check-generated

Only report expired token error when there is one
  pkg/provider/github/github.go
Due: lint-go, test, check-generated

Removed tkn-pac resolve message from generate command
  README.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
  pkg/cmd/tknpac/generate/generate.go
Due: lint-markdown, lint-go, test, check-generated

Apply suggestions from code review
  docs/content/docs/install/github_webhook.md
Due: lint-markdown

Fix checking token expiration on webhook
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

Fix pylint latest error
  hack/dev/ghapp_token.py
  hack/dev/kind/gitea/deploy.py
Due: black, pylint

Refactor secrets
  pkg/kubeinteraction/kubeinteraction.go
  pkg/kubeinteraction/secrets.go
  pkg/kubeinteraction/secrets_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/cleanup.go
  pkg/resolve/resolve.go
  pkg/secrets/basic_auth.go
  pkg/secrets/basic_auth_test.go
  pkg/test/kubernetestint/kubernetesint.go
Due: lint-go, test, check-generated

rephrase resolver documentation
  docs/content/docs/guide/resolver.md
Due: lint-markdown

Detect git_auth_secret in tkn pac resolve
  .golangci.yml
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/resolve/basic_auth_secret.go
  pkg/cmd/tknpac/resolve/basic_auth_secret_test.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/resolve/testdata/pipelinerun.yaml
  test/gitea_test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Fix gitea test for cli generation
  test/gitea_test.go
Due: lint-go, test, check-generated

Detect existing secret if it exist and reuses it
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/privaterepo.md
  pkg/cmd/tknpac/resolve/basic_auth_secret.go
  pkg/cmd/tknpac/resolve/basic_auth_secret_test.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/resolve/resolve_test.go
  pkg/secrets/basic_auth.go
Due: lint-markdown, lint-go, test, check-generated

Updates basic auth secret owner reference with pipelinerun
  config/201-controller-role.yaml
  pkg/kubeinteraction/kubeinteraction.go
  pkg/kubeinteraction/secrets.go
  pkg/kubeinteraction/secrets_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelinesascode_github_test.go
  pkg/reconciler/cleanup.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/test/kubernetestint/kubernetesint.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: lint-go, test, lint-yaml, check-generated

Release yaml generated for pac release v0.14.3 on branch release-v0.14.3
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.3 on branch release-v0.14.3
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.3 on branch release-v0.14.3
  docs/content/VERSION
Due: none

Release yaml generated for pac release v0.14.3 on branch release-v0.14.x
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.3 on branch release-v0.14.x
  release.yaml
Due: lint-yaml
