Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: "pkg/provider/github/events_test.go"
- repo: local
  hooks:
  - id: black
    types: [python]
    language: system
    entry: black
    name: "Python check code Formatter"
  - id: pylint
    name: "Python linter"
    entry: pylint
    language: system
    types: [python]
    args: ["-rn", "-sn"]
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false
  - id: check-generated
    name: "Check generated vendor and golden files"
    entry: make
    args: ["check-generated"]
    language: system
    types: [go]
    pass_filenames: false

# TODO: add a lint-py when we have the errors fix
# TODO: add a lint-sh when we have the errors fix
#

Improve error detection regexp to ignore space if not there
  config/302-pac-configmap.yaml
  pkg/params/settings/config.go
  pkg/provider/github/status.go
Due: lint-go, test, lint-yaml, check-generated

fix vale grammar errors
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/github_apps.md
  docs/content/docs/install/kubernetes.md
  docs/content/docs/install/settings.md
Due: lint-markdown

Make yamllint error parseable
  .tekton/pull-request.yaml
Due: lint-yaml

detect and error if github webhook secret is empty
  pkg/pipelineascode/secret.go
  pkg/provider/github/events.go
  pkg/provider/github/github.go
Due: lint-go, test, check-generated

Adds unit test for providers parsing payload
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/parse_payload_test.go
Due: lint-go, test, check-generated

Divides provider code in multiple files, easy to navigate
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/detect.go
  pkg/provider/bitbucketcloud/detect_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/detect.go
  pkg/provider/bitbucketserver/detect_test.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/detect_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
Due: lint-go, test, check-generated

gitlab fixes
  .pre-commit-config.yaml
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: lint-go, test, lint-yaml, check-generated

No need to restart pod after config with ko
  hack/dev/kind/install.sh
Due: none

Add small snippet of the error log in status
  config/302-pac-configmap.yaml
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/settings.md
  docs/static/images/snippet-failure-message.png
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/cli/status/status.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/describe/templates/describe.tmpl
  pkg/cmd/tknpac/describe/testdata/TestDescribe-collect_failures.golden
  pkg/kubeinteraction/kubeinteraction.go
  pkg/kubeinteraction/status/task_status.go
  pkg/kubeinteraction/status/task_status_test.go
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/provider/github/status.go
  pkg/reconciler/status.go
  pkg/sort/task_log_snippets.go
  pkg/test/kubernetestint/kubernetesint.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

update to ubi9 live on google meet 📺
  .tekton/e2e-tests.yaml
  .tekton/pull-request.yaml
  .tekton/push.yaml
  Dockerfile
Due: lint-yaml

Bump CEL version to 0.12.5 and updated functions
  go.mod
  go.sum
  pkg/matcher/cel.go
  vendor/github.com/google/cel-go/cel/BUILD.bazel
  vendor/github.com/google/cel-go/cel/decls.go
  vendor/github.com/google/cel-go/cel/env.go
  vendor/github.com/google/cel-go/cel/io.go
  vendor/github.com/google/cel-go/cel/library.go
  vendor/github.com/google/cel-go/cel/macro.go
  vendor/github.com/google/cel-go/cel/options.go
  vendor/github.com/google/cel-go/cel/program.go
  vendor/github.com/google/cel-go/checker/checker.go
  vendor/github.com/google/cel-go/checker/cost.go
  vendor/github.com/google/cel-go/checker/env.go
  vendor/github.com/google/cel-go/checker/printer.go
  vendor/github.com/google/cel-go/checker/types.go
  vendor/github.com/google/cel-go/common/containers/container.go
  vendor/github.com/google/cel-go/common/debug/debug.go
  vendor/github.com/google/cel-go/common/error.go
  vendor/github.com/google/cel-go/common/operators/operators.go
  vendor/github.com/google/cel-go/common/types/pb/equal.go
  vendor/github.com/google/cel-go/common/types/pb/type.go
  vendor/github.com/google/cel-go/common/types/ref/reference.go
  vendor/github.com/google/cel-go/common/types/timestamp.go
  vendor/github.com/google/cel-go/interpreter/interpretable.go
  vendor/github.com/google/cel-go/interpreter/planner.go
  vendor/github.com/google/cel-go/interpreter/prune.go
  vendor/github.com/google/cel-go/parser/helper.go
  vendor/github.com/google/cel-go/parser/macro.go
  vendor/github.com/google/cel-go/parser/parser.go
  vendor/github.com/google/cel-go/parser/unparser.go
  vendor/modules.txt
Due: lint-go, test, check-generated

gorelease: don't shallow clone on git-clone
  .tekton/release-pipeline.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.0 on branch release-v0.14.0
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.0 on branch release-v0.14.0
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.0 on branch release-v0.14.0
  docs/content/VERSION
Due: none

Release yaml generated for pac release v0.14.0 on branch release-v0.14.x
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.0 on branch release-v0.14.x
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.0 on branch release-v0.14.x
  docs/content/VERSION
Due: none

Remove tkn-pac setup from doc everywhere
  README.md
  docs/content/docs/guide/cli.md
  docs/content/docs/install/settings.md
Due: lint-markdown

set a static uid in dockerfile
  Dockerfile
Due: none
