Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

black:
  language: system
  entry: black
  name: Python check code Formatter

pylint:
  name: Python linter
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

check-generated:
  name: Check generated vendor and golden files
  entry: make
  args:
  - check-generated
  language: system
  pass_filenames: false

Fix validation when dashboard URL is empty
  pkg/params/settings/validation.go
  pkg/params/settings/validation_test.go
Due: lint-go, test, check-generated

Validate setting only if defined
  pkg/params/settings/validation.go
  pkg/params/settings/validation_test.go
Due: lint-go, test, check-generated

Reuses skipped checkrun, as we can't remove it
  pkg/adapter/adapter.go
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/provider/github/github.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/reconciler/event.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
Due: lint-go, test, check-generated

Align UX for create repo CLI commands
  docs/content/docs/guide/cli.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
  pkg/cli/webhook/bitbucket_cloud.go
  pkg/cli/webhook/bitbucket_cloud_test.go
  pkg/cli/webhook/github.go
  pkg/cli/webhook/github_test.go
  pkg/cli/webhook/gitlab.go
  pkg/cli/webhook/gitlab_test.go
  pkg/cli/webhook/secret.go
  pkg/cli/webhook/webhook.go
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/repository_test.go
  pkg/cmd/tknpac/root.go
  pkg/cmd/tknpac/setup/bitbucket-cloud-webhook.go
  pkg/cmd/tknpac/setup/github-webhook.go
  pkg/cmd/tknpac/setup/gitlab-webhook.go
  pkg/cmd/tknpac/setup/root.go
  pkg/cmd/tknpac/webhook/add.go
  pkg/cmd/tknpac/webhook/add_test.go
  pkg/cmd/tknpac/webhook/root.go
  pkg/cmd/tknpac/webhook/update-token.go
  pkg/cmd/tknpac/webhook/update-token_test.go
  pkg/pipelineascode/secret.go
  pkg/pipelineascode/secret_test.go
  pkg/test/clients/clients.go
Due: lint-markdown, lint-go, test, check-generated

Release yaml generated for pac release v0.13.1 on branch release-v0.13.1
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.13.1 on branch release-v0.13.1
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.13.1 on branch release-v0.13.1
  docs/content/VERSION
Due: none

Release yaml generated for pac release v0.13.1 on branch release-v0.13.x
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.13.1 on branch release-v0.13.x
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.13.1 on branch release-v0.13.x
  docs/content/VERSION
Due: none

Sorts events in describe command with latest displayed first
  go.mod
  go.sum
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/describe/testdata/TestDescribe-repository_multiple_events.golden
  pkg/sort/runtime_sort.go
  vendor/github.com/fvbommel/sortorder/.gitignore
  vendor/github.com/fvbommel/sortorder/LICENSE
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/doc.go
  vendor/github.com/fvbommel/sortorder/natsort.go
  vendor/k8s.io/client-go/third_party/forked/golang/LICENSE
  vendor/k8s.io/client-go/third_party/forked/golang/PATENTS
  vendor/k8s.io/client-go/third_party/forked/golang/template/exec.go
  vendor/k8s.io/client-go/third_party/forked/golang/template/funcs.go
  vendor/k8s.io/client-go/util/jsonpath/doc.go
  vendor/k8s.io/client-go/util/jsonpath/jsonpath.go
  vendor/k8s.io/client-go/util/jsonpath/node.go
  vendor/k8s.io/client-go/util/jsonpath/parser.go
  vendor/modules.txt
Due: lint-go, test, check-generated

Fixes target branch match, if annotation has refs/head
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: lint-go, test, check-generated

Revert "Use pipelines nightly as it has labels getting missing bugfix :)"
  hack/dev/kind/install.sh
Due: none

kind/install.sh: Make sure we delete secret
  hack/dev/kind/install.sh
Due: none

[Feature] Add github annotations from container logs.
  config/202-watcher-role.yaml
  config/302-pac-configmap.yaml
  docs/content/docs/guide/statuses.md
  docs/static/images/github-annotation-error-failure-detection.png
  hack/dev/kind/install.sh
  pkg/cli/status/status.go
  pkg/kubeinteraction/pod_logs.go
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/validation.go
  pkg/pipelineascode/match.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/test/provider/testwebvcs.go
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/setup.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

infra: use a config map setting for public route url of uploader
  .tekton/doc.yaml
Due: lint-yaml

Limits number of events in describe command
  pkg/cmd/tknpac/describe/describe.go
Due: lint-go, test, check-generated

Use named regexp for annotations failure matching
  config/302-pac-configmap.yaml
  docs/content/docs/guide/statuses.md
  pkg/params/settings/config.go
  pkg/provider/github/status.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Fix TestGenerateTemplate test
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/repository_test.go
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate.golden
  pkg/cmd/tknpac/generate/generate.go
Due: lint-go, test, check-generated

Moves all keys at single place for labels and annotations
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/logs/logs_test.go
  pkg/events/emit.go
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/reconciler/cleanup.go
  pkg/reconciler/controller.go
  pkg/reconciler/event.go
  pkg/reconciler/event_test.go
  pkg/reconciler/finalizer.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status.go
  pkg/resolve/resolve.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
  pkg/webhook/reconciler.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: lint-go, test, check-generated

Let allow skipping gitea install in kind install script
  hack/dev/kind/install.sh
Due: none

Adds logurl on pipelinerun as an annotation
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelinesascode_github_test.go
  pkg/provider/github/status.go
  pkg/webhook/reconciler.go
Due: lint-go, test, check-generated

detect and error if github webhook secret is empty
  pkg/pipelineascode/secret.go
  pkg/provider/github/events.go
  pkg/provider/github/github.go
Due: lint-go, test, check-generated

return repo when we have errors
  pkg/pipelineascode/match.go
Due: lint-go, test, check-generated

Validate token expiration/limit on github webhook
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

Path conditions:
  black: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  pylint: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  check-generated: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
