Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: "pkg/provider/github/events_test.go"
- repo: local
  hooks:
  - id: black
    types: [python]
    language: system
    entry: black
    name: "Python check code Formatter"
  - id: pylint
    name: "Python linter"
    entry: pylint
    language: system
    types: [python]
    args: ["-rn", "-sn"]
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false
  - id: check-generated
    name: "Check generated vendor and golden files"
    entry: make
    args: ["check-generated"]
    language: system
    types: [go]
    pass_filenames: false

# TODO: add a lint-py when we have the errors fix
# TODO: add a lint-sh when we have the errors fix
#

Release yaml generated for pac release v0.14.3 on branch release-v0.14.x
  docs/content/VERSION
Due: none

Upade header from OpenShift Pipelines to OpenShift Pipelines as Code
  .goreleaser.yml
Due: lint-yaml

Add dependabot for github actions deps
  .github/dependabot.yaml
Due: lint-yaml

Update bootstrap video
  README.md
  docs/content/_index.md
Due: lint-markdown

Show Tekton Dashboard string if configured
  docs/content/docs/guide/running.md
  pkg/cmd/tknpac/describe/testdata/TestDescribe-live_run_and_repository_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_live_runs.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-one_live_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-target_a_pipelinerun.golden
  pkg/consoleui/interface.go
  pkg/consoleui/openshift.go
  pkg/consoleui/tektondashboard.go
  pkg/params/run.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: lint-markdown, lint-go, test, check-generated

Improve unittest coverage in sort package
  pkg/sort/pipelinerun_test.go
  pkg/sort/runtime_sort_test.go
  pkg/sort/task_log_snippets_test.go
Due: lint-go, test, check-generated

set t.helper for test helper test functions
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/pipelinesascode_github_test.go
  pkg/reconciler/reconciler_test.go
Due: lint-go, test, check-generated

Allow fetching raw url with token when using ghe
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

Reword error message when failing to match pr
  pkg/pipelineascode/match.go
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
Due: lint-go, test, check-generated

Add some test for params.settings
  pkg/params/settings/config_test.go
Due: lint-go, test, check-generated

Updated ClusterRole for secret to fix incoming webhook and also updated readme Signed-off-by: savitaashture <sashture@redhat.com>
  config/201-controller-role.yaml
  docs/content/docs/guide/incoming_webhook.md
  pkg/adapter/incoming.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Fixes logURL for GitHub App PipelineRuns
  cmd/pipelines-as-code-controller/main.go
  pkg/params/info/pac.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/reconciler/controller.go
Due: lint-go, test, check-generated

Update kind-e2e-tests.yaml
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Update doc regarding the temp installation token
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/privaterepo.md
  pkg/secrets/basic_auth.go
Due: lint-markdown, lint-go, test, check-generated

adds detection for cancel comment in providers
  pkg/cli/webhook/gitlab.go
  pkg/provider/bitbucketcloud/detect.go
  pkg/provider/bitbucketcloud/detect_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketserver/detect.go
  pkg/provider/bitbucketserver/detect_test.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/detect_test.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Due: lint-go, test, check-generated

Splits matchrepo func for verifying and preparing pipelineruns
  pkg/adapter/adapter.go
  pkg/pipelineascode/match.go
Due: lint-go, test, check-generated

parse payload for cancelling pipelineruns
  pkg/params/info/events.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
Due: lint-go, test, check-generated

Detect an ingress with dashboard target on kube
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/install.go
Due: lint-go, test, check-generated

Controller cancels pipelineruns and reconciler reports status
  config/201-controller-role.yaml
  docs/content/docs/guide/running.md
  pkg/action/patch.go
  pkg/action/patch_test.go
  pkg/kubeinteraction/labels.go
  pkg/params/info/events.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelinesascode_github_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/status.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/reconciler/event.go
  pkg/reconciler/event_test.go
  pkg/reconciler/reconciler.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Patch pipelines-as-code configmap for e2e-test
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Scope token creation to the repository by default
  docs/content/docs/guide/authoringprs.md
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: lint-markdown, lint-go, test, check-generated

Add setting to let extra repositories to be scoped
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Add setting to SecretGHAppRepoScoped
  config/302-pac-configmap.yaml
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Fix example for github-add-comment example
  docs/content/docs/guide/authoringprs.md
Due: lint-markdown
