Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: "pkg/provider/github/events_test.go"
- repo: local
  hooks:
  - id: black
    types: [python]
    language: system
    entry: black
    name: "Python check code Formatter"
  - id: pylint
    name: "Python linter"
    entry: pylint
    language: system
    types: [python]
    args: ["-rn", "-sn"]
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false
  - id: check-generated
    name: "Check generated vendor and golden files"
    entry: make
    args: ["check-generated"]
    language: system
    types: [go]
    pass_filenames: false

# TODO: add a lint-py when we have the errors fix
# TODO: add a lint-sh when we have the errors fix
#

Release yaml generated for pac release v0.15.0 on branch release-v0.15.0
  docs/content/VERSION
Due: none

e2e-run and kind install small fixes
  hack/dev/e2e-cleanups
  hack/dev/e2e-run
  hack/dev/kind/install.sh
Due: none

Rephrase the documentation
  config/302-pac-configmap.yaml
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/secrets/basic_auth.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Fixes user verfication, if not allowed then don't proceed
  pkg/pipelineascode/match.go
Due: lint-go, test, check-generated

Reconciler: Retry reporting provider status if failed
  pkg/kubeinteraction/labels.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
  pkg/test/provider/testwebvcs.go
Due: lint-go, test, check-generated

Force controller & watcher goroutine to start "early"
  cmd/pipelines-as-code-controller/main.go
  cmd/pipelines-as-code-watcher/main.go
Due: lint-go, test, check-generated

Release yaml generated for pac release v0.15.1 on branch release-v0.15.1
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.1 on branch release-v0.15.1
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.1 on branch release-v0.15.1
  docs/content/VERSION
Due: none

add file
  testfile
Due: none

Fixes the condition in watcher when to user repo secret
  pkg/reconciler/reconciler.go
Due: lint-go, test, check-generated

Fixes markdownlint error for bare url
  docs/content/docs/guide/resolver.md
Due: lint-markdown

Force watcher goroutine to start early
  pkg/reconciler/controller.go
Due: lint-go, test, check-generated

Added some prints to check pac watcher issue
  cmd/pipelines-as-code-controller/main.go
  cmd/pipelines-as-code-watcher/main.go
  pkg/params/run.go
  pkg/reconciler/controller.go
Due: lint-go, test, check-generated

Added some prints to check pac watcher issue and removed extra param
  cmd/pipelines-as-code-controller/main.go
  pkg/params/run.go
  pkg/reconciler/controller.go
Due: lint-go, test, check-generated

Release yaml generated for pac release v0.15.2 on branch release-v0.15.2
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.2 on branch release-v0.15.2
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.2 on branch release-v0.15.2
  docs/content/VERSION
Due: none

Fix getting remote task uri from another branch
  pkg/provider/github/github.go
Due: lint-go, test, check-generated

Disable colours on windows unconditionally
  pkg/cli/iostreams.go
Due: lint-go, test, check-generated

Resolve tkn pac resolve -f message on bootstrap
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/resolve/resolve.go
Due: lint-markdown, lint-go, test, check-generated

tmate
  .github/workflows/ghcr.yaml.disabled
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

refactor all getLogger function to a common package
  pkg/adapter/adapter_test.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/detect_test.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/detect_test.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/test/logger/logger.go
Due: lint-go, test, check-generated

Don't error out when checking for token expiration on 404
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

fix controller not having sa role to list secret in its own namespace
  config/201-controller-role.yaml
Due: lint-yaml

Fixing git commit to restart CI in docs
  docs/content/docs/install/github_webhook.md
Due: lint-markdown

Fix documentation referencing git amend instead of git commit --amend
  docs/content/docs/install/github_webhook.md
Due: lint-markdown
