Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

black:
  language: system
  entry: black
  name: Python check code Formatter

pylint:
  name: Python linter
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

check-generated:
  name: Check generated vendor and golden files
  entry: make
  args:
  - check-generated
  language: system
  pass_filenames: false

modify webhook unit tests and add documentation for the webhooksecret flag
  docs/content/docs/guide/cli.md
  pkg/cli/webhook/github_test.go
  pkg/cli/webhook/gitlab_test.go
  pkg/cmd/tknpac/setup/root.go
  pkg/random/random.go
  pkg/random/random_test.go
Due: lint-markdown, lint-go, test, check-generated

Update build-multiarch-daily.yaml
  .github/workflows/build-multiarch-daily.yaml
Due: lint-yaml

add errors detection to tkn pac describe
  go.mod
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/cli/cli.go
  pkg/cli/status/status.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/describe/templates/describe.tmpl
  pkg/cmd/tknpac/describe/testdata/TestDescribe-collect_failures.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-live_run_and_repository_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_live_runs.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_repo_status.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-one_live_run.golden
  pkg/cmd/tknpac/list/testdata/TestList-Test_list_repositories_only.golden
  pkg/cmd/tknpac/list/testdata/TestList-Test_list_repositories_only_all_namespaces.golden
  pkg/cmd/tknpac/list/testdata/TestList-Test_list_repositories_only_live_PR.golden
  pkg/cmd/tknpac/list/testdata/TestList-Test_list_repositories_only_specific_namespaces.golden
  pkg/formatting/age.go
  pkg/kubeinteraction/pod_logs.go
  test/gitea_test.go
Due: lint-go, test, check-generated

Add a E2E Pipelines
  .tekton/e2e-tests.yaml
Due: lint-yaml

Add doco for the new tknpac describe/list features
  docs/content/docs/flows/diagram.md
  docs/content/docs/guide/cli.md
  docs/static/images/tkn-pac-repo-describe.png
  docs/static/svg/diagram.svg
  pkg/cli/status/status.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/describe/templates/describe.tmpl
  pkg/cmd/tknpac/describe/testdata/TestDescribe-live_run_and_repository_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_live_runs.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_repo_status.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-one_live_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-one_repository_status_and_optnamespace.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-use_real_time.golden
  pkg/cmd/tknpac/list/list_test.go
  pkg/cmd/tknpac/list/testdata/TestList-Test_with_real_time.golden
Due: lint-markdown, lint-go, test, check-generated

improve tkn pac logs documentation
  docs/content/docs/guide/cli.md
Due: lint-markdown

set cleanup times for push and unify it with other pipelines
  .tekton/doc.yaml
  .tekton/pull-request.yaml
  .tekton/push.yaml
Due: lint-yaml

Remove annotations on e2e pipelines
  .tekton/e2e-tests.yaml
Due: lint-yaml

Add unittests for formatting.PRDuration
  go.mod
  pkg/cli/status/status.go
  pkg/formatting/age.go
  pkg/formatting/age_test.go
  pkg/formatting/vcs_test.go
  pkg/kubeinteraction/pod_logs.go
Due: lint-go, test, check-generated

fixup! add use-realtime and readd --no-headers to tkn pac list
  pkg/cmd/tknpac/list/list.go
Due: lint-go, test, check-generated

improve tkn pac logs documentation
  docs/content/docs/guide/cli.md
  docs/static/images/tkn-pac-cli.png
  docs/static/images/tkn-pac-repo-describe.png
  pkg/cmd/tknpac/list/list.go
  test/github_tkn_pac_cli_test.go
Due: lint-markdown, lint-go, test, check-generated

Show running pr in tkn-pac ls repo
  pkg/cli/status/status.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/list/template/list.tmpl
Due: lint-go, test, check-generated

add use-realtime and readd --no-headers to tkn pac list
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/list/list_test.go
  pkg/cmd/tknpac/list/template/list.tmpl
Due: lint-go, test, check-generated

change colors a bit
  pkg/cli/color.go
Due: lint-go, test, check-generated

spelling in README
  README.md
Due: lint-markdown

Make sure we sanitize the branch in describe
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_repo_status.golden
Due: lint-go, test, check-generated

Let find kubeconfig path on Windows
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/repositorycrd.md
  pkg/params/info/kube.go
Due: lint-markdown, lint-go, test, check-generated

remove vale configmap rule
  .vale/styles/RedHat/ConfigMap.yml
Due: none

Upgrade to gosmee latest
  .github/workflows/kind-e2e-tests.yaml
  docs/content/dev/_index.md
  hack/dev/kind/gitea/gitea-deployment.yaml
  hack/dev/kind/install.sh
Due: lint-markdown, lint-yaml

Use gofumpt extra
  .golangci.yml
  Makefile
  pkg/acl/acl.go
  pkg/adapter/incoming.go
  pkg/consoleui/interface.go
  pkg/consoleui/tektondashboard.go
  pkg/kubeinteraction/secrets.go
  pkg/matcher/annotation_matcher.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/events.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/gitlab/test/test.go
  pkg/resolve/resolve_test.go
  pkg/test/kubernetestint/kubernetesint.go
  pkg/test/provider/testwebvcs.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
  test/pkg/payload/get_entries.go
Due: lint-go, test, lint-yaml, check-generated

use go version file from go.mod
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

fix image gosmee image reference
  docs/content/docs/install/installation.md
  hack/dev/kind/gitea/gitea-deployment.yaml
Due: lint-markdown, lint-yaml

Auto configuring newly created GitHub Repos with GH App
  config/201-controller-role.yaml
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/adapter/adapter.go
  pkg/adapter/adapter_test.go
  pkg/params/info/pac.go
  pkg/params/run.go
  pkg/provider/github/github.go
  pkg/provider/github/repository.go
  pkg/provider/github/repository_test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Move to bitbucket repo to another location
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

fix bitbucket repository name 🤯
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Path conditions:
  black: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  pylint: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  check-generated: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
