Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

black:
  language: system
  entry: black
  name: Python check code Formatter

pylint:
  name: Python linter
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

check-generated:
  name: Check generated vendor and golden files
  entry: make
  args:
  - check-generated
  language: system
  pass_filenames: false

Fix pylint errors
  hack/dev/ghapp_token.py
  hack/dev/kind/gitea/deploy.py
  hack/upload-file-to-github.py
Due: black, pylint

Remove our own parsing time for expiration
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

Add unit test for GetStatusFromTaskStatusOrFromAsking
  pkg/kubeinteraction/status/task_status.go
  pkg/kubeinteraction/status/task_status_test.go
  pkg/reconciler/status.go
  pkg/sort/task_status.go
  pkg/test/clients/clients.go
Due: lint-go, test, check-generated

Fix issue related to repository URL if it contains at the end
  pkg/matcher/repo_runinfo_matcher.go
  pkg/matcher/repo_runinfo_matcher_test.go
Due: lint-go, test, check-generated

Detect properly PAC_DIR install
  hack/dev/kind/install.sh
Due: none

use the same groupname as other in secret creation
  pkg/secrets/basic_auth.go
  test/pkg/secret/secret.go
Due: lint-go, test, check-generated

Add gitea e2e-test for secret hiding feature
  test/gitea_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
  test/pkg/secret/secret.go
  test/testdata/pipelinerun-error-snippet-with-secret.yaml
Due: lint-go, test, lint-yaml, check-generated

Rephrase introduction again
  docs/content/_index.md
Due: lint-markdown

Fix string comparision for ErrorDetectionSimpleRegexp
  pkg/params/settings/config.go
Due: lint-go, test, check-generated

Add gitea e2e-test for secret hiding feature
  test/gitea_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
  test/testdata/pipelinerun-error-snippet-with-secret.yaml
Due: lint-go, test, lint-yaml, check-generated

Separate slow e2e test to nightly
  .github/workflows/kind-nightly.yaml
  Makefile
  test/README.md
  test/gitea_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_pullrequest_oktotest_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_remote_task_annotations_test.go
  test/github_pullrequest_rerequest_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_test.go
  test/github_tkn_pac_cli_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Updated incoming webhook implementation as per the review comments
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
Due: lint-go, test, check-generated

Enhance incoming webhook for github apps If GithubApp is installed on the cluster then no need to provide git_provider spec because for GithubApps we detect the secret and use it
  docs/content/docs/guide/incoming_webhook.md
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/pipelineascode/pipelinesascode_github_test.go
  pkg/pipelineascode/secret.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
Due: lint-markdown, lint-go, test, check-generated

Added e2e test to verify Incoming for GithubApp
  test/githubapp_incoming_test.go
  test/pkg/github/crd.go
  test/pkg/github/setup.go
Due: lint-go, test, check-generated

Enhance incoming webhook for github apps If GithubApp is installed on the cluster then no need to provide git_provider spec because for GithubApps we detect the secret and use it
  pkg/adapter/incoming_test.go
  test/githubapp_incoming_test.go
Due: lint-go, test, check-generated

Add test to cover ListRepos and fixed review comments
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

Only execute the e2e tests on push
  .github/workflows/kind-e2e-tests.yaml
  .github/workflows/kind-nightly.yaml
  Makefile
Due: lint-yaml

Adds console-custom as possible route for OCP web console URL
  pkg/consoleui/openshift.go
Due: lint-go, test, check-generated

Added multi-arch support
  .github/workflows/multi-arch-ghcr.yaml
Due: lint-yaml

Adjust the pac pipeline run on push
  .tekton/generate-coverage-release.yaml
  .tekton/linter.yaml
Due: lint-yaml

Update documentation to reference the github token scoping
  docs/content/docs/guide/privaterepo.md
  docs/content/docs/guide/resolver.md
Due: lint-markdown

Use local gitea now
  .github/workflows/kind-e2e-tests.yaml
  .github/workflows/kind-nightly.yaml
Due: lint-yaml

don't set TEST_GITEA_INTERNAL_URL when using internal gitea
  .github/workflows/kind-e2e-tests.yaml
  .github/workflows/kind-nightly.yaml
Due: lint-yaml

Path conditions:
  black: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  pylint: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  check-generated: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
