Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

black:
  language: system
  entry: black
  name: Python check code Formatter

pylint:
  name: Python linter
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

check-generated:
  name: Check generated vendor and golden files
  entry: make
  args:
  - check-generated
  language: system
  pass_filenames: false

set a static uid in dockerfile
  Dockerfile
Due: none

Update documentation for ingresses and running PRs
  .vale.ini
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/running.md
  docs/content/docs/install/github_apps.md
  docs/content/docs/install/installation.md
  docs/content/docs/install/kubernetes.md
Due: lint-markdown

Revert "Pins down k8s version to avoid failure due to deprecated res in pipelines"
  hack/dev/kind/install.sh
Due: none

Release yaml generated for pac release v0.14.1 on branch release-v0.14.1
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.1 on branch release-v0.14.1
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.1 on branch release-v0.14.1
  docs/content/VERSION
Due: none

Add shell completion on repo for multiple commands
  pkg/cmd/tknpac/deleterepo/delete.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/webhook/update-token.go
Due: lint-go, test, check-generated

let ask the user to install gosmee port forwarder
  docs/content/docs/install/kubernetes.md
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/install.go
  pkg/cmd/tknpac/bootstrap/questions.go
  pkg/cmd/tknpac/bootstrap/templates/gosmee.yaml
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Update documentation about tkn pac logs
  docs/content/docs/guide/running.md
Due: lint-markdown

fix empty lines when generating release.yaml
  hack/generate-releaseyaml.sh
Due: none

Update webhook secret generation
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
  pkg/cli/webhook/github.go
  pkg/cli/webhook/gitlab.go
Due: lint-markdown, lint-go, test, check-generated

add ci check for the generate drelease yaml
  .tekton/pull-request.yaml
Due: lint-yaml

Add completions for namespaces
  pkg/cmd/tknpac/deleterepo/delete.go
  pkg/cmd/tknpac/logs/logs.go
Due: lint-go, test, check-generated

Add --last to tkn pac logs
  docs/content/docs/guide/running.md
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/logs/logs_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
Due: lint-markdown, lint-go, test, check-generated

Release yaml generated for pac release v0.14.2 on branch release-v0.14.2
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.2 on branch release-v0.14.2
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.14.2 on branch release-v0.14.2
  docs/content/VERSION
Due: none

Add condition to check existance of GithubApp only for github repo and not for Gitlab or Bitbucket
  pkg/cmd/tknpac/create/repository.go
Due: lint-go, test, check-generated

Use gitea from the nightly cluster instead from kind
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Hide secrets from log snippets
  .vale.ini
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/settings.md
  pkg/adapter/incoming.go
  pkg/kubeinteraction/kubeinteraction.go
  pkg/kubeinteraction/secrets.go
  pkg/pipelineascode/secret.go
  pkg/reconciler/status.go
  pkg/secrets/secrets.go
  pkg/secrets/secrets_test.go
  pkg/secrets/types/types.go
  pkg/test/kubernetestint/kubernetesint.go
Due: lint-markdown, lint-go, test, check-generated

Workaround some gitea bugs
  pkg/provider/gitea/gitea.go
  test/gitea_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/test.go
  test/testdata/pipelinerun_git_clone_private-gitea.yaml
Due: lint-go, test, lint-yaml, check-generated

fixes pod breaking due to nil client & removes duplication
  pkg/provider/github/status.go
  pkg/reconciler/reconciler.go
Due: lint-go, test, check-generated

refactor the text in a common code
  pkg/params/run.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
Due: lint-go, test, check-generated

Fix: watcher was breaking when taskref was used in pipelinerun
  pkg/secrets/secrets.go
  pkg/secrets/secrets_test.go
Due: lint-go, test, check-generated

Path conditions:
  black: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  pylint: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  check-generated: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
