Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

black:
  language: system
  entry: black
  name: Python check code Formatter

pylint:
  name: Python linter
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

check-generated:
  name: Check generated vendor and golden files
  entry: make
  args:
  - check-generated
  language: system
  pass_filenames: false

parse payload for cancelling pipelineruns
  pkg/params/info/events.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
Due: lint-go, test, check-generated

Scope token creation to the repository by default
  docs/content/docs/guide/authoringprs.md
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: lint-markdown, lint-go, test, check-generated

Add setting to let extra repositories to be scoped
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Add setting to SecretGHAppRepoScoped
  config/302-pac-configmap.yaml
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Fix example for github-add-comment example
  docs/content/docs/guide/authoringprs.md
Due: lint-markdown

Detect an ingress with dashboard target on kube
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/install.go
Due: lint-go, test, check-generated

Don't scope token to the base repo on gh pull request
  .github/workflows/kind-e2e-tests.yaml
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: lint-go, test, lint-yaml, check-generated

Update ghapp token to use pass
  hack/dev/ghapp_token.py
Due: black, pylint

Fix github apps and scoping on issuecomment/retest
  pkg/provider/github/github.go
Due: lint-go, test, check-generated

Add my e2e-run and zsh completion scripts
  hack/dev/_e2e-run
  hack/dev/e2e-run
Due: none

switches to listers for querying repositories
  config/202-watcher-role.yaml
  pkg/reconciler/controller.go
  pkg/reconciler/finalizer.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: lint-go, test, lint-yaml, check-generated

statuses.md doc update and rephrasing
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/running.md
  docs/content/docs/guide/statuses.md
  docs/static/images/pr-cancel.png
Due: lint-markdown

Doc rephrase
  docs/content/docs/guide/authoringprs.md
Due: lint-markdown

Update youtube video walkthought
  README.md
  docs/content/_index.md
Due: lint-markdown

Updates Priority Queue to works as normal FIFO Q
  pkg/sync/common.go
  pkg/sync/priority_queue.go
  pkg/sync/priority_queue_test.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
  pkg/sync/semaphore.go
  pkg/sync/semaphore_test.go
Due: lint-go, test, check-generated

Controller now adds execution order annotation for watcher
  pkg/action/patch.go
  pkg/action/patch_test.go
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/concurrency.go
  pkg/pipelineascode/concurrency_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/status.go
Due: lint-go, test, check-generated

Watchers creates queue based on execution order in annotation
  pkg/reconciler/emit_metrics.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/queue_pipelineruns.go
  pkg/reconciler/reconciler.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
  test/gitea_test.go
  test/testdata/pipelineruns-ordered-execution.yaml
Due: lint-go, test, lint-yaml, check-generated

Reuse patch pipelinerun code in reconciler
  pkg/action/patch.go
  pkg/action/patch_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/status.go
  pkg/reconciler/reconciler.go
Due: lint-go, test, check-generated

Handle ref/heads/* for both base branch and target branch
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: lint-go, test, check-generated

remove non ending alphanumeric characters from labels
  pkg/formatting/k8labels.go
  pkg/formatting/k8labels_test.go
Due: lint-go, test, check-generated

ghapp_token improvements and documentation
  hack/dev/ghapp_token.py
Due: black, pylint

use github apps installation token to run the test
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  test/pkg/github/setup.go
Due: lint-go, test, check-generated

Release yaml generated for pac release v0.15.0 on branch release-v0.15.0
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.15.0 on branch release-v0.15.0
  release.yaml
Due: lint-yaml

Path conditions:
  black: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  pylint: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  check-generated: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
