Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

black:
  language: system
  entry: black
  name: Python check code Formatter

pylint:
  name: Python linter
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

check-generated:
  name: Check generated vendor and golden files
  entry: make
  args:
  - check-generated
  language: system
  pass_filenames: false

Auto configuring newly created GitHub Repos with GH App
  config/201-controller-role.yaml
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/adapter/adapter.go
  pkg/adapter/adapter_test.go
  pkg/params/info/pac.go
  pkg/params/run.go
  pkg/provider/github/github.go
  pkg/provider/github/repository.go
  pkg/provider/github/repository_test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Show events in tkn pac describe
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/describe/templates/describe.tmpl
  pkg/cmd/tknpac/describe/testdata/TestDescribe-collect_failures.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-live_run_and_repository_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_live_runs.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_repo_status.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-one_live_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-repository_events.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-use_real_time.golden
  pkg/events/emit.go
  pkg/events/emit_test.go
  pkg/kubeinteraction/events.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
  pkg/test/clients/clients.go
Due: lint-go, test, check-generated

reduce keep-runs to 2
  .tekton/doc.yaml
  .tekton/e2e-tests.yaml
  .tekton/pull-request.yaml
  .tekton/push.yaml
  .tekton/release-pipeline.yaml
Due: lint-yaml

use go version file from go.mod
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Make sure we sanitize the branch in describe
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_repo_status.golden
Due: lint-go, test, check-generated

Add -f as alias to file-name
  pkg/cmd/tknpac/generate/generate.go
Due: lint-go, test, check-generated

Use ClusterTasks instead of fetching remotely
  .tekton/doc.yaml
  .tekton/pull-request.yaml
  .tekton/push.yaml
  .tekton/release-pipeline.yaml
Due: lint-yaml

Exposes config validation and defaulting func & uses same internally
  pkg/adapter/adapter.go
  pkg/adapter/adapter_test.go
  pkg/cmd/tknpac/resolve/resolve_test.go
  pkg/hub/get_test.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/params/info/defaults.go
  pkg/params/info/pac.go
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
  pkg/params/settings/validation.go
  pkg/params/settings/validation_test.go
  pkg/pipelineascode/pipelinesascode_github_test.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/events_test.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/github/repository_test.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/reconciler/cleanup_test.go
  pkg/reconciler/reconciler_test.go
Due: lint-go, test, check-generated

Allow describing a pipelinerun
  docs/content/docs/guide/cli.md
  pkg/cli/cli.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/describe/templates/describe.tmpl
  pkg/cmd/tknpac/describe/testdata/TestDescribe-collect_failures.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-live_run_and_repository_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_repo_status.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-one_live_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-one_repository_status_and_optnamespace.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-repository_events.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-target_a_pipelinerun.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-use_real_time.golden
  pkg/kubeinteraction/events.go
Due: lint-markdown, lint-go, test, check-generated

golang images on gcr is 404 now
  .tekton/e2e-tests.yaml
  .tekton/pull-request.yaml
  .tekton/push.yaml
  Dockerfile
Due: lint-yaml

Increase unittest timeout
  Makefile
Due: none

Fix dashboard url by checking for empty string & make sure it is a valid URL
  pkg/params/run.go
  pkg/params/settings/validation.go
  pkg/params/settings/validation_test.go
Due: lint-go, test, check-generated

Set auto configure new github repo as false
  pkg/params/settings/config.go
Due: lint-go, test, check-generated

Update tkn pac generate command
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/generate/generate_test.go
  pkg/params/settings/validation.go
Due: lint-go, test, check-generated

Fix linter error wrapping key should be %w not %v
  pkg/params/settings/validation.go
Due: lint-go, test, check-generated

Release yaml generated for pac release v0.13.0 on branch release-v0.13.0
  release.k8s.yaml
Due: lint-yaml

Release yaml generated for pac release v0.13.0 on branch release-v0.13.0
  release.yaml
Due: lint-yaml

Release yaml generated for pac release v0.13.0 on branch release-v0.13.0
  docs/content/VERSION
Due: none

Adds TektonDashboard URL field in pipelines-as-code configmap
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
Due: lint-markdown, lint-yaml

remove extra err != nil check
  pkg/cmd/tknpac/describe/describe.go
Due: lint-go, test, check-generated

Fixes involved object in Event emitted
  pkg/apis/pipelinesascode/register.go
  pkg/events/emit.go
  pkg/events/emit_test.go
Due: lint-go, test, check-generated

Fix help message for tkn-pac generate command
  pkg/cmd/tknpac/generate/generate.go
Due: lint-go, test, check-generated

Validate setting only if defined
  pkg/params/settings/validation.go
  pkg/params/settings/validation_test.go
Due: lint-go, test, check-generated

Reuses skipped checkrun, as we can't remove it
  pkg/adapter/adapter.go
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/provider/github/github.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/reconciler/event.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
Due: lint-go, test, check-generated

Fixes condition to use secret referred in Repository CR
  pkg/pipelineascode/match.go
  pkg/pipelineascode/secret.go
Due: lint-go, test, check-generated

Path conditions:
  black: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  pylint: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  check-generated: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
