Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: "pkg/provider/github/events_test.go"
- repo: local
  hooks:
  - id: black
    types: [python]
    language: system
    entry: black
    name: "Python check code Formatter"
  - id: pylint
    name: "Python linter"
    entry: pylint
    language: system
    types: [python]
    args: ["-rn", "-sn"]
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false
  - id: check-generated
    name: "Check generated vendor and golden files"
    entry: make
    args: ["check-generated"]
    language: system
    types: [go]
    pass_filenames: false

# TODO: add a lint-py when we have the errors fix
# TODO: add a lint-sh when we have the errors fix
#

run go mod tidy and vendor
  go.mod
  go.sum
Due: none

Make sure we report properly
  pkg/pipelineascode/match.go
Due: lint-go, test, check-generated

Don't split stupidly multi yaml documents on ---
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/pipelinerun-splitted-with-dashes-in-middle.yaml
Due: lint-go, test, lint-yaml, check-generated

Update go-github in test v47
  go.mod
  test/pkg/logs/pod.go
Due: lint-go, test, check-generated

Cleanup: removes roles not required by controller/watcher
  config/201-controller-role.yaml
  config/202-watcher-role.yaml
Due: lint-yaml

Don't split stupidly multi yaml documents on ---
  hack/dev/kind/gitea/deploy.py
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/pipelinerun-splitted-with-dashes-in-middle.yaml
Due: black, pylint, lint-go, test, lint-yaml, check-generated

run go mod tidy and vendor
  go.mod
Due: none

black/pylint on python files in CI/pre-commit
  .pre-commit-config.yaml
  .pylintrc
  .tekton/pull-request.yaml
  Makefile
  docs/content/dev/_index.md
  hack/dev/gh-replay-events.py
  hack/dev/ghapp_token.py
  hack/dev/kind/gitea/deploy.py
  hack/upload-file-to-github.py
Due: black, pylint, lint-markdown, lint-yaml

Don't split stupidly multi yaml documents on ---
  hack/dev/kind/gitea/deploy.py
Due: black, pylint

Readd routes listing right for controller/watcher
  config/201-controller-role.yaml
  config/202-watcher-role.yaml
Due: lint-yaml

Update to tekton/pipeline 0.40.2 to match cli release
  go.mod
  go.sum
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/param_conversion.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/taskref_conversion.go
  vendor/modules.txt
Due: none

Update gitea python script to run smee for both Kubernetes and Openshift
  hack/dev/kind/gitea/deploy.py
  hack/dev/kind/gitea/gitea-deployment.yaml
Due: black, pylint, lint-yaml

Allow all URL on Webhook in Gitea
  .tekton/pull-request.yaml
  hack/dev/kind/gitea/deploy.py
  hack/dev/kind/gitea/gitea-deployment.yaml
Due: black, pylint, lint-yaml

Fix TestGiteaConfigMaxKeepRun race
  hack/dev/ghapp_token.py
  test/gitea_test.go
Due: black, pylint, lint-go, test, check-generated

Teardown the created repository on gitea after test
  test/gitea_test.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
Due: lint-go, test, check-generated

kind-e2e-tests: collect events
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Fix TestGiteaClusterTasks race.
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: lint-go, test, check-generated

TestGiteaMaxKeeprun: add a sleep 😴
  test/gitea_test.go
Due: lint-go, test, check-generated

fail as soon as possible on e2e tests
  .github/workflows/kind-e2e-tests.yaml
Due: lint-yaml

Revert "Added ppc64le support" until we figure out an optimise way
  .github/workflows/ghcr.yaml
Due: lint-yaml

don't hardcore GITEA_USER and GITEA_PASSWORD
  hack/dev/kind/gitea/deploy.py
Due: black, pylint

TestGithubPullRequestConcurrency: fix race
  test/github_pullrequest_concurrency_test.go
Due: lint-go, test, check-generated

Fix sending ok-to-test on ghe
  test/pkg/payload/send.go
Due: lint-go, test, check-generated

Defines global max and default value for max-runs
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/params/info/pac.go
  pkg/params/run.go
  pkg/reconciler/cleanup.go
  pkg/reconciler/cleanup_test.go
Due: lint-markdown, lint-go, test, lint-yaml, check-generated
