Repository openshift-pipelines/pipelines-as-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, lint-markdown, lint-go, test, lint-yaml, check-generated

black:
  language: system
  entry: black
  name: Python check code Formatter

pylint:
  name: Python linter
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

check-generated:
  name: Check generated vendor and golden files
  entry: make
  args:
  - check-generated
  language: system
  pass_filenames: false

Add target_namespace env variable
  docs/content/docs/guide/authoringprs.md
  pkg/pipelineascode/match.go
  pkg/templates/templating.go
  pkg/templates/templating_test.go
Due: lint-markdown, lint-go, test, check-generated

rename templates name around
  .tekton/doc.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
Due: lint-yaml

Fix creating windows binaries
  .github/workflows/kind-e2e-tests.yaml
  Makefile
Due: lint-yaml

Fix makefiel for windows
  Makefile
Due: none

use the same groupname as other in secret creation
  pkg/secrets/basic_auth.go
  test/pkg/secret/secret.go
Due: lint-go, test, check-generated

Skip Tekton Resolver types in PAC Resolver
  docs/content/docs/guide/resolver.md
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/pipelinerun-pipelinerun-resolver.yaml
  pkg/resolve/testdata/pipelinerun-task-resolver.yaml
Due: lint-markdown, lint-go, test, lint-yaml, check-generated

Make our own parsing for token expiration
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: lint-go, test, check-generated

make sure we always processing error in namespace
  pkg/pipelineascode/pipelineascode.go
Due: lint-go, test, check-generated

Update pkg/provider/github/github.go
  pkg/provider/github/github.go
Due: lint-go, test, check-generated

Start completion from the git toplevel
  hack/dev/_e2e-run
Due: none

Don't try to gpgsign or it will fail
  test/pkg/gitea/scm.go
Due: lint-go, test, check-generated

Fix StartingPipelineRunText and use tkn instead of tkn-pac for log
  pkg/params/run.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
Due: lint-go, test, check-generated

Support tekton-pipeline >=0 0.44.0 minimal status
  config/202-watcher-role.yaml
  go.sum
  pkg/kubeinteraction/status/task_status.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/status.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/status.go
  pkg/sort/task_status.go
  pkg/sort/task_status_test.go
  vendor/github.com/tektoncd/pipeline/pkg/status/status.go
  vendor/modules.txt
Due: lint-go, test, lint-yaml, check-generated

Fix configmap watcher update issue
  cmd/pipelines-as-code-controller/main.go
  pkg/adapter/adapter.go
  pkg/adapter/adapter_test.go
  pkg/params/run.go
  pkg/reconciler/controller.go
Due: lint-go, test, check-generated

add gitea E2E test to test log snippet
  test/gitea_test.go
  test/testdata/pipelinerun-error-snippet.yaml
Due: lint-go, test, lint-yaml, check-generated

some more cosmetics to show nicer gitea status breakdown
  pkg/provider/gitea/gitea.go
Due: lint-go, test, check-generated

Skip task step logs which say that it is skipped
  pkg/kubeinteraction/status/task_status.go
Due: lint-go, test, check-generated

Fix WaitForSecretDeletion
  test/pkg/gitea/test.go
Due: lint-go, test, check-generated

go 1.20 support
  Makefile
  test/init_test.go
Due: lint-go, test, check-generated

adjust regexp for TestGiteaRetestAfterPush
  test/gitea_test.go
Due: lint-go, test, check-generated

Update golang image
  .tekton/e2e-tests.yaml
  .tekton/go.yaml
  .tekton/push.yaml
Due: lint-yaml

fix exiting from task on ubi-micro (need to be from a script)
  test/testdata/failures/pipelinerun-exit-1.yaml
Due: lint-yaml

Add dependabot in OWNERS
  OWNERS
Due: none

Path conditions:
  black: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  pylint: any of: \.py$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  check-generated: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
