Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Add support for multiple catalog hubs (#1351)
  config/302-pac-configmap.yaml
  docs/content/docs/guide/resolver.md
  docs/content/docs/install/settings.md
  hack/dev/kind/install.sh
  pkg/hub/get.go
  pkg/hub/get_test.go
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
  pkg/resolve/resolve.go
  test/testdata/pipeline_in_tektondir.yaml
  test/testdata/pipelinerun_remote_task_annotations.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Make sure we test for Pending Approval
  docs/content/docs/guide/policy.md
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Refactor filtering of the eventype to its own func
  pkg/provider/github/detect.go
Due: push-generate-coverage-releaseyaml, go-testing

Allow setting policies on actions
  config/300-repositories.yaml
  docs/content/docs/guide/policy.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/params/info/events.go
  pkg/pipelineascode/match.go
  pkg/policy/policy.go
  pkg/policy/policy_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/detect_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/detect.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/test/provider/testwebvcs.go
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
  test/pkg/repository/create.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix a bunch of gitea e2e random failures
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Update custom param doc with proper syntax for filter
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation

Fix goreleaser.yaml indentation and deprecations
  .goreleaser.yml
Due: none

Update custom param doc with proper syntax for filter (#1355)
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation

Fix extra space in binary names
  .goreleaser.yml
Due: none

Fix branch matching based on base name
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix branch matching based on base name (#1352)
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated for pac release v0.17.5 on branch release-v0.17.5
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.5 on branch release-v0.17.5
  release.yaml
Due: none

Release yaml generated for pac release v0.17.5 on branch release-v0.17.5
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.17.5 on branch release-v0.17.x
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.5 on branch release-v0.17.x
  release.yaml
Due: none

Release yaml generated for pac release v0.17.5 on branch release-v0.17.x
  docs/content/VERSION
Due: doc-generation

Fix message when the repository cannot be matched
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing

more return original pipelinerun vs. nil on patch
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

fix goreleaser deprecation notice
  .goreleaser.yml
Due: none

Update status check for skipped pipelinerun from skipped to Pending approval
  pkg/pipelineascode/match.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Simplify auto-generated pac-gitauth secret URL
  docs/content/docs/guide/privaterepo.md
  pkg/secrets/basic_auth.go
  pkg/secrets/basic_auth_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Enable default metrics observability for pac controller
  config/400-controller.yaml
  config/401-controller-service.yaml
Due: push-generate-coverage-releaseyaml

Release yaml generated for pac release v0.19.3 on branch release-v0.19.3
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.3 on branch release-v0.19.3
  release.yaml
Due: none

Release yaml generated for pac release v0.19.3 on branch release-v0.19.3
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.19.3 on branch release-v0.19.3
  pkg/params/version/version.txt
Due: none

Release yaml generated for pac release v0.19.3 on branch release-v0.19.x
  release.k8s.yaml
Due: none

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/***)
  go-testing: any of: ***/*.go
