Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Release yaml generated for pac release v0.17.2 on branch release-v0.17.2
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.2 on branch release-v0.17.2
  release.yaml
Due: none

Release yaml generated for pac release v0.17.2 on branch release-v0.17.2
  docs/content/VERSION
Due: doc-generation

Support custom params on CR
  config/300-repositories.yaml
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/template.go
  pkg/pipelineascode/template_test.go
  pkg/templates/templating.go
  pkg/templates/templating_test.go
  test/gitea_custom_console_dashboard_test.go
  test/gitea_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
  test/pkg/logs/pod.go
  test/pkg/wait/logs.go
  test/testdata/params.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

add fix-markdownlint makefile target
  Makefile
Due: none

Fix label issue for original-prname
  pkg/resolve/resolve.go
Due: push-generate-coverage-releaseyaml, go-testing

Add -f to pr logs command
  pkg/params/run.go
Due: push-generate-coverage-releaseyaml, go-testing

Add client side URL validation for Tekton Dashboard URL
  pkg/cmd/tknpac/bootstrap/install.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix TestGiteaPullRequest e2e failure
  test/testdata/pipelinerun_remote_pipeline_annotations.yaml
Due: none

Report pipelinerun error properly
  docs/content/docs/guide/statuses.md
  pkg/pipelineascode/pipelineascode.go
  test/gitea_test.go
  test/pkg/wait/logs.go
  test/testdata/failures/bad-runafter-task.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Extend scope of a GithubApp token to multiple repos in a perticular namespace
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/pipelineascode/match.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

include -f into the code part or it will look weird
  pkg/params/run.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix regexp for error reporting
  config/302-pac-configmap.yaml
Due: none

Sync vale to latest RHT rules or it will fails in CI
  .vale/styles/RedHat/Abbreviations.yml
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/Conjunctions.yml
  .vale/styles/RedHat/ConsciousLanguage.yml
  .vale/styles/RedHat/Contractions.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/Ellipses.yml
  .vale/styles/RedHat/HeadingPunctuation.yml
  .vale/styles/RedHat/Headings.yml
  .vale/styles/RedHat/OxfordComma.yml
  .vale/styles/RedHat/PascalCamelCase.yml
  .vale/styles/RedHat/PassiveVoice.yml
  .vale/styles/RedHat/ReleaseNotes.yml
  .vale/styles/RedHat/SelfReferentialText.yml
  .vale/styles/RedHat/SentenceLength.yml
  .vale/styles/RedHat/SimpleWords.yml
  .vale/styles/RedHat/Slash.yml
  .vale/styles/RedHat/Spacing.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
  .vale/styles/RedHat/Usage.yml
  .vale/styles/RedHat/UserReplacedValues.yml
Due: none

Fix on-cel-expression used for event=push and target_branch=main
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
Due: push-generate-coverage-releaseyaml, go-testing

Move pipelinerun labels to pipelinerun annotation
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/resolve/basic_auth_secret.go
  pkg/cmd/tknpac/resolve/testdata/TestResolveFilenames-Resolve_templates_no_prefix.golden
  pkg/cmd/tknpac/resolve/testdata/TestResolveFilenames-Resolve_templates_with_prefix.golden
  pkg/events/emit.go
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/cleanups_test.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/reconciler/cleanup_test.go
  pkg/reconciler/controller.go
  pkg/reconciler/emit_metrics.go
  pkg/reconciler/event.go
  pkg/reconciler/event_test.go
  pkg/reconciler/finalizer.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/queue_pipelineruns.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status.go
  pkg/resolve/resolve.go
  pkg/secrets/basic_auth.go
  pkg/sync/queue_manager_test.go
  pkg/test/tekton/genz.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Remove the gif easter egg
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing

Add information on 'tkn pac info' command for Pipelines as Code installation
  docs/content/docs/guide/cli.md
  pkg/adapter/incoming.go
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/info/install.go
  pkg/cmd/tknpac/info/install_test.go
  pkg/cmd/tknpac/info/root.go
  pkg/cmd/tknpac/info/templates/info.tmpl
  pkg/cmd/tknpac/info/testdata/TestInfo/no_repos.golden
  pkg/cmd/tknpac/info/testdata/TestInfo/with_github_app.golden
  pkg/cmd/tknpac/info/testdata/TestInfo/without_github_app.golden
  pkg/cmd/tknpac/root.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/test/clients/clients.go
  test/pkg/github/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Don't show the secret content if we cannot create the secret
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

Report pipelinerun error properly
  docs/content/docs/guide/statuses.md
  pkg/pipelineascode/pipelineascode.go
  test/testdata/failures/bad-runafter-task.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Backport fix to add scopes to user apps
  vendor/code.gitea.io/sdk/gitea/user_app.go
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go
