Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Fix e2e failure for TestGiteaParamsOnRepoCR
  test/gitea_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Only rebuild the Docker image when Go files changes
  .github/workflows/ghcr.yaml
Due: none

convert .tekton/release-pipeline.yaml to use git
  .tekton/release-pipeline.yaml
Due: none

Resolve panic error in PAC controller caused by concurrent Map writes during ConfigMap update
  pkg/params/settings/config.go
Due: push-generate-coverage-releaseyaml, go-testing

Use sync.Map instead of map
  pkg/hub/get.go
  pkg/hub/get_test.go
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix resolve arguments help and extra arguments
  pkg/cmd/tknpac/resolve/resolve.go
Due: push-generate-coverage-releaseyaml, go-testing

Create service monitor for pac controller
  config/openshift/20-monitoring.yaml
Due: push-generate-coverage-releaseyaml

Revert "Simplify branchMatch function"
  pkg/matcher/annotation_matcher.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix the branchMatching for refs/tags
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix the path of release yaml in release script
  .tekton/release-pipeline.yaml
Due: none

Revert "Fix the path of release yaml in release script"
  .tekton/release-pipeline.yaml
Due: none

generate release yaml in current dir
  .tekton/release-pipeline.yaml
Due: none

Fix branch push command in release pipeline
  .tekton/release-pipeline.yaml
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/8584c2520b00ab98538f6c4931c62099b69480a2 for release v0.20.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/8584c2520b00ab98538f6c4931c62099b69480a2 for release v0.20.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

update stabe tags only when releasing latest ver
  .tekton/release-pipeline.yaml
  hack/compare-versions.py
Due: none

add unit test for TestGetTaskURI
  pkg/provider/github/github_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Paginate listing github calls
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix /ok-to-test behaviour and add remember-ok-to-test flag
  config/302-pac-configmap.yaml
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
  pkg/params/settings/validation.go
  pkg/params/settings/validation_test.go
  pkg/pipelineascode/match.go
  pkg/provider/bitbucketcloud/acl.go
  pkg/provider/bitbucketcloud/acl_test.go
  pkg/provider/bitbucketserver/acl.go
  pkg/provider/bitbucketserver/acl_test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/gitea_access_control_test.go
  test/pkg/gitea/scm.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Handle branch name with slash
  docs/content/docs/guide/resolver.md
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add source repo url information to standard parameters
  docs/content/docs/guide/authoringprs.md
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
  test/testdata/pipelinerun-standard-params-display.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

fix gitea tag push being broken
  pkg/provider/gitea/parse_payload.go
  test/gitea_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/setup.go
  test/pkg/wait/wait.go
Due: push-generate-coverage-releaseyaml, go-testing

add support for tag push on gitea
  docs/content/docs/install/gitlab.md
  pkg/cli/webhook/gitlab.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
