Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Use more pre-commit instead of make target
  .pre-commit-config.yaml
  .tekton/linter.yaml
Due: none

fix some errors found by shellcheck
  hack/dev/e2e-cleanups
  hack/dev/e2e-run
Due: none

fix gh-workflow-ci.sh script
  hack/gh-workflow-ci.sh
Due: none

Increase the test coverage for consoleui/openshift
  pkg/consoleui/openshift_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/0bd8115f207c2ef952cae72742c9f09608c20f0c for release 0.23.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/0bd8115f207c2ef952cae72742c9f09608c20f0c for release 0.23.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Corrected metrics title
  docs/content/docs/install/metrics.md
Due: doc-generation

Add docs generation script
  hack/gendocs.sh
Due: none

add release.yaml
  release.k8s.yaml
  release.yaml
Due: none

Update version to v0.23.0
  release.k8s.yaml
  release.yaml
Due: none

Add namespace argument in the script
  hack/second-controller.py
Due: none

Use a mutex when updating the PAC info
  pkg/adapter/adapter_test.go
  pkg/params/run.go
Due: push-generate-coverage-releaseyaml, go-testing

Revised if statement to address validation of names
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing

ignore coverage files in gitignore
  .gitignore
Due: none

Add support for fetching pipeline from hub
  docs/content/dev/_index.md
  docs/content/docs/guide/customparams.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/install/operator_installation.md
  pkg/hub/get.go
  pkg/hub/get_test.go
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Readd slack notification on failure
  .github/workflows/kind-e2e-tests.yaml
Due: none

Only report failed kind e2e when not pull request
  .github/workflows/kind-e2e-tests.yaml
Due: none

fix if conditions on kind-e2e-tests
  .github/workflows/kind-e2e-tests.yaml
Due: none

Make sure to make the secret conforms to k8 naming
  pkg/formatting/k8labels.go
  pkg/formatting/k8labels_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure to remove duplicates from changed files
  pkg/changedfiles/changedfiles.go
  pkg/changedfiles/changedfiles_test.go
  pkg/customparams/standard.go
  pkg/matcher/cel.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/gitea_params_test.go
  test/pkg/wait/logs.go
  test/testdata/TestGiteaParamsChangedFilesCEL-changed-files-pullrequest-params-1.golden
  test/testdata/TestGiteaParamsChangedFilesCEL-changed-files-pullrequest-params-2.golden
  test/testdata/TestGiteaParamsChangedFilesCEL-changed-files-push-params-1.golden
  test/testdata/TestGiteaParamsChangedFilesCEL-changed-files-push-params-2.golden
  test/testdata/pipelinerun-cel-params-pullrequest.yaml
  test/testdata/pipelinerun-cel-params-push.yaml
Due: push-generate-coverage-releaseyaml, go-testing

e2e: add more log of where the github push going
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/github_tkn_pac_cli_test.go
  test/pkg/github/pr.go
Due: push-generate-coverage-releaseyaml, go-testing

Make github e2e test a struct instead of a long argument
  test/github_config_maxkeepruns_test.go
  test/github_pullrequest_oktotest_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_rerequest_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/pkg/github/pr.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix matching title on CEL e2e tests
  pkg/provider/gitea/parse_payload.go
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_pullrequest_test.go
  test/github_push_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/github_tkn_pac_cli_test.go
  test/pkg/github/pr.go
  test/testdata/pipelinerun-cel-annotation-for-title-match.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Add on-comment annotation to match a PR on comment
  .golangci.yml
  docs/content/docs/guide/authoringprs.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/params/info/events.go
  pkg/pipelineascode/match.go
  pkg/policy/policy.go
  pkg/provider/bitbucketcloud/detect.go
  pkg/provider/bitbucketserver/detect.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/detect_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/reconciler/event.go
  test/gitea_test.go
  test/github_pullrequest_test_comment_test.go
  test/gitlab_merge_request_test.go
  test/testdata/pipelinerun-on-comment-annotation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/00b6cfa81f81098688d514f88b6f8c3a5f8c18c0 for release 0.24.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
