Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/bba037c732d03ff2ba27650ba37ac6a1e0792c34 for release v0.28.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/bba037c732d03ff2ba27650ba37ac6a1e0792c34 for release v0.28.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Fix vale config issue
  .vale/styles/RedHat/TermsErrors.yml
Due: none

Fix typo in docs make command
  docs/content/dev/_index.md
Due: doc-generation

Fix gitauth secrets cleanup
  pkg/kubeinteraction/kubeinteraction.go
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

Add new metric to show duration all pipelineruns have taken
  docs/content/docs/install/metrics.md
  pkg/metrics/metrics.go
  pkg/reconciler/emit_metrics.go
  pkg/reconciler/emit_metrics_test.go
  vendor/knative.dev/pkg/metrics/metricstest/metricstest.go
  vendor/knative.dev/pkg/metrics/metricstest/resource_metrics.go
  vendor/knative.dev/pkg/metrics/testing/config.go
  vendor/modules.txt
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Random thing
  .tekton/go.yaml
  cmd/tkn-pac/main.go
Due: push-generate-coverage-releaseyaml, go-testing

Back to the future
  .tekton/go.yaml
Due: none

Fix markdownlint error
  docs/content/dev/_index.md
Due: doc-generation

Fix ci by waiting before applying configmap
  hack/dev/kind/install.sh
Due: none

Add new metric to show number of running pipelineruns
  docs/content/docs/install/metrics.md
  pkg/metrics/metrics.go
  pkg/reconciler/emit_metrics_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Install PyYAML package using system apt or dnf
  hack/gh-workflow-ci.sh
Due: none

docs(github): improve comments for installation ID retrieval
  pkg/provider/github/app/token.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/a10162c315c7bca601d8ef7775df6bc7ead74f3c
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Fix tag ref for Bitbucket Cloud
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix hugo-book theme deprecation errors
  docs/themes/hugo-book/.github/workflows/main.yml
  docs/themes/hugo-book/README.md
  docs/themes/hugo-book/assets/search.js
  docs/themes/hugo-book/exampleSite/hugo.toml
  docs/themes/hugo-book/exampleSite/hugo.yaml
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.content
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.json
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/scss/book.scss_e129fe35b8d0a70789c8a08429469073.content
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/scss/book.scss_e129fe35b8d0a70789c8a08429469073.json
  docs/themes/hugo-book/layouts/partials/docs/brand.html
  docs/themes/hugo-book/layouts/partials/docs/date.html
  docs/themes/hugo-book/layouts/partials/docs/html-head.html
  docs/themes/hugo-book/layouts/partials/docs/menu.html
  docs/themes/hugo-book/layouts/partials/docs/search.html
  docs/themes/hugo-book/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.content
  docs/themes/hugo-book/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.json
  docs/themes/hugo-book/static/flexsearch.min.js
  docs/themes/hugo-book/static/fuse.min.js
  docs/themes/hugo-book/theme.toml
Due: doc-generation

Add new metric to show number of running pipelineruns
  docs/content/docs/install/metrics.md
  pkg/metrics/injection.go
  pkg/metrics/metrics.go
  pkg/reconciler/emit_metrics_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix vale config regexp issue
  .vale/styles/RedHat/TermsErrors.yml
Due: none

Update vale rules
  .vale/styles/RedHat/ObviousTerms.yml
  .vale/styles/RedHat/TermsWarnings.yml
Due: none

Fix building with old Hugo versions
  docs/themes/hugo-book/layouts/partials/docs/html-head.html
Due: doc-generation

Fix repository name breaking for Bitbucket Cloud when it's not in url slug form
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketcloud/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

gh-workflow-ci: fix checking binary existence
  hack/gh-workflow-ci.sh
Due: none

feat: pin Hugo version
  .tekton/doc.yaml
  Makefile
  docs/content/dev/_index.md
  hack/download-hugo.sh
Due: doc-generation

Revert "Fix building with old Hugo versions"
  docs/themes/hugo-book/layouts/partials/docs/html-head.html
Due: doc-generation

Revert "Fix hugo-book theme deprecation errors"
  docs/themes/hugo-book/.github/workflows/main.yml
  docs/themes/hugo-book/README.md
  docs/themes/hugo-book/assets/search.js
  docs/themes/hugo-book/exampleSite/config.toml
  docs/themes/hugo-book/exampleSite/config.yaml
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.content
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.json
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/scss/book.scss_e129fe35b8d0a70789c8a08429469073.content
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/scss/book.scss_e129fe35b8d0a70789c8a08429469073.json
  docs/themes/hugo-book/layouts/partials/docs/brand.html
  docs/themes/hugo-book/layouts/partials/docs/date.html
  docs/themes/hugo-book/layouts/partials/docs/html-head.html
  docs/themes/hugo-book/layouts/partials/docs/menu.html
  docs/themes/hugo-book/layouts/partials/docs/search.html
  docs/themes/hugo-book/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.content
  docs/themes/hugo-book/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.json
  docs/themes/hugo-book/static/flexsearch.min.js
  docs/themes/hugo-book/static/fuse.min.js
  docs/themes/hugo-book/theme.toml
Due: doc-generation

use stepactions for doc.yaml
  .tekton/doc.yaml
  Makefile
Due: none

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
