Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Add e2e test for GitlabMergeRequestValidationErrors
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): use TargetProjectID for merge request comments
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: ensure cancel-in-progress targets PR PipelineRuns only
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/c5d07bbeda2823d1aa5b0f77b0c909e3e9e06a48
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Re-enable tests for Global config changes
  test/gitea_access_control_test.go
  test/gitea_params_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Introduce error log snippet line config
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/kubeinteraction/status/task_status.go
  pkg/kubeinteraction/status/task_status_test.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/reconciler/status.go
  test/gitea_test.go
  test/testdata/TestGiteaErrorSnippetCustomLines.golden
  test/testdata/pipelinerun-error-snippet.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: add deprecation notice of Repository CR PipelineRun status
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/statuses.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Support PipelineRun re-triggering on git tag
  docs/content/docs/guide/gitops_commands.md
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  test/github_tag_gitops_test.go
  test/pkg/github/pr.go
  test/pkg/github/tag.go
  test/testdata/pipelinerun-on-tag.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Update Jira AI token secret names
  .tekton/jira.yaml
Due: pipelines-as-code-main-controller-on-push

feat: improve pr-labeler
  .tekton/pr-labeler.yaml
  hack/pr-labeler.py
Due: pipelines-as-code-main-controller-on-push

Revert "fix: Re-enable tests for Global config changes"
  test/gitea_access_control_test.go
  test/gitea_params_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: add CEL filter example for non-code changes
  docs/content/docs/guide/matchingevents.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: correct CEL expression syntax in filtering example
  docs/content/docs/guide/matchingevents.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/8cdbaff2ff521db754d90074ee3173b38fbed714
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

test: add e2e for relative task in remote pipeline
  test/gitea_test.go
  test/github_pullrequest_privaterepository_test.go
  test/pkg/github/pr.go
  test/testdata/pipelinerun_remote_pipeline_annotations.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

PoC use merge-commit source-branch parent only for file changes
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/parse_payload.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

enhanc: Disable PipelineRun status comment in GitLab
  docs/content/docs/guide/repositorycrd.md
  pkg/provider/gitlab/gitlab.go
  test/gitlab_merge_request_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: don't restart successful pipelineruns on /retest /ok-to-test
  docs/content/_index.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/policy.md
  hack/gh-workflow-ci.sh
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/pipelineascode.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Revert on-path-change on pr merge in bitbucket
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/bitbucketdatacenter/setup.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Upgrade Go image to 1.24
  .tekton/doc.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
Due: push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

chore: update vale rules from RedHat
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/PascalCamelCase.yml
  .vale/styles/RedHat/Slash.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
Due: pipelines-as-code-main-controller-on-push

chore: Update pre-commit hooks to v6.0.0
  .pre-commit-config.yaml
Due: pipelines-as-code-main-controller-on-push

chore: Add eventEmitter parameter to NewInstallation
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
