Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

fix: removed duplicate statement in overview page
  docs/content/docs/install/overview.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

docs: add skip-push-events setting in operator installation guide
  docs/content/docs/install/operator_installation.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

cleanup: remove redunant IsCancelComment func
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/provider/github/parse_payload.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(security): add audit logging to clients in pipelines-as-code
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/reconciler/reconciler.go
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/setup.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: small typo in docs/install/setting.md
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

docs: add clarification about yaml error reporting
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(gitlab): trigger PipelineRun only on label change
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: support pull_request_number variable on push events
  docs/content/docs/guide/authoringprs.md
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: inavlidate empty commits in push events in bitbucket dc
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: link to PipelineRun in Starting template
  pkg/formatting/templates/queuing.go.tmpl
  pkg/formatting/templates/queuing.markdown.go.tmpl
  pkg/formatting/templates/starting.go.tmpl
  pkg/formatting/templates/starting.markdown.go.tmpl
Due: pipelines-as-code-main-controller-on-push

chore: set environment variables for git execution
  pkg/git/git.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: add timeouts to HTTP server
  pkg/adapter/adapter.go
  pkg/cmd/tknpac/bootstrap/web.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Set stricter permissions on created directories
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/info/globbing_test.go
  test/pkg/scm/scm.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: handle response body close errors
  pkg/cmd/tknpac/bootstrap/route.go
  pkg/cmd/tknpac/list/list.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: use correct event type in log in GetTektonDir func
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(bitbucketdatacenter): ignore branch deletion events in ParsePayload
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Enable mirror script to update existing PRs
  hack/mirror-pr.sh
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/f07a394ff0d32522d8432eb6cbada42fdf039511
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

dcos: clarification about YAML validation error
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Implement dry run functionality for mirror-pr script
  hack/mirror-pr.sh
Due: pipelines-as-code-main-controller-on-push

feat: Enable updating existing mirrored pull requests
  hack/mirror-pr.sh
Due: pipelines-as-code-main-controller-on-push

feat: Allow listing and closing mirrored PRs by original state
  hack/mirror-pr.sh
Due: pipelines-as-code-main-controller-on-push

fix: Improve Tekton gitlint step to list all failing commits
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

fix: issue in on-path-change on pr merge in bitbucket data center
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/bitbucketdatacenter/setup.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: support PipelineRun running status reporting on Github with Kueue
  docs/content/docs/guide/repositorycrd.md
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/testdata/pending_pipelinerun/.tekton/run.yaml
  pkg/reconciler/reconciler.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
