Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

Implement GetTaskURI for GitLab provider
  docs/content/docs/guide/resolver.md
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/task.go
  pkg/provider/gitlab/task_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Update resolver.md
  docs/content/docs/guide/resolver.md
Due: doc-generation

move to upstream ruff image
  .tekton/linter.yaml
Due: none

tcomment me vefgore you goest me and ignore me
  pkg/matcher/annotation_matcher.go
Due: push-generate-coverage-releaseyaml, go-testing

go version updated
  go.mod
Due: none

add validation checks
  pkg/cmd/tknpac/auth/login.go
Due: push-generate-coverage-releaseyaml, go-testing

resolve merge conflicts
  go.mod
  go.sum
  vendor/github.com/fatih/color/color.go
  vendor/github.com/fatih/color/color_windows.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing

Replace deprecated GetMergeRequestChanges function
  pkg/matcher/annotation_matcher_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix: Revert GitOps event_type to pull_request
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/gitops_commands.md
  pkg/customparams/standard.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  test/gitea_gitops_commands_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

docs: fix typo `tkn pac resolver` -> `tkn pac resolve`
  docs/content/docs/guide/resolver.md
Due: doc-generation

feat: Improve lang detection and update templates
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate.golden
  pkg/cmd/tknpac/generate/generate_test.go
  pkg/cmd/tknpac/generate/template.go
  pkg/cmd/tknpac/generate/templates/generic.yaml
  pkg/cmd/tknpac/generate/templates/go.yaml
  pkg/cmd/tknpac/generate/templates/java.yaml
  pkg/cmd/tknpac/generate/templates/nodejs.yaml
  pkg/cmd/tknpac/generate/templates/python.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Update Github UI on ok-to-test comment event
  pkg/matcher/annotation_matcher.go
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing

fix: Correct event-type setting for on-comment prs
  pkg/pipelineascode/match.go
  test/github_pullrequest_test_comment_test.go
  test/testdata/TestGiteaOnCommentAnnotation.golden
  test/testdata/pipelinerun-on-comment-annotation.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Add stepactions e2e test
  test/gitea_test.go
  test/testdata/pipelinerun-stepactions.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/7663fb1147f1181de5ed42bb6c44053211c43c43 for release v0.27.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/7663fb1147f1181de5ed42bb6c44053211c43c43 for release v0.27.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

.github/workflows: small "step" name fix…
  .github/workflows/kind-e2e-tests.yaml
Due: none

Add token and hostname flag to login command.
  pkg/cmd/tknpac/auth/login.go
Due: push-generate-coverage-releaseyaml, go-testing

Add unit test for auth login command
  go.mod
  go.sum
  pkg/cmd/tknpac/auth/login.go
  pkg/cmd/tknpac/auth/login_flow.go
  pkg/cmd/tknpac/auth/login_test.go
  vendor/github.com/h2non/gock/.editorconfig
  vendor/github.com/h2non/gock/.gitignore
  vendor/github.com/h2non/gock/.travis.yml
  vendor/github.com/h2non/gock/History.md
  vendor/github.com/h2non/gock/LICENSE
  vendor/github.com/h2non/gock/README.md
  vendor/github.com/h2non/gock/gock.go
  vendor/github.com/h2non/gock/matcher.go
  vendor/github.com/h2non/gock/matchers.go
  vendor/github.com/h2non/gock/mock.go
  vendor/github.com/h2non/gock/options.go
  vendor/github.com/h2non/gock/request.go
  vendor/github.com/h2non/gock/responder.go
  vendor/github.com/h2non/gock/response.go
  vendor/github.com/h2non/gock/store.go
  vendor/github.com/h2non/gock/transport.go
  vendor/github.com/h2non/gock/version.go
  vendor/github.com/h2non/parth/LICENSE
  vendor/github.com/h2non/parth/README.md
  vendor/github.com/h2non/parth/parth.go
  vendor/github.com/h2non/parth/segindex.go
  vendor/github.com/h2non/parth/segtostr.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing

Fix vale config file according to latest version
  .vale.ini
Due: none

fix: controller crash when provenance is set only on the global repo
  pkg/apis/pipelinesascode/v1alpha1/types.go
  test/gitea_test.go
  test/pkg/scm/scm.go
  test/testdata/pipelinerun-provenance-test.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Fix vale config file according to latest version
  test/gitea_test.go
Due: push-generate-coverage-releaseyaml, go-testing

.github/workflows: small "step" name fix… (#1737)
  .github/workflows/kind-e2e-tests.yaml
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/7c9970d6eefb3d4e1a0ed407557ffca15bb57fe3
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Fix 503 http error when handling incoming webhook requests
  config/openshift/10-routes.yaml
  pkg/adapter/adapter.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix PAC watcher panic when concurrency_limit is set
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/queue_pipelineruns.go
  test/gitea_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
