Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Fix version and release yaml
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: none

Fix version and release yaml
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

e2e: separate cancel and retest GitOPS comments test
  test/github_push_retest_test.go
Due: push-generate-coverage-releaseyaml, go-testing

remove actions/cache from kind-e2e-tests.yaml
  .github/workflows/kind-e2e-tests.yaml
Due: none

Add e2e tests for incoming webhook on GHE/Webhook
  pkg/adapter/sinker.go
  test/github_incoming_test.go
  test/pkg/github/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

add ingress when deploying second controller
  hack/gh-workflow-ci.sh
  hack/second-controller.py
Due: none

error when installing pac on existing
  pkg/cmd/tknpac/bootstrap/bootstrap.go
Due: push-generate-coverage-releaseyaml, go-testing

Better error message when we don't have a match
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/testdata/TestBuildAvailableMatchingAnnotationErr-Test_with_one_PipelineRun_and_one_annotation.golden
  pkg/pipelineascode/match.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  test/gitea_access_control_test.go
Due: push-generate-coverage-releaseyaml, go-testing

e2e: Increase the number of controller logs lines
  test/gitea_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test_comment_test.go
  test/gitlab_merge_request_test.go
  test/pkg/gitea/test.go
  test/pkg/logs/pod.go
  test/pkg/wait/logs.go
Due: push-generate-coverage-releaseyaml, go-testing

Add on-comment annotation to match PipelineRun
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/running.md
  hack/dev/kind/gitea/gitea-deployment.yaml
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/params/info/events.go
  pkg/params/triggertype/types.go
  pkg/pipelineascode/match.go
  pkg/policy/policy.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/detect_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/reconciler/event.go
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/github_pullrequest_test_comment_test.go
  test/gitlab_merge_request_test.go
  test/testdata/pipelinerun-on-comment-annotation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Remove detection of old basic auth secret
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix dockerfile
  Dockerfile
Due: none

fix some linter errors
  .tekton/generate-coverage-release.yaml
Due: push-generate-coverage-releaseyaml

Cleanup by removing labels from pipelinerun
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/kubeinteraction/labels.go
  pkg/reconciler/event_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add support for GitOPS comments with GitHub webhook
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  test/github_pullrequest_gitops_comments_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/pkg/wait/wait.go
  test/testdata/TestGithubSecondPullRequestBadYaml.golden
Due: push-generate-coverage-releaseyaml, go-testing

Pass task metadata annotations to the embedded task
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/pipelinerun-pipelinespec-taskref-pass-annotations.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Improve ghcr image push workflow
  .github/workflows/ghcr.yaml
Due: none

Test
  .github/workflows/multi-arch-ghcr-release-branch.yaml
  .github/workflows/multi-arch-ghcr-stable-branch.yaml
Due: none

Use v1 for openshift console url
  pkg/consoleui/openshift.go
  pkg/consoleui/openshift_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Only fetch controller info if pr is not done
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

don't show noops event in nomatch
  pkg/matcher/annotation_matcher.go
Due: push-generate-coverage-releaseyaml, go-testing

setup concurrency tests on ghe
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
