Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

fix: Improve GitLab commit status handling
  docs/content/docs/guide/repositorycrd.md
  docs/static/images/gitlab-pipelines-tab.png
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  test/gitlab_merge_request_test.go
  test/pkg/scm/scm.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Check source project access for GitLab PRs
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Prevent panic in EventEmitter when logger is nil
  pkg/events/emit.go
  pkg/events/emit_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Revert on-path-change on pr merge in bitbucket
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/bitbucketdatacenter/setup.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add check user permission step in e2e workflow
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: increase controller logs lines to detect message
  test/gitlab_delete_tag_event_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Remove obsolete Tekton trigger PipelineRun
  .tekton/trigger-e2e-test.yaml
Due: pipelines-as-code-main-controller-on-push

fix: Correct python formatting command
  Makefile
Due: pipelines-as-code-main-controller-on-push

feat: Introduce PR CI automation via AI
  .gitignore
  .tekton/issue-create.yaml
  .tekton/jira.yaml
  .tekton/linter.yaml
  .tekton/pr-ci.yaml
  Makefile
  hack/pr-ci/README.md
  hack/pr-ci/pyproject.toml
  hack/pr-ci/src/pr_ci/comments.py
  hack/pr-ci/src/pr_ci/config.py
  hack/pr-ci/src/pr_ci/gemini.py
  hack/pr-ci/src/pr_ci/github.py
  hack/pr-ci/src/pr_ci/linter.py
  hack/pr-ci/src/pr_ci/main.py
  hack/pr-ci/src/pr_ci/pr_data.py
  hack/pr-ci/src/pr_ci/utils.py
  hack/pr-ci/uv.lock
  hack/pr-labeler.py
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/eb0d9b152794342eaaafbe01defc8959eedaa4ea for release v0.37.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/eb0d9b152794342eaaafbe01defc8959eedaa4ea for release v0.37.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Create JIRA tickets from PRs with Gemini AI
  .tekton/jira.yaml
  hack/pr-ci/src/pr_ci/config.py
  hack/pr-ci/src/pr_ci/jira.py
  hack/pr-ci/src/pr_ci/main.py
Due: pipelines-as-code-main-controller-on-push

feat: Add release note and PR URL to JIRA custom fields
  hack/pr-ci/src/pr_ci/config.py
  hack/pr-ci/src/pr_ci/jira.py
  hack/pr-ci/src/pr_ci/main.py
Due: pipelines-as-code-main-controller-on-push

chore: Add formatting checklist to AGENTS.md
  AGENTS.md
Due: pipelines-as-code-main-controller-on-push

chore: Enhance text consistency across codebase
  hack/update-golden.sh
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/bootstrap_test.go
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/root.go
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithGitInfo.golden
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithoutGitInfo.golden
  pkg/cmd/tknpac/deleterepo/delete.go
  pkg/cmd/tknpac/deleterepo/root.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/generate/template.go
  pkg/cmd/tknpac/generate/templates/generic.yaml
  pkg/cmd/tknpac/generate/templates/go.yaml
  pkg/cmd/tknpac/generate/templates/java.yaml
  pkg/cmd/tknpac/generate/templates/nodejs.yaml
  pkg/cmd/tknpac/generate/templates/python.yaml
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/root.go
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/resolve/remote_test.go
  test/gitea_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/dd3f5529d273d190ccf977bd4e99443fbd224e44
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Refactor JIRA generation to use Google GenAI SDK
  hack/pr-ci/src/pr_ci/jira.py
  hack/pr-ci/src/pr_ci/main.py
  hack/pr-ci/src/pr_ci/pr_data.py
Due: pipelines-as-code-main-controller-on-push

docs: add validation failure note to GitLab comment strategy
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

docs: Clarify documentation for repository `comment_strategy`
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

test: add unit tests for duplicate secret reuse scenario
  pkg/pipelineascode/pipelineascode_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(ci): skip PR checks for MIRRORED PRs
  hack/pr-ci/src/pr_ci/main.py
  hack/pr-ci/src/pr_ci/pr_data.py
Due: pipelines-as-code-main-controller-on-push

feat: Introduce error log snippet line config
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/kubeinteraction/status/task_status.go
  pkg/kubeinteraction/status/task_status_test.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/reconciler/status.go
  test/gitea_test.go
  test/testdata/TestGiteaErrorSnippetCustomLines.golden
  test/testdata/pipelinerun-error-snippet.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: clarify `repo_owner` parameter semantics
  docs/content/docs/guide/authoringprs.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

docs: add missing slashes to url in authoringprs
  docs/content/docs/guide/authoringprs.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/7aa1b467d70bc6f3508c4092fb060324768923b5
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
