Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

feat: migrate docs deployment to custom domain
  .goreleaser.yml
  .tekton/doc.yaml
  README.md
  docs/content/docs/dev/_index.md
  docs/layouts/_partials/custom/footer.html
  hack/generate-releasenotes.py
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: add http suffix in provider url for forgejo
  test/pkg/gitea/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/tektoncd/pipelines-as-code/commit/04412319532c8c1fefab294ea8c9c48fb3225258
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/versiondata/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat(github): add configurable GitOps command prefix
  config/300-repositories.yaml
  docs/content/docs/guides/gitops-commands/advanced.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  test/github_comment_strategy_update_test.go
  test/github_gitops_commands_prefix_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/pkg/github/crd.go
  test/pkg/github/pr.go
  test/pkg/options/options.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: use dynamic prefix in retest error
  docs/content/docs/guides/gitops-commands/advanced.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/apis/pipelinesascode/v1alpha1/types_test.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match.go
  pkg/provider/github/acl.go
  pkg/provider/github/detect.go
  pkg/provider/provider.go
  test/pkg/github/pr.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: move secret creation to reconciler
  config/201-controller-role.yaml
  config/202-watcher-role.yaml
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_startpr_test.go
  pkg/reconciler/event.go
  pkg/reconciler/event_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  test/pkg/gitea/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
