Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

chore: repository name sanitizer
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/repository_test.go
Due: push-generate-coverage-releaseyaml, go-testing

chore: add k8s resource name formatter
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/repository_test.go
  pkg/formatting/k8names.go
  pkg/formatting/k8names_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix secret cleanup issue
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/cleanups_test.go
  test/github_config_maxkeepruns_test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix(gitlab/webhooks): revision when there are multiple commits
  pkg/provider/gitlab/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e2a7999e4be7f6a4ddd3bafaa8c83114aed27e91 for release v0.21.5
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e2a7999e4be7f6a4ddd3bafaa8c83114aed27e91 for release v0.21.5
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Redirect to the page on docs
  docs/layouts/partials/docs/footer.html
Due: doc-generation

Add a better status message
  docs/content/docs/install/settings.md
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
  pkg/consoleui/interface.go
  pkg/consoleui/openshift.go
  pkg/consoleui/openshift_test.go
  pkg/consoleui/tektondashboard.go
  pkg/formatting/starting.go
  pkg/formatting/starting_test.go
  pkg/formatting/templates/failures.tmpl
  pkg/formatting/templates/starting.go.tmpl
  pkg/params/settings/config.go
  pkg/reconciler/status.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Docs improvements and reorganization
  Makefile
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/customparams.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/policy.md
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation

Add support for body and headers in params
  docs/content/docs/guide/authoringprs.md
  pkg/cel/cel.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/consoleui/custom.go
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/template.go
  pkg/provider/github/repository.go
  pkg/templates/templating.go
  pkg/templates/templating_test.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
  test/testdata/pipelinerun-cel-params.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add cel filtering for matching on body and headers
  docs/content/docs/guide/authoringprs.md
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  test/gitea_params_test.go
  test/testdata/pipelinerun-cel-params-pullrequest.yaml
  test/testdata/pipelinerun-cel-params-push.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add a better status message
  docs/content/docs/install/settings.md
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
  pkg/consoleui/interface.go
  pkg/consoleui/openshift.go
  pkg/consoleui/openshift_test.go
  pkg/consoleui/tektondashboard.go
  pkg/formatting/starting.go
  pkg/formatting/starting_test.go
  pkg/formatting/templates/pipelinerunstatus.tmpl
  pkg/formatting/templates/starting.go.tmpl
  pkg/kubeinteraction/status/task_status.go
  pkg/params/settings/config.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status.go
  pkg/reconciler/testdata/TestReconciler_ReconcileKind-failed_pipelinerun.golden
  pkg/reconciler/testdata/TestReconciler_ReconcileKind-success_pipelinerun.golden
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Update go-toolset to latest
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  Dockerfile
  go.mod
Due: push-generate-coverage-releaseyaml

Add support of remote task on remote Pipeline
  docs/content/docs/guide/resolver.md
  pkg/action/patch_test.go
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/reconciler/controller_test.go
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
  pkg/resolve/resolve.go
  pkg/test/tekton/genz.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add GitOps comments functionality to push request
  docs/content/docs/guide/running.md
  docs/content/docs/install/github_apps.md
  docs/static/images/gitops-comments-on-commit-cancel.png
  docs/static/images/gitops-comments-on-commit.png
  pkg/cmd/tknpac/bootstrap/github.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  test/github_push_retest_test.go
  test/github_push_test.go
  test/pkg/github/pr.go
  test/testdata/pipelinerun-on-push.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/f2db9f782c0b23d1351212e5fca0cb4495aa5651 for release v0.22.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Fix policy settings
  pkg/policy/policy.go
  pkg/policy/policy_test.go
  pkg/provider/bitbucketcloud/acl.go
  pkg/provider/bitbucketserver/acl.go
  pkg/provider/gitea/acl.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/gitlab/acl.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/gitea_access_control_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Remove PacOpts from IsAllowed
  pkg/pipelineascode/match.go
  pkg/provider/bitbucketcloud/acl.go
  pkg/provider/bitbucketcloud/acl_test.go
  pkg/provider/bitbucketserver/acl.go
  pkg/provider/bitbucketserver/acl_test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
Due: push-generate-coverage-releaseyaml, go-testing

Set TKN_BINARY_URL in Makefile
  Makefile
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/0fc3592c992864374fcba258d8392f2ebf992d3c for release v0.22.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/0fc3592c992864374fcba258d8392f2ebf992d3c for release v0.22.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Refactor provider Interface
  cmd/pipelines-as-code-webhook/main.go
  docs/content/dev/_index.md
  pkg/adapter/adapter.go
  pkg/apis/incoming/incoming.go
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/cli/cli.go
  pkg/cmd/tknpac/bootstrap/web.go
  pkg/matcher/annotation_tasks_install.go
  pkg/params/settings/config.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/structs/hook.go
  pkg/provider/github/acl.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/provider/provider.go
  pkg/reconciler/controller.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
  pkg/test/provider/testwebvcs.go
  test/pkg/gitea/scm.go
  test/pkg/scm/scm.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add codespell to the lint-md
  Makefile
  docs/content/dev/_index.md
Due: doc-generation

Add allbinaries target to the Makefile
  Makefile
Due: none

bump knative to add CVE fix
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing
