Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

chore: use deep equal for map comparison
  pkg/pipelineascode/pipelineascode_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/03a1885433aed539db72dcb4029ab379f79c0460
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: don't restart successful pipelineruns on /retest /ok-to-test
  docs/content/_index.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/policy.md
  hack/gh-workflow-ci.sh
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/pipelineascode.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: optimize GHApp installation ID retrieval
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: add mathur07 to E2E tests allowlist
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

add label test to linter pipelinerun
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

feat: Support PipelineRun re-triggering on git tag
  docs/content/docs/guide/gitops_commands.md
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  test/github_tag_gitops_test.go
  test/pkg/github/pr.go
  test/pkg/github/tag.go
  test/testdata/pipelinerun-on-tag.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

handle duplicate secret creation gracefully
  pkg/pipelineascode/pipelineascode.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/90903ee24b673526dd55110b28b1d735bd3b5aa7
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Add GEMINI rules for code quality and processes
  GEMINI.md
Due: pipelines-as-code-main-controller-on-push

chore: [DO NOT MERGE] testing new gitlab creds
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add PR labeling with Gemini
  .tekton/pr-labeler.yaml
  hack/pr-labeler.py
Due: pipelines-as-code-main-controller-on-push

docs: Add tags available for every metric in PaC
  docs/content/docs/install/metrics.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

test(sort): add more unit tests for pr sorting
  Makefile
  pkg/sort/pipelinerun_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add check user permission step in e2e workflow
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

feat: Add reviewer on pull request based on commit history
  .tekton/pr-triager.yaml
  hack/pr-triager.py
  pkg/pipelineascode/pipelineascode.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: ensure cancel-in-progress targets PR PipelineRuns only
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

enhanc: Disable PipelineRun status comment in GitLab
  docs/content/docs/guide/repositorycrd.md
  pkg/provider/gitlab/gitlab.go
  test/gitlab_merge_request_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: [DO NOT MERGER] improve code comment
  pkg/pipelineascode/match.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): use TargetProjectID for merge request comments
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add e2e test for GitlabMergeRequestValidationErrors
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

use ListProjectForks instead of creating forks in e2e test
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
