Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

set --controller-image to ko for e2e tests
  .github/workflows/kind-e2e-tests.yaml
Due: none

make ci working still until we merge #1518
  .github/workflows/kind-e2e-tests.yaml
Due: none

fix running incoming webhook on GHE
  docs/content/docs/guide/incoming_webhook.md
  pkg/provider/github/app/token.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Set timeout for http.Client
  pkg/matcher/annotation_tasks_install.go
  pkg/params/clients/clients.go
Due: push-generate-coverage-releaseyaml, go-testing

pass ghe url when creating prun on incoming event
  pkg/adapter/sinker.go
Due: push-generate-coverage-releaseyaml, go-testing

Addressing the event title matching issue
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  test/github_pullrequest_test.go
  test/github_push_test.go
  test/testdata/pipelinerun-cel-annotation-for-title-match.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Add support for tektondir interceptor service
  pkg/adapter/sinker.go
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/validation.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/tekton_dir_interceptor.go
  pkg/pipelineascode/template_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
Due: push-generate-coverage-releaseyaml, go-testing

add support for arm64
  .github/workflows/ghcr.yaml
Due: none

Update go-toolset image to latest
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  Dockerfile
Due: push-generate-coverage-releaseyaml

Update vale styles to latest
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/ConsciousLanguage.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/DoNotUseTerms.yml
  .vale/styles/RedHat/HeadingPunctuation.yml
  .vale/styles/RedHat/Headings.yml
  .vale/styles/RedHat/Hyphens.yml
  .vale/styles/RedHat/OxfordComma.yml
  .vale/styles/RedHat/PascalCamelCase.yml
  .vale/styles/RedHat/SimpleWords.yml
  .vale/styles/RedHat/Slash.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/Symbols.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
  .vale/styles/RedHat/Usage.yml
  .vale/styles/RedHat/UserReplacedValues.yml
  .vale/styles/RedHat/collate-output.tmpl
Due: none

Refactor getInstallationIDFromPayload function
  pkg/provider/github/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Remove black and use ruff format to format check
  .tekton/linter.yaml
Due: none

Install deps and setup env for `make dev`
  hack/dev/kind/gitea/deploy.py
  hack/dev/kind/install.sh
Due: none

Increase the timeout for e2e tests
  Makefile
Due: none

Add fix-golangci-lint and fix-linters targets
  Makefile
  docs/content/docs/flows/concurrency.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/bitbucket_server.md
  docs/content/docs/install/operator_installation.md
  test/README.md
Due: doc-generation

Rework the pull request template
  .github/pull_request_template.md
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/efd78288b1abb03fdd7dcd5abfeacbab3937030d for release v0.22.5
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Fix Dockerfile build
  Dockerfile
Due: none

Ignore dependabot PRs for gitlint
  .gitlint
Due: none

Improve get changed files
  docs/content/docs/guide/authoringprs.md
  pkg/cel/cel.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/consoleui/custom.go
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/formatting/array.go
  pkg/formatting/array_test.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/template.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/repository.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/templates/templating.go
  pkg/templates/templating_test.go
  pkg/test/provider/testwebvcs.go
  test/gitea_params_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/pkg/scm/scm.go
  test/testdata/changed_files_deleted
  test/testdata/changed_files_modified
  test/testdata/changed_files_renamed
  test/testdata/pipelinerun-changed-files-pullrequest.yaml
  test/testdata/pipelinerun-changed-files-push.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix golangci-linters error
  docs/content/docs/guide/authoringprs.md
  test/pkg/scm/scm.go
  test/testdata/pipelinerun-changed-files-pullrequest.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Show a better help with makefile
  Makefile
Due: none

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
