Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

feat: pin Hugo version
  .tekton/doc.yaml
  Makefile
  docs/content/dev/_index.md
  hack/download-hugo.sh
Due: doc-generation

Fix panic in PAC controller on delete tag event in gitlab
  pkg/provider/gitlab/parse_payload.go
  test/gitlab_delete_tag_event_test.go
  test/pkg/gitlab/setup.go
  test/pkg/gitlab/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Define label for controller in python scnd-ctrl.py
  hack/second-controller.py
Due: none

Fix tkn pac create repo when outside git repo
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/repository_test.go
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithGitInfo.golden
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithoutGitInfo.golden
  pkg/cmd/tknpac/generate/template.go
Due: push-generate-coverage-releaseyaml, go-testing

Add new metric to show number of running pipelineruns
  docs/content/docs/install/metrics.md
  pkg/metrics/injection.go
  pkg/metrics/metrics.go
  pkg/reconciler/emit_metrics_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

fix watcher queue initialisation on concurrency
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/queue_pipelineruns.go
  pkg/sync/common.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
  pkg/sync/semaphore.go
Due: push-generate-coverage-releaseyaml, go-testing

Add e2e test for pending prs processed
  test/github_pullrequest_concurrency_test.go
  test/pkg/kubestuff/scale.go
  test/pkg/repository/global.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/316b3bc9866b09c3ae9636d6a1d559355ac02780
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Fix PAC controller panic on empty commits in payload
  pkg/provider/gitlab/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix overriding retry settings in PatchPipelineRun
  pkg/action/patch.go
Due: push-generate-coverage-releaseyaml, go-testing

Change Message to Title in event.SHATitle field
  pkg/provider/gitlab/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

feat(tests): add unittests for template generation
  pkg/cmd/tknpac/generate/template_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix gitlab provider for more than 20 .tekton/ files
  pkg/provider/gitlab/gitlab.go
Due: push-generate-coverage-releaseyaml, go-testing

Introduce pagination into the gitlab tests
  pkg/provider/gitlab/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix spelling error pulrequest -> pullrequest
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/bitbucketserver/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix crashing on bad bitbucketserver payload
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Ensure token is valid before proceeding
  pkg/provider/bitbucketserver/acl_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Ensure token is valid before proceeding (#1803)
  pkg/provider/bitbucketserver/acl_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Remove double check for toRef and checks for fromRef
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix markdownlint error
  docs/content/dev/_index.md
Due: doc-generation

Fix typo in docs make command
  docs/content/dev/_index.md
Due: doc-generation

Fix ci by waiting before applying configmap
  hack/dev/kind/install.sh
Due: none

Install PyYAML package using system apt or dnf
  hack/gh-workflow-ci.sh
Due: none
