Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

Fix incoming webhook PLR match with generateName
  docs/content/docs/guide/incoming_webhook.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  test/github_incoming_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add TestGithubSecondCancelInProgress e2e test
  test/github_pullrequest_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add support for GitOps comments on Push commits
  docs/content/docs/guide/matchingevents.md
  pkg/pipelineascode/match.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/parse_payload.go
  test/github_push_retest_test.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add support matrix shortcode
  .github/pull_request_template.md
  docs/content/docs/guide/policy.md
  docs/layouts/shortcodes/support_matrix.html
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/44058fd17b4babc6998ec16c393e385138a5624c for release v0.31.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/44058fd17b4babc6998ec16c393e385138a5624c for release v0.31.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

[chore] Detect panic in e2e logs
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

feat: split e2e test run
  .github/workflows/kind-e2e-tests.yaml
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

feat: add matrix provider to e2e test concurrency
  .github/workflows/kind-e2e-tests.yaml
Due: pipelines-as-code-main-controller-on-push

split further the e2e tests
  .github/workflows/kind-e2e-tests.yaml
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

Fix e2e tests and uploading artifacts
  .github/workflows/kind-e2e-tests.yaml
  Makefile
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

(chore) Update golang.org/x/net
  go.mod
  go.sum
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/98000905fdd494afb82cab4e7c46b493321b6b73
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(tests) improve pipeline run cancellation test
  test/github_pullrequest_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(makefile): update test flags and add comments
  Makefile
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

fix: handle nil repo in GitHub event payloads
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  test/invalid_event_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

show only the first 80 lines after a panic
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

fix: improve user feedback
  pkg/pipelineascode/match.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: auto-cancel PipelineRuns on PR close
  pkg/formatting/pipelinerun.go
  pkg/formatting/pipelinerun_test.go
  pkg/params/triggertype/types.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/policy/policy.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/detect.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/status.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/parse_payload.go
  pkg/reconciler/reconciler.go
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/pkg/scm/scm.go
  test/testdata/pipelinerun-cancel-in-progress.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(tekton): support matching pruns via labels
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/matchingevents.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/params/info/events.go
  pkg/params/triggertype/types.go
  pkg/policy/policy.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/gitea/webhook.go
  pkg/provider/github/acl.go
  pkg/provider/github/detect.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/parse_payload.go
  pkg/reconciler/emit_metrics_test.go
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/pkg/github/pr.go
  test/testdata/TestGiteaOnPullRequestLabels.golden
  test/testdata/pipelinerun-on-label.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(tekton): support matching pruns via labels
  docs/content/docs/guide/matchingevents.md
  pkg/provider/github/status.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e0d0ad749fa16d7b353874d794808dfe5f63358b
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
