Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

chore: Make go-testing PipelineRun targeted by all branches
  .tekton/go.yaml
Due: pipelines-as-code-main-controller-on-push

enhance: Use Client Function for API Call in ParsePayload
  pkg/provider/github/parse_payload.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Some minor typos in docs
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(github): guard checkWebhookSecretValidity against nil response
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add queue metrics and improve concurrency
  docs/content/docs/install/metrics.md
  pkg/metrics/queue_metrics.go
  pkg/reconciler/controller.go
  pkg/reconciler/controller_test.go
  pkg/sync/priority_queue.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_interface.go
  pkg/sync/queue_manager_test.go
  pkg/sync/semaphore.go
  pkg/test/concurrency/concurrency.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e18edeeff3735d2c35ec4b72d60276f8ab2ce10d
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: handle response body close errors
  pkg/cmd/tknpac/bootstrap/route.go
  pkg/cmd/tknpac/list/list.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: inavlidate empty commits in push events in bitbucket dc
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: use correct event type in log in GetTektonDir func
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(ci): golangci-lint revive var-naming error in linters
  pkg/provider/bitbucketcloud/types/types.go
  pkg/provider/bitbucketdatacenter/types/types.go
  pkg/secrets/types/types.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: migrate from brews to homebrew_casks in goreleaser
  .goreleaser.yml
Due: pipelines-as-code-main-controller-on-push

chore: Update controller finalizer name to include explicit part
  pkg/action/patch_test.go
  pkg/apis/pipelinesascode/register.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/controller.go
  pkg/reconciler/controller_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: issue in on-path-change on pr merge in bitbucket data center
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/bitbucketdatacenter/setup.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): trigger PipelineRun only on label change
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Split error message of yaml validation on push
  pkg/pipelineascode/match.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: avoid reporting errors for non-Tekton res
  docs/content/docs/guide/running.md
  pkg/errors/errors.go
  pkg/pipelineascode/match.go
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  test/gitea_test.go
  test/testdata/TestGithubSecondPullRequestBadYaml.golden
  test/testdata/randomcrd.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: add timeouts to HTTP server
  pkg/adapter/adapter.go
  pkg/cmd/tknpac/bootstrap/web.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/165d92a94166d0f3cae78553fae776cff06edc02 for release v0.35.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/165d92a94166d0f3cae78553fae776cff06edc02 for release v0.35.2
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Fix: structured logging with resource repo context
  pkg/adapter/sinker.go
  pkg/reconciler/reconciler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: remove unused ConvertPacStructToConfigMap func and tests
  pkg/params/settings/convert.go
  pkg/params/settings/convert_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(homebrew): goreleaser issue and cask install doc
  .goreleaser.yml
  docs/content/docs/guide/cli.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Implement comprehensive development rules for Cursor
  .cursor/rules/architecture.mdc
  .cursor/rules/code-formatting.mdc
  .cursor/rules/dependencies.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/e2e-testing.mdc
  .cursor/rules/git-commit-format.mdc
  .cursor/rules/pre-commit.mdc
  .cursor/rules/testing-quality.mdc
  .cursor/rules/useful-commands.mdc
  .markdownlint.json
  GEMINI.md
Due: pipelines-as-code-main-controller-on-push

dep: update jenkins-x/go-scm version
  go.mod
  go.sum
  vendor/github.com/jenkins-x/go-scm/scm/driver/stash/repo.go
  vendor/modules.txt
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/28a095fb579db8c5ee1355700b1c10bc34c54775
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: trigger E2E tests only on workflows change
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Some minor typos in docs
  .vale.ini
  .vale/styles/PaaC/Paac.yml
  docs/content/docs/blog/release-osp-1.15.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/guide/running.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: update PR template and unify commit validation in CI
  .github/pull_request_template.md
Due: pipelines-as-code-main-controller-on-push

chore: Improve commit and pull request title validation
  .github/pull_request_template.md
  .markdownlint.json
  .tekton/linter.yaml
  README.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push
