Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

Fix hugo-book theme deprecation errors
  docs/themes/hugo-book/.github/workflows/main.yml
  docs/themes/hugo-book/README.md
  docs/themes/hugo-book/assets/search.js
  docs/themes/hugo-book/exampleSite/hugo.toml
  docs/themes/hugo-book/exampleSite/hugo.yaml
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.content
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.json
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/scss/book.scss_e129fe35b8d0a70789c8a08429469073.content
  docs/themes/hugo-book/exampleSite/resources/_gen/assets/scss/book.scss_e129fe35b8d0a70789c8a08429469073.json
  docs/themes/hugo-book/layouts/partials/docs/brand.html
  docs/themes/hugo-book/layouts/partials/docs/date.html
  docs/themes/hugo-book/layouts/partials/docs/html-head.html
  docs/themes/hugo-book/layouts/partials/docs/menu.html
  docs/themes/hugo-book/layouts/partials/docs/search.html
  docs/themes/hugo-book/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.content
  docs/themes/hugo-book/resources/_gen/assets/book.scss_e129fe35b8d0a70789c8a08429469073.json
  docs/themes/hugo-book/static/flexsearch.min.js
  docs/themes/hugo-book/static/fuse.min.js
  docs/themes/hugo-book/theme.toml
Due: doc-generation

docs(github): improve comments for installation ID retrieval
  pkg/provider/github/app/token.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix tkn pac create repo when outside git repo
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/repository_test.go
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithGitInfo.golden
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithoutGitInfo.golden
  pkg/cmd/tknpac/generate/template.go
Due: push-generate-coverage-releaseyaml, go-testing

Update vale rules
  .vale/styles/RedHat/ObviousTerms.yml
  .vale/styles/RedHat/TermsWarnings.yml
Due: none

Add e2e test for pending prs processed
  test/github_pullrequest_concurrency_test.go
  test/pkg/kubestuff/scale.go
  test/pkg/repository/global.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix PAC controller panic on empty commits in payload
  pkg/provider/gitlab/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

fix watcher queue initialisation on concurrency
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/queue_pipelineruns.go
  pkg/sync/common.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
  pkg/sync/semaphore.go
Due: push-generate-coverage-releaseyaml, go-testing

Change Message to Title in event.SHATitle field
  pkg/provider/gitlab/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix overriding retry settings in PatchPipelineRun
  pkg/action/patch.go
Due: push-generate-coverage-releaseyaml, go-testing

feat(tests): add unittests for template generation
  pkg/cmd/tknpac/generate/template_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix crashing on bad bitbucketserver payload
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix gitlab provider for more than 20 .tekton/ files
  pkg/provider/gitlab/gitlab.go
Due: push-generate-coverage-releaseyaml, go-testing

Introduce pagination into the gitlab tests
  pkg/provider/gitlab/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Ensure token is valid before proceeding (#1803)
  pkg/provider/bitbucketserver/acl_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Remove double check for toRef and checks for fromRef
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

gh-workflow-ci: fix checking binary existence
  hack/gh-workflow-ci.sh
Due: none

Install PyYAML package using system apt or dnf
  hack/gh-workflow-ci.sh
Due: none

Fix ci by waiting before applying configmap
  hack/dev/kind/install.sh
Due: none

Fix typo in docs make command
  docs/content/dev/_index.md
Due: doc-generation

Fix panic in PAC controller on delete tag event in gitlab
  pkg/provider/gitlab/parse_payload.go
  test/gitlab_delete_tag_event_test.go
  test/pkg/gitlab/setup.go
  test/pkg/gitlab/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix markdownlint error
  docs/content/dev/_index.md
Due: doc-generation

fix spelling error pulrequest -> pullrequest
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/bitbucketserver/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/ae932d65386f6e38646c94bfe8cd44ccee10a26a for release v0.28.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/ae932d65386f6e38646c94bfe8cd44ccee10a26a for release v0.28.1
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
