Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

fix(providers): restrict comment editing to PAC-owned comments
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: re-enable tests for Bitbucket Data Center
  test/bitbucket_datacenter_dynamic_variables_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Handle non-http(s) URLs in assembleTaskFQDNs
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/6e366209943523b7411615ff02939c589fd3853d for release v0.37.7
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/6e366209943523b7411615ff02939c589fd3853d for release v0.37.7
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Move more tests to GHE
  test/gitea_access_control_test.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/github_pullrequest_oktotest_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_rerequest_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/github_push_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/pkg/configmap/configmap.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: rename version directory to versiondata
  .tekton/release-pipeline.yaml
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d077c377389c65b8b940f47cb5a55884654f80a1 for release v0.42.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d077c377389c65b8b940f47cb5a55884654f80a1 for release v0.42.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/versiondata/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

refactor(providers): constantize provider StatusOpt conclusion options
  pkg/adapter/sinker.go
  pkg/formatting/pipelinerun.go
  pkg/formatting/pipelinerun_test.go
  pkg/pipelineascode/errors.go
  pkg/pipelineascode/errors_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketcloud/types/types.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/provider/status/status.go
  pkg/reconciler/finalizer.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
  pkg/test/provider/testwebvcs.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Correct type for status options
  pkg/provider/github/status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add task to generate AI release notes
  .tekton/release-pipeline.yaml
  hack/generate-releasenotes.py
Due: pipelines-as-code-main-controller-on-push

feat: Allow custom user agent for Forgejo/Gitea
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/apis/pipelinesascode/v1alpha1/types_test.go
  pkg/provider/gitea/gitea.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add comment strategy support for Foregejo
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/gitea/testdata/TestCreateStatusUpdateCommentNormalizesBreaks.golden
  pkg/provider/provider.go
  pkg/webhook/validation.go
  test/gitea_gitops_commands_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Avoid webhook feedback loop on no-ops comment events
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/testdata/same_name_pipelineruns/.tekton/run.yaml
  test/gitea_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: set PipelineURL for cached pipelines to resolve relative task paths
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
  pkg/resolve/testdata/remote-pipeline-with-relative-tasks-same-pipeline.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitops-commands): parse branch vs tag by 'tag:'
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test(github): add DirectWebhook support in CRD helper
  test/pkg/github/crd.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(labels): use positive check for InstallationID
  pkg/kubeinteraction/labels.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

ci: Pin GitHub Actions to commit SHAs
  .github/workflows/container.yaml
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Add second GitHub application ID to e2e tests
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

docs: update bitbucket cloud docs for api tokens
  docs/content/docs/install/bitbucket_cloud.md
  docs/static/images/bitbucket-cloud-account-settings.png
  docs/static/images/bitbucket-cloud-create-secrete.png
  docs/static/images/bitbucket-cloud-username-settings.png
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Move back to startpaac for E2E testing
  .github/workflows/e2e.yaml
  hack/dev/kind/README.md
  hack/dev/kind/gitea/README.md
  hack/dev/kind/gitea/deploy.py
  hack/dev/kind/gitea/gitea-deployment.yaml
  hack/dev/kind/gitea/ingress-gitea.yaml
  hack/dev/kind/ingress-dashboard.yaml
  hack/dev/kind/ingress-pac.yaml
  hack/dev/kind/install.sh
  hack/dev/kind/kind.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix(gitea): preserve source_url on retest comment reruns
  pkg/cmd/tknpac/cel/parser.go
  pkg/cmd/tknpac/cel/parser_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/gitea/parse_payload_test.go
  test/gitea_params_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
