Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

refactor: move secret creation to reconciler
  config/201-controller-role.yaml
  config/202-watcher-role.yaml
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/kubeinteraction/labels.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_startpr_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitea): preserve source_url on retest comment reruns
  pkg/cmd/tknpac/cel/parser.go
  pkg/cmd/tknpac/cel/parser_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/gitea/parse_payload_test.go
  test/gitea_params_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Implement GraphQL batch fetching for .tekton files
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/graphql.go
  pkg/provider/github/graphql_test.go
  pkg/test/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: remove GitHub comment dedup workaround
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/profiler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(github): add configurable GitOps command prefix
  config/300-repositories.yaml
  docs/content/docs/guide/gitops_commands.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  test/github_comment_strategy_update_test.go
  test/github_gitops_commands_prefix_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/gitlab_merge_request_test.go
  test/pkg/github/crd.go
  test/pkg/github/pr.go
  test/pkg/gitlab/crd.go
  test/pkg/options/options.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: Implement file based configuration for test environments
  hack/check-e2e-test-naming.sh
  test/README.md
  test/e2e-config.yaml.example
  test/main_test.go
  test/pkg/configfile/config.go
  test/pkg/configfile/config_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(github): restrict comment editing to PAC-owned comments
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(github): add URL validation and auto-detect provider type
  pkg/pipelineascode/match.go
  pkg/provider/github/scope.go
  pkg/test/repository/repository.go
  pkg/webhook/validation.go
  pkg/webhook/validation_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(queue): prevent deadlock by requeueing on failures
  pkg/queue/common.go
  pkg/queue/queue_manager.go
  pkg/queue/queue_manager_interface.go
  pkg/queue/queue_manager_test.go
  pkg/queue/semaphore.go
  pkg/queue/semaphore_test.go
  pkg/reconciler/queue_pipelineruns.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/test/concurrency/concurrency.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Avoid webhook feedback loop on no-ops comment events (#2504)
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/testdata/same_name_pipelineruns/.tekton/run.yaml
  test/gitea_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(e2e): add SinceSeconds support to pod log helpers
  test/bitbucket_datacenter_dynamic_variables_test.go
  test/gitea_access_control_test.go
  test/gitea_custom_params_cel_test.go
  test/gitea_gitops_commands_test.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/github_incoming_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_retest_test.go
  test/github_skip_ci_test.go
  test/gitlab_delete_tag_event_test.go
  test/gitlab_merge_request_test.go
  test/pkg/gitea/test.go
  test/pkg/github/instrumentation.go
  test/pkg/podlogs/pod.go
  test/pkg/wait/logs.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: increase sinceSeconds in Git Clone e2e test
  test/github_pullrequest_privaterepository_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d4b5b9744a5fa1c8be7f7da89367b3a1f35caa1e
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/versiondata/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: remove nightly from TestGithubGHEPullRequestGitCloneTask
  test/github_pullrequest_privaterepository_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: sync PR template types with linter config
  .github/pull_request_template.md
Due: pipelines-as-code-main-controller-on-push

test: workaround /test tag cross-test cross fails
  test/gitlab_push_gitops_command_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: remove all commit prefix checks in pr template
  .github/pull_request_template.md
Due: pipelines-as-code-main-controller-on-push

test: use dynamic projects and smee for GitLab E2E
  .github/workflows/e2e.yaml
  hack/cleanup-gitlab-projects.py
  hack/gh-workflow-ci.sh
  test/README.md
  test/e2e-config.yaml.example
  test/gitlab_delete_tag_event_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
  test/gitlab_oktotest_thread_reply_test.go
  test/gitlab_push_gitops_command_test.go
  test/pkg/configfile/config.go
  test/pkg/configfile/config_test.go
  test/pkg/gitlab/crd.go
  test/pkg/gitlab/scm.go
  test/pkg/gitlab/setup.go
  test/pkg/gitlab/test.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: move BadYaml e2e test from GitHub to GitLab
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/testdata/TestGitlabMergeRequestBadYaml.golden
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: improve message when /retest has nothing to retest
  pkg/matcher/annotation_matcher.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: improve message when /retest has nothing to retest
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test(e2e): migrate webhook tests to GHE
  test/github_comment_strategy_update_test.go
  test/github_incoming_test.go
  test/github_pullrequest_oktotest_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_rerequest_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: correct artifacthub API url in docs
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

test: add e2e for GitLab comment update strategy
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): workaround the gitlab diff API limit when necessary
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add documentation link checking and auto-fix tooling
  .pre-commit-config.yaml
  .tekton/doc.yaml
  .tekton/linter.yaml
  Makefile
  docs/.htmltest.yml
  hack/check-links.sh
  hack/download-htmltest.sh
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: update CLAUDE.md reference
  CLAUDE.md
Due: pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
