Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

refactor: move secret creation to reconciler
  config/201-controller-role.yaml
  config/202-watcher-role.yaml
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_startpr_test.go
  pkg/reconciler/event.go
  pkg/reconciler/event_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(test): fix testdata YAML for regex-chars PLR name test
  test/testdata/pipelinerun-regex-chars-brackets.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

test: add e2e for GitLab comment update strategy
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test(gitlab): fix CEL expression in update strategy test
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(lint): resolve golangci-lint issues
  pkg/adapter/incoming_test.go
  pkg/pipelinerunmetrics/injection.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: use correct installation id in ghe pull request test
  .github/workflows/e2e.yaml
  test/github_pullrequest_rerequest_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor(github): consolidate JWT generation
  pkg/cmd/tknpac/info/install.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Implement GraphQL batch fetching for .tekton files
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/graphql.go
  pkg/provider/github/graphql_test.go
  pkg/test/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: remove nightly tests completely
  .github/workflows/e2e.yaml
  test/README.md
  test/github_pullrequest_oktotest_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: enforce TEST_GITHUB_SECOND_WEBHOOK_SECRET existence
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/pkg/github/setup.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: add TEST_GITHUB_SECOND_APPLICATION_ID variable for ghe
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: update e2e workflow secrets configuration
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: pin actions/checkout to a specific hash
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

test(ghe webhook): correct PLR count in regex marker test
  test/github_comment_strategy_update_test.go
  test/testdata/pipelinerun-regex-name.yaml
  test/testdata/pipelinerun2-regex-name.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: cache changed files in Gitea provider
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(resolve): restore relative task path resolution for repository paths
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
  test/gitea_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/testdata/pipeline_in_tektondir.yaml
  test/testdata/pipelinerun_remote_task_annotations.yaml
  test/testdata/task2_referenced_internally.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/eff5928d5b1c3a816e2b0f61f2e53a1af6109161 for release v0.43.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/eff5928d5b1c3a816e2b0f61f2e53a1af6109161 for release v0.43.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/versiondata/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: add release-notes skill
  .claude/skills/release-notes/SKILL.md
  .claude/skills/release-notes/references/release-notes-format.md
  .tekton/release-pipeline.yaml
  Makefile
  docs/content/docs/dev/release-process.md
  hack/generate-releasenotes.py
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: migrate to tektoncd org
  .github/pull_request_template.md
  .goreleaser.yml
  .tekton/generate-coverage-release.yaml
  README.md
  docs/content/docs/advanced/private-repositories.md
  docs/content/docs/cli/installation.md
  docs/content/docs/dev/_index.md
  docs/content/docs/dev/release-process.md
  docs/content/docs/dev/testing.md
  docs/content/docs/guides/creating-pipelines/_index.md
  docs/content/docs/guides/llm-analysis/api-setup.md
  docs/content/docs/guides/llm-analysis/best-practices.md
  docs/content/docs/guides/statuses.md
  docs/content/docs/installation/installation.md
  docs/content/docs/installation/kubernetes.md
  docs/content/docs/installation/requirements.md
  docs/content/docs/operations/metrics.md
  docs/content/docs/operations/multi-controller.md
  hack/gendocs.sh
  hack/generate-releasenotes.py
  hack/generate-releaseyaml.sh
  hack/mirror-pr.sh
  hack/pr-ci/main.py
  hack/second-controller.py
  test/pkg/options/options.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: add documentation to TestGiteaCancelRun
  test/gitea_gitops_commands_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: remove unused PipelineRuns in pac
  .tekton/issue-create.yaml
  .tekton/jira.yaml
Due: pipelines-as-code-main-controller-on-push

fix(github): detect GHE instances for URL validation
  pkg/provider/github/github.go
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
  pkg/test/repository/repository.go
  pkg/webhook/validation.go
  pkg/webhook/validation_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(queue): fix early-return bug and deduplicate namespace Lists
  pkg/queue/queue_manager.go
  pkg/queue/queue_manager_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

perf(reconciler): reduce API calls with lister and idempotency
  pkg/reconciler/reconciler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: Add Tekton branding to documentation footer
  docs/assets/css/custom.css
  docs/hugo.yaml
  docs/layouts/_partials/custom/footer.html
  docs/static/images/tekton-logo.png
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Update /ok-to-test status only for GitLab and Forgejo
  docs/content/docs/guides/gitops-commands/advanced.md
  pkg/pipelineascode/match.go
  test/gitea_access_control_test.go
  test/pkg/gitea/test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
