Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

Add support for GitOps comments on Push commits
  docs/content/docs/guide/authoringprs.md
  pkg/pipelineascode/match.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/parse_payload.go
  test/github_push_retest_test.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: Skip some test on OSX arm64
  pkg/sync/queue_manager_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Use old async timer chan for e2e tests
  Makefile
Due: pipelines-as-code-main-controller-on-push

feat: add bad yaml test to gitea
  pkg/provider/gitea/gitea_test.go
  pkg/provider/gitea/test/setup.go
  pkg/provider/gitea/testdata/tree/badyaml/.tekton/badyaml.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix bitbucketserver: validate yaml and propagate
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: use gopkg.in/yaml.v2 for validation
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/provider.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: extract yaml validation to its own
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/provider.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix e2e test: change expected bad yaml string to
  test/testdata/TestGithubPullRequestSecondBadYaml.golden
Due: pipelines-as-code-main-controller-on-push

Make sure we don't have empty values in key
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

gitlab: Create status with pr name
  pkg/provider/gitea/gitea.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/0315a46c80b7fb04d671ed22199f2adb1211f87a
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Allow matching on Pull Request labels
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/params/info/events.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/gitea/webhook.go
  pkg/provider/github/acl.go
  pkg/provider/github/detect.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/parse_payload.go
  test/gitea_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/testdata/TestGiteaOnPullRequestLabels.golden
  test/testdata/pipelinerun-on-label.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Fix incoming webhook PLR match with generateName
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  test/github_incoming_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Fix CEL expression bug on push in Bitbucket server
  pkg/provider/bitbucketserver/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Rearrange docs
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/matchingevents.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Disable health probes when HA is disabled
  cmd/pipelines-as-code-watcher/main.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(tekton): support matching pruns via labels
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/matchingevents.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/params/info/events.go
  pkg/params/triggertype/types.go
  pkg/policy/policy.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/gitea/webhook.go
  pkg/provider/github/acl.go
  pkg/provider/github/detect.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/status.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/parse_payload.go
  pkg/reconciler/emit_metrics_test.go
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/pkg/github/pr.go
  test/testdata/TestGiteaOnPullRequestLabels.golden
  test/testdata/pipelinerun-on-label.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add gitlint to Makefile target
  .pre-commit-config.yaml
  Makefile
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/cbcad5c3880aae21be10f0c2668abb6716e4fb69
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: add option to disable health probes via env
  cmd/pipelines-as-code-controller/main.go
  cmd/pipelines-as-code-watcher/main.go
  cmd/pipelines-as-code-webhook/main.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Fix incoming webhook PLR match with generateName
  docs/content/docs/guide/incoming_webhook.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  test/github_incoming_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
