Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

fix: Improve SHA matching in repository status checks
  test/pkg/wait/check.go
  test/pkg/wait/wait.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Add retry logic for renaming repository URLs
  test/pkg/repository/teardown.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Check status by SHA in wait check
  test/pkg/wait/check.go
  test/pkg/wait/wait.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: fix regex for generated file check
  Makefile
Due: pipelines-as-code-main-controller-on-push

chore: Add e2e tests naming convention check
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

refactor: Extract Slack notification logic to a new script
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
  hack/notify-slack.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: retry list pr with a commit API for all merge strategy
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(github): use correct name for failed checkruns on retest
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/status.go
  test/github_pullrequest_retest_test.go
  test/testdata/pipelinerun-tekton-validation.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: response early after event verification
  pkg/adapter/adapter.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: use correct dir to store ghe gosmee payloads
  hack/second-controller.py
Due: pipelines-as-code-main-controller-on-push

fix: Rework the duplicate comments creation fix
  pkg/matcher/errors.go
  pkg/pipelineascode/errors.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/provider.go
  test/testdata/TestGithubSecondFlakyPullRequestBadYaml.golden
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Move some GitHub public e2e test to GHE
  hack/gh-workflow-ci.sh
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_retest_test.go
  test/github_skip_ci_test.go
  test/github_tag_gitops_test.go
  test/github_tkn_pac_cli_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs(README): fix wrong on-path-change annotation name
  README.md
Due: pipelines-as-code-main-controller-on-push

fix(github): support lightweight tags for GitOps commands
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  test/github_tag_gitops_test.go
  test/pkg/github/tag.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test(gitlab): use push SHA to avoid stale MR API (#2453)
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: change version to versiondata dir name
  .tekton/generate-coverage-release.yaml
Due: push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

fix: fix regex for delete tag event log message
  test/gitlab_delete_tag_event_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Move github public e2e tests to GHE
  hack/gh-workflow-ci.sh
  test/README.md
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_retest_test.go
  test/github_skip_ci_test.go
  test/github_tag_gitops_test.go
  test/github_tkn_pac_cli_test.go
  test/pkg/github/instrumentation.go
  test/pkg/podlogs/pod.go
  test/pkg/podlogs/pod_test.go
  test/pkg/wait/logs.go
  test/testdata/TestGithubPullRequestSecondBadYaml.golden
  test/testdata/TestGithubSecondPullRequestCelPrefix.golden
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: Document Bitbucket license requirement for groups
  docs/content/docs/install/bitbucket_datacenter.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Enforce webhook signature for Forgejo
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  test/gitea_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: improve message when /retest has nothing to retest
  pkg/matcher/annotation_matcher.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: improve message when /retest has nothing to retest
  pkg/matcher/annotation_matcher.go
  pkg/pipelineascode/match.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(github): add configurable GitOps command prefix
  config/300-repositories.yaml
  docs/content/docs/guide/gitops_commands.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  test/github_gitops_commands_prefix_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/pkg/github/crd.go
  test/pkg/github/pr.go
  test/pkg/gitlab/crd.go
  test/pkg/options/options.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(github): resolve pull_request_number on retest for pushed commits
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  test/github_push_retest_test.go
  test/testdata/pipelinerun-pr-number-variable.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(gitlab): add update comment stategy
  config/300-repositories.yaml
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/errors.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/provider.go
  pkg/webhook/validation.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
