Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Fix syntax error in release pipeline
  .tekton/release-pipeline.yaml
Due: none

Don't create pipelinerun when an MR update
  test/gitlab_merge_request_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix flaky unit tests
  pkg/kubeinteraction/status/task_status_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/0506de5c94a97654c4af9996419754feb0c25f8e for release v0.21.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Move scm.go out of gitea to its own package
  test/gitea_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/pkg/gitlab/setup.go
  test/pkg/gitlab/test.go
  test/pkg/options/options.go
  test/pkg/scm/scm.go
  test/pkg/wait/check.go
  test/pkg/wait/wait.go
Due: push-generate-coverage-releaseyaml, go-testing

Gitea: Make sure we check for the exact number of status
  test/gitea_access_control_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Tests: Don't cleanup tests when TEST_NOCLEANUP is set
  docs/content/dev/_index.md
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/setup.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Only create prun when a MR update with push happen
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/provider/gitlab/test/test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
  test/pkg/gitlab/test.go
Due: push-generate-coverage-releaseyaml, go-testing

[E2E Test] Fix wait.Success
  test/bitbucket_cloud_pullrequest_test.go
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/githubapp_incoming_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
  test/pkg/gitea/test.go
  test/pkg/github/pr.go
  test/pkg/wait/check.go
  test/pkg/wait/wait.go
Due: push-generate-coverage-releaseyaml, go-testing

[Gitea E2e] Add more logs while looking for Comment
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix the broken functionality of gitops comments for pull requests
  pkg/pipelineascode/match.go
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  test/gitea_access_control_test.go
  test/github_pullrequest_retest_test.go
  test/pkg/gitea/test.go
  test/testdata/pipelinerun-gitops.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Don't lint merge commits
  .tekton/linter.yaml
Due: none

Fix E2E races and failures
  test/github_pullrequest_concurrency_test.go
  test/github_push_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/github_tkn_pac_cli_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix TestGetGitInfo unit test
  pkg/git/git_test.go
Due: push-generate-coverage-releaseyaml, go-testing

sleep between running tests
  test/pkg/gitea/setup.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

Wait a bit more for the cleanup to happen
  test/github_config_maxkeepruns_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix append issue to avoid duplication of pipelineruns
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/testdata/pull_request_multiplepipelineruns/.tekton/run.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Fix java template
  pkg/cmd/tknpac/generate/templates/java.yaml
Due: none

Restart controller/watcher both after config change in e2e
  .github/workflows/kind-e2e-tests.yaml
Due: none

e2e config
  .github/workflows/e2e-config.txt
  .github/workflows/kind-e2e-tests.yaml
Due: none

update config-file path
  .github/workflows/kind-e2e-tests.yaml
Due: none

just apply the cm
  .github/workflows/e2e-config.txt
  .github/workflows/e2e-config.yaml
  .github/workflows/kind-e2e-tests.yaml
Due: none

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
