Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

fix: Add retry logic for Gitea status updates
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Update Vale style guide links
  .vale/styles/RedHat/Abbreviations.yml
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/Conjunctions.yml
  .vale/styles/RedHat/ConsciousLanguage.yml
  .vale/styles/RedHat/Contractions.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/DoNotUseTerms.yml
  .vale/styles/RedHat/Ellipses.yml
  .vale/styles/RedHat/EmDash.yml
  .vale/styles/RedHat/GitLinks.yml
  .vale/styles/RedHat/HeadingPunctuation.yml
  .vale/styles/RedHat/Headings.yml
  .vale/styles/RedHat/Hyphens.yml
  .vale/styles/RedHat/MergeConflictMarkers.yml
  .vale/styles/RedHat/ObviousTerms.yml
  .vale/styles/RedHat/OxfordComma.yml
  .vale/styles/RedHat/PascalCamelCase.yml
  .vale/styles/RedHat/PassiveVoice.yml
  .vale/styles/RedHat/ProductCentricWriting.yml
  .vale/styles/RedHat/ReadabilityGrade.yml
  .vale/styles/RedHat/ReleaseNotes.yml
  .vale/styles/RedHat/RepeatedWords.yml
  .vale/styles/RedHat/SelfReferentialText.yml
  .vale/styles/RedHat/SentenceLength.yml
  .vale/styles/RedHat/SimpleWords.yml
  .vale/styles/RedHat/Slash.yml
  .vale/styles/RedHat/Spacing.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
  .vale/styles/RedHat/UserReplacedValues.yml
  .vale/styles/RedHat/Using.yml
Due: pipelines-as-code-main-controller-on-push

fix: Add retry logic for PR lookup on merge commits
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(error-detection): add multiple pattern support
  config/300-repositories.yaml
  config/302-pac-configmap.yaml
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/provider/github/status.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): set parent status to success when CI is triggered
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: correctly update pending and running commit status
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: report cancelled status when PipelineRun is deleted
  pkg/reconciler/finalizer.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: correctly update pending and running commit status (#2341)
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/gitlab/gitlab.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: variables substitution issue on commit comment in GitLab
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(webhook): enable GitOps commands for GitHub webhooks
  docs/content/docs/install/github_webhook.md
  pkg/params/info/events.go
  pkg/pipelineascode/match.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/github_webhook_issue_comment_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/7ca0bd94aaa6ea89dd53f9a243ce8d7480cb03a2 for release v0.41.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/7ca0bd94aaa6ea89dd53f9a243ce8d7480cb03a2 for release v0.41.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: Use uv for second-controller.py
  hack/second-controller.py
Due: pipelines-as-code-main-controller-on-push

chore: Update vendored dependencies
  hack/pr-ci/uv.lock
Due: pipelines-as-code-main-controller-on-push

fix: update dev docs for uv and release process
  docs/content/docs/dev/_index.md
  docs/content/docs/dev/release-process.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

ci: add test summary with logs to e2e workflow
  .github/workflows/e2e.yaml
  hack/e2e-ci/filter-logs-by-event.py
  hack/e2e-ci/generate-test-summary.py
  hack/gh-workflow-ci.sh
  summary.md
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix(github): support lightweight tags for GitOps commands
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  test/github_tag_gitops_test.go
  test/pkg/github/tag.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Update E2E test matrix and script
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
  test/README.md
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Add ko cache to e2e workflow
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Redirect gosmee output and organize logs
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

refactor: Rename github pull request test function
  hack/gh-workflow-ci.sh
  test/github_pullrequest_test.go
  test/pkg/repository/teardown.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Stabilize pipeline run sorting by name when start times are equal
  pkg/sort/pipelinerun.go
  pkg/sort/pipelinerun_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

ci: prevent e2e matrix jobs from cancelling on failure
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

test: split more gitea e2e tests
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Stabilize sorting logic for task logs and status
  pkg/sort/task_log_snippets.go
  pkg/sort/task_log_snippets_test.go
  pkg/sort/task_status.go
  pkg/sort/task_status_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Skip revert commits in linter
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
