Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/***)
  go-testing: any of: ***/*.go

Release yaml generated for pac release v0.19.3 on branch release-v0.19.x
  release.yaml
Due: none

Release yaml generated for pac release v0.19.3 on branch release-v0.19.x
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.19.3 on branch release-v0.19.x
  pkg/params/version/version.txt
Due: none

Bump go in CI
  .tekton/go.yaml
Due: none

Fix branch matching when there is a slashes in the base branch name
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated for pac release v0.19.4 on branch release-v0.19.4
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.4 on branch release-v0.19.4
  release.yaml
Due: none

Release yaml generated for pac release v0.19.4 on branch release-v0.19.4
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.19.4 on branch release-v0.19.4
  pkg/params/version/version.txt
Due: none

Release yaml generated for pac release v0.19.4 on branch release-v0.19.x
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.4 on branch release-v0.19.x
  release.yaml
Due: none

Release yaml generated for pac release v0.19.4 on branch release-v0.19.x
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.19.4 on branch release-v0.19.x
  pkg/params/version/version.txt
Due: none

Fix linter bugging on deprecated v1beta1
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/matcher/annotation_tasks_install.go
  pkg/resolve/resolve.go
Due: push-generate-coverage-releaseyaml, go-testing

Simplify branchMatch function
  pkg/matcher/annotation_matcher.go
Due: push-generate-coverage-releaseyaml, go-testing

Try to fix uploading file to nightly
  hack/upload-file-to-github.py
  pkg/formatting/age.go
Due: push-generate-coverage-releaseyaml, go-testing

fix some gosec errors on golangci 1.54.2
  .golangci.yml
  pkg/params/settings/config.go
  pkg/provider/github/github_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Cancel old jobs attached to PR when there is update
  .github/workflows/kind-e2e-tests.yaml
Due: none

fix generate-coverage-release
  .tekton/generate-coverage-release.yaml
  hack/upload-file-to-github.py
Due: none

Not list configmaps in all namespaces
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/bootstrap_test.go
  pkg/cmd/tknpac/bootstrap/kubestuff.go
  pkg/cmd/tknpac/webhook/add_test.go
Due: push-generate-coverage-releaseyaml, go-testing

cancel-in-progress the container building on github action
  .github/workflows/ghcr.yaml
  .github/workflows/multi-arch-ghcr.yaml
Due: none

Fix message when the repository cannot be matched
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing

Create service monitor for pac controller
  config/openshift/20-monitoring.yaml
Due: push-generate-coverage-releaseyaml

use git instead of github api to upload release.yaml file
  .tekton/generate-coverage-release.yaml
Due: none

Add a note about commit messages in the PR template
  .github/pull_request_template.md
Due: none

Only rebuild the Docker image when Go files changes
  .github/workflows/ghcr.yaml
Due: none
