Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

Revert "chore: experimental refactor"
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: PullRequestPrivateRepository use 100 lines
  test/gitea_test.go
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Report validation errors on pull requests
  docs/content/docs/dev/_index.md
  docs/content/docs/guide/running.md
  docs/static/images/report-error-comment-on-bad-yaml.png
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/README.md
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/testdata/TestGithubSecondPullRequestBadYaml.golden
  test/testdata/failures/pipeline-validation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Separate TestGithubPullRequestGitOpsComments
  test/github_pullrequest_retest_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(docs): upstream tekton dashboard repository link
  docs/content/docs/install/getting-started.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: move cache stepactions to the repo
  .tekton/doc.yaml
  .tekton/go.yaml
  .tekton/tasks/cache-fetch.yaml
  .tekton/tasks/cache-upload.yaml
  pkg/reconciler/event.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Handles `tkn pac list` command when there is no repo in the namespace
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/list/list_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Refactor CreateStatus func in Bitbucket Data Center
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/25b823fc8d7bf8ffd88c3b5aec7bde1d7cf603a3
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

ci: Use fetched results for the go build task
  .tekton/go.yaml
Due: pipelines-as-code-main-controller-on-push

Update second_controller.md
  docs/content/docs/install/second_controller.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

doc: rephrase multi-GitHub controller documentatio
  docs/content/docs/install/second_controller.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Expand "dynamic" variables in default values
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  test/gitea_test.go
  test/testdata/pipeline_with_tekton_params.yaml
  test/testdata/pipelinerun_with_tekton_params.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: GetCommitInfo func in Bitbucket Data Center
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Separate TestGithubPullRequestGitOpsComments
  test/github_pullrequest_retest_test.go
  test/pkg/wait/wait.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Improve error messaging during repository/event validation
  pkg/acl/owners.go
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Fixed some typos in Bitbucket Cloud docs
  docs/content/docs/install/bitbucket_cloud.md
  docs/static/images/bitbucket-cloud-username-settings.png
Due: doc-generation, pipelines-as-code-main-controller-on-push

use pull_request for GHE action
  .github/workflows/kind-e2e-tests.yaml
Due: pipelines-as-code-main-controller-on-push

refactor: simplify duration calculations in age.go
  pkg/formatting/age.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: migrate GitHub Action workflows to use env
  .github/workflows/kind-e2e-tests.yaml
  hack/gh-workflow-ci.sh
  test/README.md
Due: pipelines-as-code-main-controller-on-push

use pac environment for e2e tests
  .github/workflows/kind-e2e-tests.yaml
Due: pipelines-as-code-main-controller-on-push

Optimize removeDuplicates function
  pkg/changedfiles/changedfiles.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Improve error messaging during repository/event validation
  pkg/acl/owners.go
  pkg/formatting/errors.go
  pkg/formatting/errors_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
