Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

remove validation for now
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
Due: push-generate-coverage-releaseyaml, go-testing

more helpful error about which remote ressource has failed to be parsed
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
Due: push-generate-coverage-releaseyaml, go-testing

use git-clone task
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix gitea e2e test getting log of bad yaml
  test/gitea_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure we use upstream git-clone
  .tekton/doc.yaml
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/release-pipeline.yaml
Due: none

add custom console driver
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/action/patch_test.go
  pkg/cli/status/status.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
  pkg/consoleui/interface.go
  pkg/consoleui/interface_test.go
  pkg/consoleui/openshift.go
  pkg/consoleui/openshift_test.go
  pkg/consoleui/tektondashboard.go
  pkg/consoleui/tektondashboard_test.go
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/validation.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelinesascode_github_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
  pkg/sort/task_status.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Update pkg/consoleui/custom.go
  pkg/consoleui/custom.go
Due: push-generate-coverage-releaseyaml, go-testing

Makefile: replace /bin/bash to bash
  Makefile
Due: none

Release yaml generated for pac release v0.17.0 on branch release-v0.17.0
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.0 on branch release-v0.17.0
  release.yaml
Due: none

Release yaml generated for pac release v0.17.0 on branch release-v0.17.0
  docs/content/VERSION
Due: doc-generation

Removed extra colon form provider pop up message
  docs/content/docs/install/bitbucket_server.md
  docs/content/docs/install/gitlab.md
  pkg/cli/webhook/github.go
  pkg/cli/webhook/gitlab.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

More helpful error message when we cannot find task/pipeline
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
Due: push-generate-coverage-releaseyaml, go-testing

remove debug message which fill out logs
  pkg/params/run.go
Due: push-generate-coverage-releaseyaml, go-testing

Added a check to watch on secret pipelines-as-code-secret to decide GithubApp or Webhook
  pkg/cli/info/configmap.go
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/create/repository.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure coverage pipeline target the main branch
  .tekton/generate-coverage-release.yaml
Due: none

Add label app.kubernetes.io/part-of while creating secret pipelines-as-code-secret
  pkg/cmd/tknpac/bootstrap/kubestuff.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix tkn pac resolve
  pkg/cmd/tknpac/resolve/resolve.go
Due: push-generate-coverage-releaseyaml, go-testing

Properly test resolve with golden output
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/resolve/resolve_test.go
  pkg/cmd/tknpac/resolve/testdata/TestResolveFilenames-Resolve_templates_no_prefix.golden
  pkg/cmd/tknpac/resolve/testdata/TestResolveFilenames-Resolve_templates_with_prefix.golden
Due: push-generate-coverage-releaseyaml, go-testing

Properly report error when the PipelineRun could not get created
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
  test/gitea_test.go
  test/testdata/failures/not-existing-clustertask.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Let User bypass GH enteprise question in cli bootstrap github-app
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/cli/webhook/github.go
  pkg/cli/webhook/gitlab.go
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/webhook/add_test.go
  pkg/provider/github/app/token.go
  pkg/provider/github/github_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go
