Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

Add payload validation for repository clone url
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Expose config for Watcher performance tuning
  cmd/pipelines-as-code-watcher/main.go
Due: push-generate-coverage-releaseyaml, go-testing

Add gitlab pagination for diff listing
  pkg/provider/gitlab/gitlab.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure we collect the right prun in the Queue
  pkg/reconciler/queue_pipelineruns.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix tag ref for Bitbucket Cloud
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

Allow disabling HA with PAC_DISABLE_HA
  cmd/pipelines-as-code-watcher/main.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix gitauth secrets cleanup
  pkg/kubeinteraction/kubeinteraction.go
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

add dependabot auto merge
  .github/workflows/dependabot-automerge.yaml
Due: none

Continue when failing the concurrency
  pkg/reconciler/finalizer.go
  pkg/reconciler/queue_pipelineruns.go
  pkg/reconciler/queue_pipelineruns_test.go
  pkg/reconciler/reconciler.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_interface.go
  pkg/sync/queue_manager_test.go
  pkg/test/concurrency/concurrency.go
Due: push-generate-coverage-releaseyaml, go-testing

Add test for tag/branch name with bitbucket cloud
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix tag ref for Bitbucket Cloud (#1782)
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketcloud/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix Variables Resolution in PipelineRun on Bitbucket Server
  pkg/provider/bitbucketserver/detect_test.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/bitbucketserver/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix Variables Resolution in PipelineRun on Bitbucket Server (#1817)
  pkg/provider/bitbucketserver/detect_test.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/bitbucketserver/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

Continue when failing the concurrency (#1810)
  pkg/reconciler/finalizer.go
  pkg/reconciler/queue_pipelineruns.go
  pkg/reconciler/queue_pipelineruns_test.go
  pkg/reconciler/reconciler.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_interface.go
  pkg/sync/queue_manager_test.go
  pkg/test/concurrency/concurrency.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/2609b4b36518e9f796e71cbfd03ff0f3c96951a7 for release v0.29.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/2609b4b36518e9f796e71cbfd03ff0f3c96951a7 for release v0.29.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Add design document
  docs/content/dev/design/_index.md
  docs/content/dev/design/multiple-url-to-same-repo.md
Due: doc-generation

fix: change receiver to pointer for listener and priorityQueue
  .golangci.yml
  pkg/adapter/adapter.go
  pkg/adapter/tls.go
  pkg/sync/priority_queue.go
Due: push-generate-coverage-releaseyaml, go-testing

Add secrets for bitbucket server on upstream PAC repo
  .github/workflows/kind-e2e-tests.yaml
  hack/gh-workflow-ci.sh
Due: none

Add secrets for bitbucket server on upstream PAC repo (#1821)
  .github/workflows/kind-e2e-tests.yaml
  hack/gh-workflow-ci.sh
Due: none

feat: allow cancelling in-progress PipelineRuns
  docs/content/docs/guide/running.md
  pkg/action/patch.go
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  test/gitea_test.go
  test/testdata/pipelinerun-cancel-in-progress.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix repository name breaking for Bitbucket Cloud
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketcloud/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

feat(cancel): add cancel-in-progress feature (#1816)
  docs/content/docs/guide/running.md
  pkg/action/patch.go
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  test/gitea_test.go
  test/testdata/pipelinerun-cancel-in-progress.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

vale sync update
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/GitLinks.yml
Due: none

update pre-commit
  .pre-commit-config.yaml
Due: none

(chore) Only run gitlint on pull requests
  .tekton/linter.yaml
  docs/content/docs/guide/authoringprs.md
Due: doc-generation

Make sure to set the namespace in config
  pkg/adapter/adapter.go
Due: push-generate-coverage-releaseyaml, go-testing
