Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

feat: auto-cancel PipelineRuns on PR close
  pkg/formatting/pipelinerun.go
  pkg/formatting/pipelinerun_test.go
  pkg/params/triggertype/types.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/policy/policy.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/detect.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/status.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/parse_payload.go
  pkg/reconciler/reconciler.go
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/pkg/scm/scm.go
  test/testdata/pipelinerun-cancel-in-progress.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add support for GitOps comments on Push commits
  docs/content/docs/guide/matchingevents.md
  pkg/pipelineascode/match.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/parse_payload.go
  test/github_push_retest_test.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

add support for bitbucketcloud
  pkg/provider/bitbucketcloud/detect.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/types/types.go
  test/bitbucket_cloud_pullrequest_test.go
  test/pkg/bitbucketcloud/pr.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d5a550a2bb3d6c570da76671738ae82e644b1fbe for release v0.29.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d5a550a2bb3d6c570da76671738ae82e644b1fbe for release v0.29.1
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1d741811fa9c7349effb9a3b5a9d031963e8788b for release v0.28.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1d741811fa9c7349effb9a3b5a9d031963e8788b for release v0.28.2
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(deploy.py): fix black formatting errors
  hack/dev/kind/gitea/deploy.py
Due: pipelines-as-code-main-controller-on-push

Resolve status update issue for GitLab instances with relative paths
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/reconciler/event.go
  pkg/reconciler/reconciler_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: update pull request submit template
  .github/pull_request_template.md
Due: pipelines-as-code-main-controller-on-push

feat: auto-cancel PipelineRuns on PR close
  docs/content/docs/guide/running.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/static/images/bitbucket-cloud-create-webhook.png
  pkg/cli/webhook/bitbucket_cloud.go
  pkg/formatting/pipelinerun.go
  pkg/formatting/pipelinerun_test.go
  pkg/params/triggertype/types.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/policy/policy.go
  pkg/provider/bitbucketcloud/detect.go
  pkg/provider/bitbucketcloud/detect_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/types/types.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/detect.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/status.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/reconciler/reconciler.go
  test/bitbucket_cloud_pullrequest_test.go
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
  test/pkg/bitbucketcloud/pr.go
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/pkg/scm/scm.go
  test/testdata/pipelinerun-cancel-in-progress.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(docs): correct grammar and improve clarity
  docs/content/dev/_index.md
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/customparams.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/running.md
  docs/content/docs/install/getting-started.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Use git CLI to push files to repo
  test/README.md
  test/bitbucket_server_pull_request_test.go
  test/pkg/bitbucketserver/crd.go
  test/pkg/bitbucketserver/pr.go
  test/pkg/bitbucketserver/setup.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Added changes field in push event struct for Bitbucket server
  pkg/provider/bitbucketserver/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(RBAC): Viewer/ClusterReader Role Aggregation
  config/200-role.yaml
Due: push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

Fix gitlab parse_payload_test issue
  pkg/provider/gitlab/parse_payload_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Added changes field in push event struct for Bitbucket server
  pkg/provider/bitbucketserver/types/types.go
  test/bitbucket_server_dynamic_variables_test.go
  test/bitbucket_server_pull_request_test.go
  test/testdata/pipelinerun-dynamic-vars.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Set EventType for push event in ParsePayload of Bitbucket server
  pkg/provider/bitbucketserver/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/3b251fbba4b376e4ad56e994ff2def1b5ece2588 for release v0.32.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/3b251fbba4b376e4ad56e994ff2def1b5ece2588 for release v0.32.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Fix goreleaser issue
  .goreleaser.yml
Due: pipelines-as-code-main-controller-on-push

Fix GitLab MR not updated issue on forked repository
  pkg/provider/gitlab/gitlab.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
