Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/26acc37c238d2131dada49df66c390273e6b654b for release v0.21.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/26acc37c238d2131dada49df66c390273e6b654b for release v0.21.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

fix spelling mistake
  docs/content/docs/install/getting-started.md
Due: doc-generation

Rephrase the getting started guide
  docs/content/docs/install/getting-started.md
Due: doc-generation

Remove 0.15.1 pin dependency
  go.mod
  go.sum
  vendor/code.gitea.io/sdk/gitea/oauth2.go
  vendor/code.gitea.io/sdk/gitea/org_action.go
  vendor/code.gitea.io/sdk/gitea/org_team.go
  vendor/code.gitea.io/sdk/gitea/package.go
  vendor/code.gitea.io/sdk/gitea/pull.go
  vendor/code.gitea.io/sdk/gitea/repo_branch_protection.go
  vendor/code.gitea.io/sdk/gitea/secret.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d7df408c38f8a5fa7e8ceda2e774b144faad8898 for release v0.21.3
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d7df408c38f8a5fa7e8ceda2e774b144faad8898 for release v0.21.3
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

chore: repository name sanitizer
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/repository_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make status message as templates
  pkg/formatting/starting.go
  pkg/formatting/starting_test.go
  pkg/formatting/templates/queuing.go.tmpl
  pkg/formatting/templates/starting.go.tmpl
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Bump images to go 1.19
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
Due: push-generate-coverage-releaseyaml

Pin golangci-lint to v1.52.2
  .tekton/go.yaml
Due: none

Release yaml generated for pac release v0.19.5 on branch release-v0.19.5
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.5 on branch release-v0.19.5
  release.yaml
Due: none

Release yaml generated for pac release v0.19.5 on branch release-v0.19.5
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.19.5 on branch release-v0.19.5
  pkg/params/version/version.txt
Due: none

Release yaml generated for pac release v0.19.5 on branch release-v0.19.x
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.5 on branch release-v0.19.x
  release.yaml
Due: none

Release yaml generated for pac release v0.19.5 on branch release-v0.19.x
  pkg/params/version/version.txt
Due: none

Release yaml generated for pac release v0.17.6 on branch release-v0.17.x
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.6 on branch release-v0.17.x
  release.yaml
Due: none

Release yaml generated for pac release v0.17.6 on branch release-v0.17.6
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.6 on branch release-v0.17.6
  release.yaml
Due: none

Release yaml generated for pac release v0.17.6 on branch release-v0.17.6
  docs/content/VERSION
Due: doc-generation

Fix using gitclone clustertask when detected avail
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate.golden
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/generate/generate_test.go
  pkg/cmd/tknpac/generate/template.go
  pkg/cmd/tknpac/generate/templates/generic.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Bump tektoncd/pipeline and grpc
  go.mod
  go.sum
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/constant.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/pipelinerun_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/taskrun_validation.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
