Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

fix: Prevent deadlock in tryAcquire method
  pkg/sync/semaphore.go
  pkg/sync/semaphore_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Fix race and tryAcquire panic on empty queue
  pkg/sync/semaphore.go
  pkg/sync/semaphore_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: pipelines-as-code-main-controller-on-push

chore: update PR template and unify commit validation in CI
  .github/pull_request_template.md
Due: pipelines-as-code-main-controller-on-push

chore: Improve commit and pull request title validation
  .github/pull_request_template.md
  .markdownlint.json
  .tekton/linter.yaml
  README.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

docs: very little dot missing
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: add relative TaskRef fetching functionality
  docs/content/docs/guide/resolver.md
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
  pkg/resolve/resolve.go
  pkg/resolve/testdata/remote-pipeline-with-relative-tasks-1.yaml
  pkg/resolve/testdata/remote-pipeline-with-relative-tasks.yaml
  pkg/test/tekton/genz.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: skip pr title check for MIRRORED PR
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

chore: Update git-clone task location
  .tekton/doc.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
  .tekton/stepactions/git-clone.yaml
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/privaterepo.md
  docs/content/docs/guide/resolver.md
  test/testdata/pipelinerun-stepactions.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

fix: Ignore non-Tekton resources errors reporting
  pkg/pipelineascode/errors.go
  pkg/pipelineascode/errors_test.go
  pkg/pipelineascode/match.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Allow insensitive case for pr title
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

enhance: Use Client Function for API Call in ParsePayload
  pkg/provider/github/parse_payload.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(homebrew): goreleaser issue and cask install doc
  .goreleaser.yml
  docs/content/docs/guide/cli.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/793677d69df066d2328347b76dcd2aa95b32c138 for release v0.35.3
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/793677d69df066d2328347b76dcd2aa95b32c138 for release v0.35.3
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Fix: structured logging with resource repo context
  pkg/adapter/sinker.go
  pkg/reconciler/reconciler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore(logging): rename branch to target-branch in logFields for clarity
  pkg/adapter/sinker.go
  pkg/reconciler/reconciler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Improve handling of missing .tekton directory for ok-to-test events
  docs/content/docs/guide/gitops_commands.md
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/testdata/no_tekton_dir/.gitkeep
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Some minor typos in docs
  .vale.ini
  .vale/styles/PaaC/Paac.yml
  docs/content/docs/blog/release-osp-1.15.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/guide/running.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Feat: structured logging with source repo context (#2165)
  pkg/adapter/sinker.go
  pkg/reconciler/reconciler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/59493418d88c24a3a863ed301ce5386839ff8960
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: report invalid CEL expression errors as PR comments
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/errors.go
  pkg/provider/provider.go
  test/github_pullrequest_test.go
  test/testdata/failures/pipelinerun-invalid-cel.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(ci): use exec.CommandContext to satisfy `noctx` linter
  pkg/cli/browser/browser.go
  pkg/cmd/tknpac/bootstrap/install.go
  pkg/cmd/tknpac/bootstrap/web.go
  pkg/cmd/tknpac/completion/completion.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/git/git.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: small typo in setting docs
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: homebrew packaging
  .goreleaser.yml
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/3e8fe4c1a1c0b3a54fc8c53f1efeb86acaf67120
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
