Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

add link to the documentation for configmap.yaml
  config/302-pac-configmap.yaml
Due: none

remove some non used deadcode!
  Makefile
  pkg/cli/prompt/stubber.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix hack/upload-file-to-github.py upload
  hack/upload-file-to-github.py
Due: none

add test for webhook secret
  Makefile
  pkg/cli/webhook/secret_test.go
  pkg/cli/webhook/testdata/TestWebHookSecret.golden
Due: push-generate-coverage-releaseyaml, go-testing

markdownlint fix
  code-of-conduct.md
  docs/content/dev/_index.md
Due: doc-generation

Remove new line from kubernetes labels
  pkg/adapter/adapter.go
  pkg/cmd/tknpac/version/version.go
  pkg/formatting/k8labels.go
  pkg/formatting/k8labels_test.go
  pkg/kubeinteraction/labels.go
Due: push-generate-coverage-releaseyaml, go-testing

don't just rely on ldflags to generate version
  .tekton/generate-coverage-release.yaml
  .tekton/release-pipeline.yaml
  pkg/params/version/version.go
  pkg/params/version/version.txt
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e526be574cbc707d89e8b4d27cdee0903f2364bb
  release.k8s.yaml
Due: none

Make pod logs configurable with config map.
  cmd/pipelines-as-code-controller/main.go
  config/301-config-logging.yaml
  config/400-controller.yaml
  config/500-watcher.yaml
  config/600-webhook.yaml
  pkg/reconciler/controller.go
Due: push-generate-coverage-releaseyaml, go-testing

markdownlint fix
  docs/content/dev/_index.md
Due: doc-generation

Add doc about changing log level.
  docs/content/dev/_index.md
Due: doc-generation

Use knative to get namespace.
  cmd/pipelines-as-code-controller/main.go
Due: push-generate-coverage-releaseyaml, go-testing

Improve logging doc with more actual info.
  docs/content/dev/_index.md
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e526be574cbc707d89e8b4d27cdee0903f2364bb
  release.yaml
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e526be574cbc707d89e8b4d27cdee0903f2364bb
  docs/content/VERSION
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e526be574cbc707d89e8b4d27cdee0903f2364bb
  pkg/params/version/version.txt
Due: none

add our own rule for vale to check
  .vale.ini
  .vale/styles/PaaC/GitHub.yml
Due: none

more Github to GitHub replacement in docs
  docs/content/docs/guide/cli.md
  docs/content/docs/install/github_webhook.md
Due: doc-generation

fix markdownlint custom rule
  .vale/styles/PaaC/GitHub.yml
Due: none

Release yaml generated for pac release v0.19.0 on branch release-v0.19.0
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.0 on branch release-v0.19.0
  release.yaml
Due: none

Release yaml generated for pac release v0.19.0 on branch release-v0.19.0
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.19.0 on branch release-v0.19.0
  pkg/params/version/version.txt
Due: none

Improve logging doc with @mramendi proposed changes.
  docs/content/dev/_index.md
Due: doc-generation

Move logging docs to settings.md
  docs/content/dev/_index.md
  docs/content/docs/install/settings.md
Due: doc-generation

Add condition check to verify secret-github-app-token-scoped enabled or not
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add ADDR-6 recommended log fields.
  pkg/action/patch.go
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/secrets.go
  pkg/kubeinteraction/status/task_status.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/repository.go
  pkg/reconciler/queue_pipelineruns.go
  pkg/reconciler/status.go
  vendor/knative.dev/pkg/webhook/certificates/certificates.go
Due: push-generate-coverage-releaseyaml, go-testing

Add base SHA to the github event payload
  pkg/params/info/events.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

Add audit field once pipelinerun was created.
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

Update docs/content/docs/install/settings.md
  docs/content/docs/install/settings.md
Due: doc-generation

Use 'Pipelines as Code' in the logging doc
  docs/content/docs/install/settings.md
Due: doc-generation

Fix release.yaml
  release.yaml
Due: none

Fix release.k8s.yaml
  release.k8s.yaml
Due: none

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go
