Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

feat: Add support for Artifact Hub
  docs/content/_index.md
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/privaterepo.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/install/getting-started.md
  docs/content/docs/install/settings.md
  hack/dev/kind/install.sh
  pkg/hub/artifacthub.go
  pkg/hub/artifacthub_test.go
  pkg/hub/get.go
  pkg/hub/get_test.go
  pkg/hub/hub.go
  pkg/hub/hub_test.go
  pkg/hub/tektonhub.go
  pkg/hub/types.go
  pkg/hub/vars/types.go
  pkg/params/info/info_test.go
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
  test/testdata/pipelinerun-with-yq-3.yaml
  test/testdata/pipelinerun-with-yq-4.yaml
  test/testdata/pipelinerun_remote_task_annotations.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add relative TaskRef fetching functionality
  docs/content/docs/guide/resolver.md
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
  pkg/resolve/resolve.go
  pkg/resolve/testdata/remote-pipeline-with-relative-tasks-1.yaml
  pkg/resolve/testdata/remote-pipeline-with-relative-tasks.yaml
  pkg/test/tekton/genz.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: report invalid CEL expression errors as PR comments
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/errors.go
  pkg/pipelineascode/errors.go
  pkg/provider/provider.go
  test/github_pullrequest_test.go
  test/testdata/failures/pipelinerun-invalid-cel.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Improve handling of missing .tekton directory for ok-to-test events
  docs/content/docs/guide/gitops_commands.md
  pkg/pipelineascode/errors.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/testdata/no_tekton_dir/.gitkeep
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor(triggertype): rename LabelUpdate to pull_request_labeled
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/params/triggertype/types.go
  pkg/policy/policy.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/parse_payload.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add Jira issue creation guidelines and templates
  .cursor/rules/jira-formatting.mdc
  .cursor/rules/srvkp-jira-bug-template.mdc
  .cursor/rules/srvkp-jira-template.mdc
Due: pipelines-as-code-main-controller-on-push

docs: Add blog post for gitauth and ratelimit
  .gitignore
  docs/content/docs/blog/using-pac-git-auth-secret-to-avoid-rate-limiting.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: Correct typos in warning and event messages
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: add PipelineRun status in logs when creating PipelineRun
  pkg/pipelineascode/pipelineascode.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add support for Artifact Hub
  config/302-pac-configmap.yaml
  docs/content/_index.md
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/privaterepo.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/install/getting-started.md
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  hack/dev/kind/install.sh
  pkg/hub/artifacthub.go
  pkg/hub/artifacthub_test.go
  pkg/hub/get.go
  pkg/hub/get_test.go
  pkg/hub/hub.go
  pkg/hub/hub_test.go
  pkg/hub/tektonhub.go
  pkg/hub/types.go
  pkg/hub/vars/types.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/params/info/info_test.go
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
  test/gitea_test.go
  test/testdata/pipelinerun-hub-task-not-found.yaml
  test/testdata/pipelinerun-hub-task-version-not-found.yaml
  test/testdata/pipelinerun-multi-hub-tasks-1.yaml
  test/testdata/pipelinerun-multi-hub-tasks-2.yaml
  test/testdata/pipelinerun-remote-pipeline-from-hub.yaml
  test/testdata/pipelinerun-with-yq-4.yaml
  test/testdata/pipelinerun_remote_task_annotations.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Delete unused formatting/array
  pkg/formatting/array.go
  pkg/formatting/array_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add Bitbucket Data Center pull request merged event support
  docs/content/docs/guide/matchingevents.md
  pkg/provider/bitbucketdatacenter/detect.go
  pkg/provider/bitbucketdatacenter/detect_test.go
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  pkg/provider/gitea/detect.go
  test/bitbucket_datacenter_pull_request_closed_test.go
  test/testdata/pipelinerun-on-pull-request-closed-bitbucket-datacenter.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Trigger pipelines on pull request closed event
  docs/content/docs/guide/matchingevents.md
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/detect_test.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_closed_test.go
  test/testdata/pipelinerun-on-merge-request-closed-gitlab.yaml
  test/testdata/pipelinerun-on-pull-request-closed-github.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): use TargetProjectID for merge request comments
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/5034528e28d51fba08cbe855b76c784e41274c49
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

test(sort): add more unit tests for pr sorting
  Makefile
  pkg/sort/pipelinerun_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: report invalid CEL expression errors as PR comments
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/errors.go
  pkg/pipelineascode/errors.go
  pkg/pipelineascode/errors_test.go
  pkg/pipelineascode/match.go
  pkg/provider/provider.go
  test/github_pullrequest_test.go
  test/testdata/failures/pipelinerun-invalid-cel.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

deps: update jenkins-x/go-scm version
  go.mod
  go.sum
  vendor/github.com/jenkins-x/go-scm/scm/driver/stash/pr.go
  vendor/github.com/jenkins-x/go-scm/scm/driver/stash/user.go
  vendor/github.com/jenkins-x/go-scm/scm/driver/stash/webhook.go
  vendor/modules.txt
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/4ae3540f6d03bd278c64eece65ac28e4c38c587f
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Implement intelligent GH API call monitoring
  docs/content/docs/install/logging.md
  docs/content/docs/install/settings.md
  hack/dev/kind/install.sh
  pkg/provider/github/acl.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/profiler.go
  pkg/provider/github/profiler_test.go
  pkg/provider/github/status.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add e2e test for GitlabMergeRequestValidationErrors
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: /ok-to-test /retest pipelineruns should not restart successful pipelineruns
  hack/gh-workflow-ci.sh
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/pipelineascode.go
  test/gitea_gitops_commands_test.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
  test/pkg/wait/wait.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: /retest /ok-to-test update for running failed PRs only
  docs/content/_index.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/policy.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: add instrumentation in e2e for GH API calls
  hack/gh-workflow-ci.sh
  test/pkg/github/instrumentation.go
  test/pkg/github/instrumentation_test.go
  test/pkg/github/pr.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: add deps in pr template
  .github/pull_request_template.md
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

docs: Remove /rest suffix from Bitbucket DC url
  docs/content/docs/install/bitbucket_datacenter.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Allow infernus01 to trigger E2E workflow
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Make error handling and tests more robust
  hack/update-golden.sh
  pkg/adapter/adapter.go
  pkg/cli/webhook/bitbucket_cloud_test.go
  pkg/cli/webhook/github_test.go
  pkg/cli/webhook/gitlab_test.go
  pkg/cmd/tknpac/bootstrap/bootstrap_test.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/repo_runinfo_matcher.go
  pkg/matcher/repo_runinfo_matcher_test.go
  pkg/pipelineascode/errors_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/detect_test.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/gitea/testdata/TestCheckPolicyAllowing-error_while_getting_team_membership.golden
  pkg/provider/gitea/testdata/TestCheckPolicyAllowing-no_team_in_org_is_found.golden
  pkg/provider/gitea/testdata/TestCheckPolicyAllowing-user_is_a_member_of_the_allowed_team.golden
  pkg/provider/gitea/testdata/TestCheckPolicyAllowing-user_is_not_a_member_of_the_allowed_team.golden
  pkg/provider/github/acl.go
  pkg/provider/github/github_test.go
  pkg/provider/github/repository_test.go
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/github_config_maxkeepruns_test.go
  test/pkg/bitbucketdatacenter/crd.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/gitea/scm.go
  test/pkg/github/setup.go
  test/repository_webhook_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
