Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

feat(gitlab): Cache results acl project membership
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/test/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Honor gitops in GitLab threads replies
  pkg/provider/gitlab/README.md
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  pkg/provider/gitlab/test/test.go
  test/gitlab_oktotest_thread_reply_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(cli): correct namespace flag binding in tkn-pac
  pkg/cmd/tknpac/info/templates/info.tmpl
  pkg/params/info/kube.go
  pkg/params/info/kube_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Improve E2E failure reporting in GitHub Actions
  .github/workflows/e2e.yaml
  docs/content/docs/guide/cli.md
  docs/content/docs/install/settings.md
Due: doc-generation, e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Allow org members to trigger E2E workflow
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

feat: Add GitOps command support for tags in GitLab
  docs/content/docs/guide/gitops_commands.md
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  test/gitlab_push_gitops_command_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: Update kube_opts_flags tests to use dynamic kubeconfig paths
  pkg/params/info/kube_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(cli): correct namespace flag binding in tkn-pac (#2284)
  pkg/cmd/tknpac/info/templates/info.tmpl
  pkg/params/info/kube.go
  pkg/params/info/kube_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add support for optional `namespace` parameter in incoming webhook
  docs/content/docs/guide/incoming_webhook.md
  pkg/adapter/adapter.go
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/matcher/repo_runinfo_matcher.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: resolve templating placeholder evaluation bug
  pkg/templates/templating.go
  pkg/templates/templating_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): add explicit mapping for cancelled status
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add AI/LLM-powered pipeline analysis
  Makefile
  config/300-repositories.yaml
  docs/content/docs/guide/llm-analysis.md
  hack/dev/kind/install.sh
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/apis/pipelinesascode/v1alpha1/types_llm.go
  pkg/llm/analyzer.go
  pkg/llm/analyzer_test.go
  pkg/llm/context/assembler.go
  pkg/llm/factory.go
  pkg/llm/factory_test.go
  pkg/llm/ltypes/types.go
  pkg/llm/orchestrator.go
  pkg/llm/output_handler.go
  pkg/llm/output_handler_test.go
  pkg/llm/providers/gemini/client.go
  pkg/llm/providers/gemini/client_test.go
  pkg/llm/providers/openai/client.go
  pkg/llm/providers/openai/client_test.go
  pkg/reconciler/reconciler.go
  pkg/test/nonoai/README.md
  pkg/test/nonoai/deployment.yaml
  pkg/test/nonoai/main.go
  pkg/test/nonoai/responses.json
  samples/repository-llm.yaml
  test/README.md
  test/gitea_llm_test.go
  test/pkg/gitea/test.go
  test/testdata/gitea-llm-comment.golden
  test/testdata/testdata/gitea-llm-comment.golden
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Handle nil ContainerLogs in context cache key generation
  pkg/llm/analyzer.go
  pkg/llm/analyzer_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: prevent stale failure statuses on commits
  .yamllint
  pkg/consoleui/openshift.go
  pkg/consoleui/openshift_test.go
  pkg/consoleui/tektondashboard.go
  pkg/pipelineascode/pipelineascode.go
  test/gitlab_merge_request_test.go
  test/pkg/payload/get_entries.go
  test/testdata/failures/bad-pipelinerun.yaml
  test/testdata/good-pipelinerun.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Add deprecation log for repository status field
  pkg/reconciler/status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Refactor GH Actions script permission checks
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e6889e3129c12baf172645afad0183fa1bb0b8a6
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(cli): respect forceInstallGosmee in bootstrap
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/install.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: support regex in incoming webhook targets
  docs/content/docs/guide/incoming_webhook.md
  pkg/matcher/repo_runinfo_matcher.go
  pkg/matcher/repo_runinfo_matcher_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add AI/LLM-powered pipeline analysis
  Makefile
  config/300-repositories.yaml
  docs/content/docs/guide/llm-analysis.md
  hack/dev/kind/install.sh
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/apis/pipelinesascode/v1alpha1/types_llm.go
  pkg/llm/analyzer.go
  pkg/llm/analyzer_test.go
  pkg/llm/context/assembler.go
  pkg/llm/factory.go
  pkg/llm/factory_test.go
  pkg/llm/ltypes/types.go
  pkg/llm/orchestrator.go
  pkg/llm/output_handler.go
  pkg/llm/output_handler_test.go
  pkg/llm/providers/gemini/client.go
  pkg/llm/providers/gemini/client_test.go
  pkg/llm/providers/openai/client.go
  pkg/llm/providers/openai/client_test.go
  pkg/reconciler/reconciler.go
  pkg/test/nonoai/README.md
  pkg/test/nonoai/deployment.yaml
  pkg/test/nonoai/main.go
  pkg/test/nonoai/responses.json
  samples/repository-llm.yaml
  test/README.md
  test/gitea_llm_test.go
  test/pkg/gitea/test.go
  test/testdata/gitea-llm-comment.golden
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore(goreleaser): use binaries field in homebrew
  .goreleaser.yml
Due: pipelines-as-code-main-controller-on-push

fix(ci): Remove duplicate context declaration in e2e workflow
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix(ci): Use correct context variable in github-script
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Remove debugging remnants from linter script
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

fix: Add shell command execution for debugging ValueReflect creation
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/valuereflect.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: configure application id in CI via env variable
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

test: add unit tests for StartPR
  pkg/pipelineascode/pipelineascode_startpr_test.go
  pkg/pipelineascode/pipelineascode_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
