Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

feat(cel): add direct custom param variable access in expressions
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/customparams.md
  docs/content/docs/guide/matchingevents.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  pkg/test/repository/repository.go
  test/gitea_custom_params_cel_test.go
  test/testdata/pipelinerun-cel-custom-params-nomatch.yaml
  test/testdata/pipelinerun-cel-custom-params-pullrequest.yaml
  test/testdata/pipelinerun-cel-filtered-param-undefined.yaml
  test/testdata/pipelinerun-cel-on-comment-param.yaml
  test/testdata/pipelinerun-cel-secret-params.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(matcher): prevent CEL from matching label events unintentionally
  pkg/matcher/annotation_matcher.go
  pkg/matcher/cel.go
  pkg/matcher/cel_ast.go
  pkg/matcher/cel_test.go
  test/github_pullrequest_test.go
  test/testdata/pipelinerun-cel-label-event.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1a3b2412db248fccd24abb4f468618dec3c572b2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: kindest/node image version for macOS arm64 stability
  hack/dev/kind/install.sh
Due: pipelines-as-code-main-controller-on-push

test: Fix flaky TestGithubPushRequestGitOpsCommentCancel E2E test
  pkg/pipelineascode/cancel_pipelineruns.go
  test/github_push_retest_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: Optimize gitlab and reconciler tests execution speed
  pkg/provider/gitlab/task_test.go
  pkg/reconciler/status_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Update test/github_push_retest_test.go
  test/github_push_retest_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Update python dependencies
  hack/pr-ci/uv.lock
Due: pipelines-as-code-main-controller-on-push

feat(error-detection): add multiple pattern support
  config/300-repositories.yaml
  config/302-pac-configmap.yaml
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/provider/github/status.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add update comment strategy
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/comment/cache.go
  pkg/provider/comment/cache_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/webhook/validation.go
  test/gitea_custom_params_cel_test.go
  test/gitea_test.go
  test/github_pullrequest_one_comment_per_pipeline_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/github_skip_ci_test.go
  test/gitlab_delete_tag_event_test.go
  test/pkg/github/pr.go
  test/pkg/wait/logs.go
  test/pkg/wait/wait.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Auto-detect hub type for custom hub catalogs
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: Improve GitLab fork-based workflow documentation
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/install/gitlab.md
  pkg/provider/gitlab/README.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Update CI workflow and Kind configuration
  .github/workflows/e2e.yaml
  hack/dev/kind/kind.yaml
  hack/gh-workflow-ci.sh
  pkg/adapter/incoming_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor(providers): constantize provider StatusOpt conclusion options
  pkg/adapter/sinker.go
  pkg/formatting/pipelinerun.go
  pkg/formatting/pipelinerun_test.go
  pkg/pipelineascode/errors.go
  pkg/pipelineascode/errors_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/provider/status/status.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
  pkg/test/provider/testwebvcs.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Update pkg/provider/github/status.go
  pkg/provider/github/status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: prealloc error in golangci-lint
  .golangci.yml
Due: pipelines-as-code-main-controller-on-push

fix: Add retry logic for PR lookup on merge commits
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Add gosmee for main controller E2E test
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

feat: Build binaries in parallel in e2e
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Install minica CA certificate in e2e workflow
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

refactor: Use startpaac to install second controller
  .github/workflows/e2e.yaml
  docs/content/docs/install/second_controller.md
  test/README.md
Due: doc-generation, e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Add secrets to the env workflows
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

refactor: reenable prealloc and fix it properly
  .golangci.yml
  pkg/cli/browser/browser.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match_test.go
  pkg/provider/gitea/test/setup.go
  pkg/secrets/secrets.go
  pkg/sort/repository_status.go
  pkg/sort/task_log_snippets.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
  pkg/sync/semaphore.go
  pkg/test/github/github.go
  test/README.md
  test/pkg/bitbucketcloud/pr.go
  test/pkg/gitea/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: remove deprecated public Tekton Hub as built-in catalog
  config/302-pac-configmap.yaml
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithGitInfo.golden
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithoutGitInfo.golden
  pkg/cmd/tknpac/generate/templates/generic.yaml
  pkg/cmd/tknpac/generate/templates/go.yaml
  pkg/cmd/tknpac/generate/templates/java.yaml
  pkg/cmd/tknpac/generate/templates/nodejs.yaml
  pkg/cmd/tknpac/generate/templates/python.yaml
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
  test/README.md
  test/gitea_test.go
  test/testdata/pipeline_in_tektondir.yaml
  test/testdata/pipelinerun-multi-hub-tasks-1.yaml
  test/testdata/pipelinerun-multi-hub-tasks-2.yaml
  test/testdata/pipelinerun-remote-pipeline-from-hub.yaml
  test/testdata/pipelinerun_remote_task_annotations.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: reenable prealloc and fix it properly
  .golangci.yml
  pkg/cli/browser/browser.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match_test.go
  pkg/provider/gitea/test/setup.go
  pkg/secrets/secrets.go
  pkg/sort/repository_status.go
  pkg/sort/task_log_snippets.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
  pkg/sync/semaphore.go
  pkg/test/github/github.go
  test/pkg/bitbucketcloud/pr.go
  test/pkg/gitea/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Increase loop max in concurrent PR test
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/github_pullrequest_concurrency_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Remove redundant gosmee client setup for Gitea
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Add gosmee replay for Gitea controller
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

Revert "fix: Increase loop max in concurrent PR test"
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/github_pullrequest_concurrency_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Remove old local ci dev scripts
  Makefile
  docs/content/docs/dev/_index.md
  hack/dev/kind/README.md
  hack/dev/kind/forgejo/README.md
  hack/dev/kind/forgejo/deploy.py
  hack/dev/kind/forgejo/forgejo-deployment.yaml
  hack/dev/kind/forgejo/ingress-forgejo.yaml
  hack/dev/kind/ingress-dashboard.yaml
  hack/dev/kind/ingress-pac.yaml
  hack/dev/kind/install.sh
  hack/dev/kind/kind.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Filter PipelineRuns by SHA in concurrency tests
  test/github_pullrequest_concurrency_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
