Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

chore: bump golang.org/x/oauth2 to v0.27.0
  go.mod
  go.sum
  pkg/provider/gitlab/test/test.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/clientcredentials/clientcredentials.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/google.golang.org/appengine/LICENSE
  vendor/google.golang.org/appengine/internal/api.go
  vendor/google.golang.org/appengine/internal/api_classic.go
  vendor/google.golang.org/appengine/internal/api_common.go
  vendor/google.golang.org/appengine/internal/app_id.go
  vendor/google.golang.org/appengine/internal/base/api_base.pb.go
  vendor/google.golang.org/appengine/internal/base/api_base.proto
  vendor/google.golang.org/appengine/internal/datastore/datastore_v3.pb.go
  vendor/google.golang.org/appengine/internal/datastore/datastore_v3.proto
  vendor/google.golang.org/appengine/internal/identity.go
  vendor/google.golang.org/appengine/internal/identity_classic.go
  vendor/google.golang.org/appengine/internal/identity_flex.go
  vendor/google.golang.org/appengine/internal/identity_vm.go
  vendor/google.golang.org/appengine/internal/internal.go
  vendor/google.golang.org/appengine/internal/log/log_service.pb.go
  vendor/google.golang.org/appengine/internal/log/log_service.proto
  vendor/google.golang.org/appengine/internal/main.go
  vendor/google.golang.org/appengine/internal/main_common.go
  vendor/google.golang.org/appengine/internal/main_vm.go
  vendor/google.golang.org/appengine/internal/metadata.go
  vendor/google.golang.org/appengine/internal/net.go
  vendor/google.golang.org/appengine/internal/regen.sh
  vendor/google.golang.org/appengine/internal/remote_api/remote_api.pb.go
  vendor/google.golang.org/appengine/internal/remote_api/remote_api.proto
  vendor/google.golang.org/appengine/internal/transaction.go
  vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.pb.go
  vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.proto
  vendor/google.golang.org/appengine/urlfetch/urlfetch.go
  vendor/modules.txt
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: decrease catalog count to fix unit tests
  pkg/params/settings/default_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: reenable prealloc and fix it properly
  pkg/cli/browser/browser.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match_test.go
  pkg/provider/gitea/test/setup.go
  pkg/secrets/secrets.go
  pkg/sort/repository_status.go
  pkg/sort/task_log_snippets.go
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
  pkg/sync/semaphore.go
  pkg/test/github/github.go
  test/pkg/bitbucketcloud/pr.go
  test/pkg/gitea/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: set the correct custom hub catalog type
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/params/info/info.go
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Move to gitlab.pipelinesascode.com for e2e
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

feat(gitlab): add update comment stategy
  config/300-repositories.yaml
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/errors.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/provider.go
  pkg/webhook/validation.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: markdownlint error happening due to new version
  docs/content/docs/install/metrics.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: exclude python lib md files from lint-md
  Makefile
Due: pipelines-as-code-main-controller-on-push

docs(cel): clarify tech preview status and output differences
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/cel/cel.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: variables substitution issue on commit comment in GitLab
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  test/gitlab_merge_request_test.go
  test/pkg/wait/wait.go
  test/testdata/pipelinerun-variable-subs.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(github): add configurable GitOps command prefix
  config/300-repositories.yaml
  docs/content/docs/guide/gitops_commands.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  test/github_gitops_commands_prefix_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/pkg/github/crd.go
  test/pkg/github/pr.go
  test/pkg/gitlab/crd.go
  test/pkg/options/options.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test(github): add update comment strategy E2E tests
  test/github_comment_strategy_update_test.go
  test/pkg/github/pr.go
  test/testdata/pipelinerun-regex-chars-brackets.yaml
  test/testdata/pipelinerun-regex-chars-dots.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs(repository): document update comment strategy
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat(github): add update comment strategy for GitHub
  config/300-repositories.yaml
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/github/status.go
  pkg/provider/provider.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: refactor E2E matrix and rename SecondController to GHE
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
  test/README.md
  test/gitea_gitops_commands_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_retest_test.go
  test/github_push_test.go
  test/github_skip_ci_test.go
  test/github_tag_gitops_test.go
  test/github_tkn_pac_cli_test.go
  test/pkg/github/instrumentation.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
  test/testdata/TestGithubGHEPullRequestBadYaml.golden
  test/testdata/TestGithubGHEPullRequestCelPrefix.golden
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

add my own second controller config
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/cf0e0f76d4a0bfded18c4372e3a7a550bd7a3ccc
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/versiondata/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: use sync.Once around create_comment API call
  pkg/provider/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(providers): restrict comment editing to PAC-owned comments
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(github): restrict comment editing to PAC-owned comments
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1936d6079a243e3973e3d8ea712bfce7929ff960 for release v0.37.6
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1936d6079a243e3973e3d8ea712bfce7929ff960 for release v0.37.6
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Implement GraphQL batch fetching for .tekton files
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/graphql.go
  pkg/provider/github/graphql_test.go
  pkg/test/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Allow custom user agent for Gitea/Forgejo
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/apis/pipelinesascode/v1alpha1/types_test.go
  pkg/provider/gitea/gitea.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e100f2d4c8ca29175cfc3d88dd7d8c7a3fa1f6c5 for release v0.39.5
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e100f2d4c8ca29175cfc3d88dd7d8c7a3fa1f6c5 for release v0.39.5
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Add target ns annotation to on-tag
  test/testdata/failures/pipelinerun-invalid-cel.yaml
  test/testdata/pipelinerun-on-tag.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

refactor(providers): constantize provider StatusOpt conclusion options
  pkg/adapter/sinker.go
  pkg/formatting/pipelinerun.go
  pkg/formatting/pipelinerun_test.go
  pkg/pipelineascode/errors.go
  pkg/pipelineascode/errors_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketcloud/types/types.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/provider/status/status.go
  pkg/reconciler/finalizer.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
  pkg/test/provider/testwebvcs.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
