Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

Fix GitLab MR not updated issue on forked repository
  pkg/provider/gitlab/gitlab.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix TestGithubSecondCancelInProgress test conditio
  test/github_pullrequest_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Clearification about closed PR for gitops commands
  docs/content/docs/guide/gitops_commands.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(gitlab): correct the value of SHATitle in Merge event
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  test/gitlab_merge_request_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add prow like PR management
  .tekton/prow.yaml
  docs/content/docs/guide/gitops_commands.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: remove @ symbol in /assign /unassign prow
  .tekton/prow.yaml
Due: pipelines-as-code-main-controller-on-push

feat(prow): use request review for assign/unassign
  .tekton/prow.yaml
Due: pipelines-as-code-main-controller-on-push

feature(prow) Add lgtm support
  .tekton/prow.yaml
Due: pipelines-as-code-main-controller-on-push

docs: Add Developer Resources documentation to Documentation menu
  README.md
  docs/content/docs/dev/_index.md
  docs/content/docs/dev/release-process.md
  hack/dev/kind/README.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

docs: Rename "Developer Resources" section to "Contributor Resources"
  docs/content/docs/dev/_index.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(provider): handle branch names with command keywords in pr comments
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Use prow from the pipelines-as-code-prow repo
  .tekton/prow.yaml
Due: pipelines-as-code-main-controller-on-push

Fix ok-to-test comment issue for external user on GitHub
  docs/content/docs/guide/gitops_commands.md
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/status.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add docs for block values in PAC dynamic variables
  docs/content/docs/guide/authoringprs.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Implement Set Client func in Bitbucket Server
  pkg/provider/bitbucketserver/acl_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Remove not working workflow GHA
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-automerge.yaml
Due: pipelines-as-code-main-controller-on-push

feat(prow): add merge command and update params
  .tekton/prow.yaml
Due: pipelines-as-code-main-controller-on-push

Update Jenkins-x/go-scm version
  go.mod
  go.sum
  vendor/github.com/jenkins-x/go-scm/scm/driver/stash/git.go
  vendor/github.com/jenkins-x/go-scm/scm/driver/stash/pr.go
  vendor/github.com/jenkins-x/go-scm/scm/git.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Use KO for building and pushing images
  .github/workflows/container.yaml
  .github/workflows/ghcr.yaml
  .github/workflows/multi-arch-ghcr-on-release.yaml
Due: pipelines-as-code-main-controller-on-push

Add repo name on KO_DOCKER_REPO
  .github/workflows/container.yaml
  docs/content/docs/guide/cli.md
  hack/generate-releaseyaml.sh
  hack/second-controller.py
Due: doc-generation, pipelines-as-code-main-controller-on-push

Remove repo name on KO_DOCKER_REPO
  .github/workflows/container.yaml
  docs/content/docs/guide/cli.md
  hack/generate-releaseyaml.sh
  hack/second-controller.py
Due: doc-generation, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
