Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

fix(gitlab): workaround the gitlab diff API limit when necessary
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add documentation link checking and auto-fix tooling
  .pre-commit-config.yaml
  .tekton/doc.yaml
  .tekton/linter.yaml
  Makefile
  docs/.htmltest.yml
  hack/check-links.sh
  hack/download-htmltest.sh
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: update CLAUDE.md reference
  CLAUDE.md
Due: pipelines-as-code-main-controller-on-push

docs: add project logo to readme
  README.md
Due: pipelines-as-code-main-controller-on-push

docs: Restructure configuration settings documentation
  docs/content/docs/advanced/cleanup.md
  docs/content/docs/api/configmap.md
  docs/content/docs/guides/creating-pipelines/github-token.md
  docs/content/docs/guides/pipeline-resolution/_index.md
  docs/content/docs/guides/pipeline-resolution/remote-pipelines.md
  docs/content/docs/installation/openshift.md
  docs/content/docs/operations/configuration.md
  docs/content/docs/operations/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat(github): add configurable GitOps command prefix
  config/300-repositories.yaml
  docs/content/docs/guides/gitops-commands/advanced.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  test/github_comment_strategy_update_test.go
  test/github_gitops_commands_prefix_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/pkg/github/crd.go
  test/pkg/github/pr.go
  test/pkg/options/options.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: use correct os name for mac in htmltest
  hack/download-htmltest.sh
Due: pipelines-as-code-main-controller-on-push

test: add GHE webhook dynamic repo creation
  .github/workflows/e2e.yaml
  test/e2e-config.yaml.example
  test/github_comment_strategy_update_test.go
  test/github_incoming_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_test.go
  test/github_push_test.go
  test/pkg/configfile/config.go
  test/pkg/github/crd.go
  test/pkg/github/pr.go
  test/pkg/github/scm.go
  test/pkg/github/setup.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: improve message when /retest has nothing to retest
  pkg/matcher/annotation_matcher.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: improve message when /retest has nothing to retest
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

ci: use steps syntax for cache-fetch result reference
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
Due: push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

style: fix golangci-lint errors
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor(test): restructure GitHub GHE test setup
  .github/workflows/e2e.yaml
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_push_retest_test.go
  test/github_tag_gitops_test.go
  test/pkg/github/crd.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: don't set VERSION in gitignore
  docs/.gitignore
  pkg/hub/tektonhub.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor(github): consolidate JWT generation and add caching
  pkg/cmd/tknpac/info/install.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test(github): prevent nil panic in GHE test teardown
  test/pkg/github/instrumentation.go
  test/pkg/github/pr.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: rename GHE webhook tests for consistency
  test/github_comment_strategy_update_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_test.go
  test/github_push_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: update team creation to match new Forgejo SDK requirements
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/scm.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: fix regex-chars marker test
  test/github_comment_strategy_update_test.go
  test/testdata/pipelinerun-regex-chars-brackets.yaml
  test/testdata/pipelinerun-regex-chars-dots.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/b065d8fb7a67e036c5c806b6e6116bab4dae796d
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/versiondata/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

test: use correct namespace for log collection
  test/pkg/github/instrumentation.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore(doc-update): Clarify App ID location in GitHub App details
  docs/content/docs/providers/github-app.md
Due: doc-generation, pipelines-as-code-main-controller-on-push
