Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/9deac108b004e74d8253d0687d9d8af465f04045 for release v0.33.1
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/9deac108b004e74d8253d0687d9d8af465f04045 for release v0.33.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: fix typo
  hack/dev/kind/install.sh
  pkg/acl/owners.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: fix typo
  hack/dev/kind/install.sh
Due: pipelines-as-code-main-controller-on-push

chore: allow users to set the REG_PORT for make dev using a envvar
  docs/content/docs/dev/_index.md
  hack/dev/kind/install.sh
Due: doc-generation, pipelines-as-code-main-controller-on-push

WIP use pull_request
  .github/workflows/e2e.yaml
Due: pipelines-as-code-main-controller-on-push

chore: Use startpaac script for E2E environment setup
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: add comment to IsAllowed function in bitbucketdatacenter
  pkg/provider/bitbucketdatacenter/acl.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/ff5f75187a5d653389bc363160e1b4cca5738f47
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Enable cluster wide setting for cancel-in-progress
  config/302-pac-configmap.yaml
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/convert_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/pipelineascode.go
  test/github_pullrequest_test.go
  test/pkg/github/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Match source and head branch in full path
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: /ok-to-test /retest pipelineruns are not created if last successful
  pkg/pipelineascode/pipelineascode.go
  test/github_config_maxkeepruns_test.go
  test/gitlab_merge_request_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Add paths in GitHub actions E2E workflow
  .github/workflows/e2e.yaml
Due: pipelines-as-code-main-controller-on-push

feat: Add new dynamic variable git_tag
  docs/content/docs/guide/authoringprs.md
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/pipelineascode/template_test.go
  pkg/templates/templating_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Replace structs from bbv1 to local
  pkg/provider/bitbucketdatacenter/acl_test.go
  pkg/provider/bitbucketdatacenter/detect_test.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
  pkg/provider/bitbucketdatacenter/test/test_types.go
  pkg/provider/bitbucketdatacenter/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

CI Fixes
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

docs: correct GitLab token scope from `admin:repo_hook` to `api`
  docs/content/docs/install/gitlab.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: update pull_request_target to pull_request
  .github/workflows/kind-e2e-tests.yaml
Due: pipelines-as-code-main-controller-on-push

fix: update pull_request_target to pull_request
  .github/workflows/kind.yaml
Due: pipelines-as-code-main-controller-on-push
