Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go

Refactored ScopeTokenToListOfRepos and moved to Github provider package
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
Due: push-generate-coverage-releaseyaml, go-testing

removed unused GithubAppTokenScopeRepos as its moved to settings field
  pkg/apis/pipelinesascode/v1alpha1/types.go
Due: push-generate-coverage-releaseyaml, go-testing

Make pod logs configurable with config map.
  cmd/pipelines-as-code-controller/main.go
  config/301-config-logging.yaml
  config/400-controller.yaml
  config/500-watcher.yaml
  config/600-webhook.yaml
  pkg/reconciler/controller.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix pipelinesascode_github_test
  pkg/pipelineascode/pipelineascode_test.go
  pkg/test/github/github.go
  pkg/test/repository/repository.go
Due: push-generate-coverage-releaseyaml, go-testing

fix review comments and added some info log
  docs/content/docs/guide/repositorycrd.md
  pkg/pipelineascode/match.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Scope GitHub token to a list of provided private and public repository
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/gitea_custom_console_dashboard_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/pkg/configmap/configmap.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Addressed review comments and updated doc
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/gitea_custom_console_dashboard_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/pkg/configmap/configmap.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix CI issue and removed TestGithubPullRequestRemoteTaskAnnotations e2e test as well as updated workflow for kind e2e and nightly
  .github/workflows/kind-e2e-tests.yaml
  .github/workflows/kind-nightly.yaml
  pkg/pipelineascode/match.go
  test/github_pullrequest_remote_task_annotations_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: push-generate-coverage-releaseyaml, go-testing

add unittest for getLogURLMergePatch
  pkg/pipelineascode/pipelineascode_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add doc about changing log level.
  docs/content/dev/_index.md
Due: doc-generation

Use knative to get namespace.
  cmd/pipelines-as-code-controller/main.go
Due: push-generate-coverage-releaseyaml, go-testing

Improve logging doc with more actual info.
  docs/content/dev/_index.md
Due: doc-generation

Let the user install gosmee on bootstrap on OpenShift
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/install.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add some tests for bootstrap and controller
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/bootstrap_test.go
  pkg/reconciler/controller_test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix some markdownlint new error in code-of-conduct
  code-of-conduct.md
Due: none

Move customparams feature to its own package
  pkg/customparams/cel.go
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/template.go
Due: push-generate-coverage-releaseyaml, go-testing

Make custom console respect custom params
  docs/content/docs/install/settings.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
  pkg/consoleui/interface.go
  pkg/consoleui/openshift.go
  pkg/consoleui/tektondashboard.go
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  pkg/params/settings/validation.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
  pkg/templates/templating.go
  test/gitea_custom_console_dashboard_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

let set string on upload-file-to-github.py script
  .tekton/generate-coverage-release.yaml
  .tekton/release-pipeline.yaml
  hack/upload-file-to-github.py
Due: none

let set string on upload-file-to-github.py script (#1264)
  .tekton/generate-coverage-release.yaml
  .tekton/release-pipeline.yaml
  hack/upload-file-to-github.py
Due: none

Add namespace info to the logger
  pkg/adapter/incoming.go
  pkg/pipelineascode/match.go
  pkg/provider/github/repository.go
  pkg/reconciler/finalizer.go
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

rename config_maxkeepruns_test to github_config_maxkeepruns_test
  test/github_config_maxkeepruns_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Let user define pipeline provenance definition
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  hack/dev/kind/install.sh
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/pipelineascode/match.go
  pkg/provider/bitbucketcloud/acl_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/testdata/tree/defaultbranch/.tekton/pipeline.yaml
  pkg/provider/github/testdata/tree/defaultbranch/.tekton/pipelinerun.yaml
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/gitea_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Update repositorycrd md file
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation

Use GitHub official company name instead of Github
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/guide/running.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/github_apps.md
  docs/content/docs/install/settings.md
Due: doc-generation

add our own rule for vale to check
  .vale.ini
  .vale/styles/PaaC/GitHub.yml
Due: none

more Github to GitHub replacement in docs
  docs/content/docs/guide/cli.md
  docs/content/docs/install/github_webhook.md
Due: doc-generation

add some helpful comments in configmap example
  config/302-pac-configmap.yaml
Due: none
