Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

ci: Add conventional commit check to Tekton linter
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

refactor: Remove deprecated ClusterTask in pac
  hack/dev/e2e-cleanups
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/generate/generate_test.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/pipelinerun-with-a-clustertasks.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/c4c793587bdaf33a044632e2f4ffd13622175edc
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Report validation errors on pull requests
  docs/content/docs/dev/_index.md
  docs/content/docs/guide/running.md
  docs/static/images/report-error-comment-on-bad-yaml.png
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/README.md
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/testdata/TestGithubSecondPullRequestBadYaml.golden
  test/testdata/failures/pipeline-validation.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Fix log output script path in E2E workflow
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Restrict E2E workflow on PR target to privileged users
  .github/workflows/e2e.yaml
  .tekton/e2e-label.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Restrict E2E workflow on PR target to privileged users
  .github/workflows/e2e.yaml
  .tekton/e2e-label.yaml
  .tekton/trigger-e2e-test.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: simplify PR trigger condition for e2e workflow
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

ci: Fix e2e running permissions again
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

use a static list for the list of allowed users
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

Test CI ignore
  .tekton/trigger-e2e-test.yaml
  pkg/random/random.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

use PR_REVISION for ref
  .tekton/trigger-e2e-test.yaml
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d81d616705fc48d4427c360ada2fac688844a5f2 for release v0.34.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d81d616705fc48d4427c360ada2fac688844a5f2 for release v0.34.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Add OpenAPI schema validation for CRD
  .tekton/linter.yaml
  Makefile
  config/300-repositories.yaml
  docs/content/docs/dev/_index.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/openapi-schema.md
  docs/content/docs/install/gitlab.md
  docs/static/images/vscode-openapi-schema.png
  hack/update-schemas.sh
  pkg/apis/pipelinesascode/v1alpha1/types.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: add verbose flag to e2e tests in ci workflow
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1b4ded8ba4ceaa8d40cf69167e7ee680c08ae7a1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

add waveywaves to list of developers for whom e2e can run
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: /ok-to-test /retest pipelineruns should not be created if last sha successful
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  test/gitea_test.go
  test/github_config_maxkeepruns_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Disable descriptive-lint-text check for md files
  .markdownlint.json
Due: pipelines-as-code-main-controller-on-push

refactor: replace getActivities func call with jenkins-x/go-scm
  pkg/provider/bitbucketdatacenter/acl.go
  pkg/provider/bitbucketdatacenter/acl_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/types/types.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

cleanup: wave good bye to bbv1 lib
  go.mod
  go.sum
  pkg/provider/bitbucketdatacenter/acl_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/bitbucketdatacenter/pagination.go
  pkg/provider/bitbucketdatacenter/test/test.go
  pkg/provider/bitbucketdatacenter/types/types.go
  vendor/github.com/gfleury/go-bitbucket-v1/.gitignore
  vendor/github.com/gfleury/go-bitbucket-v1/CONTRIBUTORS
  vendor/github.com/gfleury/go-bitbucket-v1/LICENSE
  vendor/github.com/gfleury/go-bitbucket-v1/README.md
  vendor/github.com/gfleury/go-bitbucket-v1/api_client.go
  vendor/github.com/gfleury/go-bitbucket-v1/api_request.go
  vendor/github.com/gfleury/go-bitbucket-v1/api_response.go
  vendor/github.com/gfleury/go-bitbucket-v1/configuration.go
  vendor/github.com/gfleury/go-bitbucket-v1/default_api.go
  vendor/github.com/gfleury/go-bitbucket-v1/webhook.go
  vendor/modules.txt
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Fix typo in provider name
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

deps: Downgrade go version to 1.23.6 and remove toolchain
  go.mod
  go.sum
  vendor/github.com/cert-manager/cert-manager/LICENSES
  vendor/modules.txt
Due: pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
