Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

Expose source URL and branch via annotation
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure to check if we can make API calls
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix yamllint error
  .tekton/doc.yaml
Due: none

do not use map to update console struct
  pkg/consoleui/custom.go
Due: push-generate-coverage-releaseyaml, go-testing

Add test for when concurrency and startPR error
  test/gitea_test.go
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing

do not use map to update console struct
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
  pkg/params/run.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix 404 error for GitLab provider
  pkg/customparams/standard.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix 404 error for GitLab provider
  pkg/provider/gitlab/gitlab_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix tkn-pac issue GitHub App name with quote fails
  pkg/cmd/tknpac/bootstrap/bootstrap.go
Due: push-generate-coverage-releaseyaml, go-testing

Implement GetTaskURI for GitLab provider
  docs/content/docs/guide/resolver.md
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/task.go
  pkg/provider/gitlab/task_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

feat(cel): Add unittests for CEL package
  pkg/cel/cel.go
  pkg/cel/cel_test.go
  pkg/customparams/customparams.go
  pkg/templates/templating.go
Due: push-generate-coverage-releaseyaml, go-testing

feat: Allow non-admin users to get install info
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/info/install.go
  pkg/cmd/tknpac/info/templates/info.tmpl
  pkg/cmd/tknpac/info/testdata/TestInfo/no_repos.golden
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Vale rules update
  .vale/styles/.vale-config/1-Hugo.ini
  .vale/styles/.vale-config/2-Hugo.ini
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/DoNotUseTerms.yml
  .vale/styles/RedHat/EmDash.yml
  .vale/styles/RedHat/MergeConflictMarkers.yml
  .vale/styles/RedHat/PascalCamelCase.yml
  .vale/styles/RedHat/RepeatedWords.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
Due: none

Pre-commit update
  .pre-commit-config.yaml
Due: none

Refactor configutil and fix bug with catalog parsing
  hack/dev/kind/install.sh
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
  pkg/hub/get_test.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/params/info/info.go
  pkg/params/info/info_test.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/convert.go
  pkg/params/settings/convert_test.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
  pkg/pipelineascode/pipelineascode_test.go
  test/testdata/pipelinerun_remote_task_annotations.yaml
Due: push-generate-coverage-releaseyaml, go-testing

fix goreleaser
  .goreleaser.yml
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1c020a8b1c274981812f9d6e1bbb7f6f97e459f3 for release v0.27.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

update goreleaser to version 2
  .goreleaser.yml
  .tekton/linter.yaml
Due: none

Tweak the non-matching pipelinerun test
  pkg/provider/github/app/token_test.go
  test/testdata/pipelinerun-nomatch.yaml
Due: push-generate-coverage-releaseyaml, go-testing

feat(docs): use /dev/random for generating secrets
  docs/content/docs/install/bitbucket_server.md
  docs/content/docs/install/github_apps.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
Due: doc-generation

Add log for TestGHPullRequestConcurrencyMultiplePR
  hack/gh-workflow-ci.sh
  pkg/pipelineascode/concurrency.go
  test/github_pullrequest_concurrency_multiplepr_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix panic issue when concurrency is set for global repo
  pkg/sync/queue_manager.go
Due: push-generate-coverage-releaseyaml, go-testing
