Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

Fix grammar in the doc
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Update docs/content/docs/guide/running.md
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Remove slashes from markdown code block
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

docs: clarify github trigger behavior
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Add support for ready_for_review GitHub PR event
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

ci: Start documentation development server in foreground
  Makefile
  hack/start-hugo-dev-server.sh
Due: pipelines-as-code-main-controller-on-push

ci: Fix dev-docs server invocation
  hack/start-hugo-dev-server.sh
Due: pipelines-as-code-main-controller-on-push

test: set all gitea tests as parallel
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: sanitize Docker image tags to remove invalid characters
  .github/workflows/container.yaml
Due: pipelines-as-code-main-controller-on-push

chore(bousdsole): Set default merge to squash
  .tekton/boussole.yaml
Due: pipelines-as-code-main-controller-on-push

fix: Cancel PipelineRuns on MR change in Gitlab
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/provider/gitlab/parse_payload.go
  test/gitlab_merge_request_test.go
  test/pkg/scm/scm.go
  test/pkg/wait/wait.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: experimental refactor
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Correct regex for comment event
  .tekton/boussole.yaml
Due: pipelines-as-code-main-controller-on-push

feat: Report validation errors on pull requests
  docs/content/docs/dev/_index.md
  docs/content/docs/guide/running.md
  docs/static/images/report-error-comment-on-bad-yaml.png
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/README.md
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/testdata/TestGithubSecondPullRequestBadYaml.golden
  test/testdata/failures/pipeline-validation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Truncate log when matching on-comment
  pkg/matcher/annotation_matcher.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: E2E tests failure on nightly
  test/github_tkn_pac_cli_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: clarify resolver matching in guide
  docs/content/docs/guide/matchingevents.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Update pac boussole configuration
  .tekton/boussole.yaml
Due: pipelines-as-code-main-controller-on-push

fix(config): update controller port to 8082
  config/400-controller.yaml
  config/401-controller-service.yaml
  pkg/adapter/adapter.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Update codespell pre-commit
  .pre-commit-config.yaml
Due: pipelines-as-code-main-controller-on-push

Add support for GitOps commands on pushed commits in GitLab
  docs/content/docs/guide/gitops_commands.md
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/secret.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/provider/gitlab/test/test.go
  pkg/reconciler/event.go
  test/gitlab_push_gitops_command_test.go
  test/pkg/wait/wait.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Update the case of `Push` eventType to `push` in Gitlab
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(cli): Skip dashboard URL prompt if not needed
  pkg/cmd/tknpac/bootstrap/bootstrap_test.go
  pkg/cmd/tknpac/bootstrap/install.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
