Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

Remove repo name on KO_DOCKER_REPO
  .github/workflows/container.yaml
  docs/content/docs/guide/cli.md
  hack/generate-releaseyaml.sh
  hack/second-controller.py
Due: doc-generation, pipelines-as-code-main-controller-on-push

Add test for pkg/cli/color
  pkg/cli/color_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

disable pull_request target
  .github/workflows/container.yaml
Due: pipelines-as-code-main-controller-on-push

Fix Default Branch issue on GitOps Comment Event in Github
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: add unit tests for IOStreams package
  pkg/cli/iostreams_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Fix image path in generate-releaseyaml.sh
  hack/generate-releaseyaml.sh
  pkg/cli/webhook/gitlab.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Fix yaml again
  hack/generate-releaseyaml.sh
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Implement GetFiles Func of Bitbucket Server Provider for CEL
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/test/test_types.go
  test/bitbucket_server_pull_request_test.go
  test/bitbucket_server_push_test.go
  test/testdata/pipelinerun-cel-path-changed.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Fix trigger_comment newline
  .tekton/prow.yaml
  docs/content/docs/guide/authoringprs.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Add support for uninitialized Custom Params
  docs/content/docs/guide/customparams.md
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  test/gitea_gitops_commands_test.go
  test/gitea_params_test.go
  test/testdata/params.yaml
  test/testdata/pipelinerun-on-comment-annotation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add rebase command to prow commands
  .tekton/prow.yaml
Due: pipelines-as-code-main-controller-on-push

fix: strip spaces and newlines from the comment before matching
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/matchingevents.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Validate Repository URL
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/install/global_repositories_setting.md
  pkg/webhook/validation.go
  pkg/webhook/validation_test.go
  test/repo_validation_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/6540c93c9afa2ca228498a4b3971658575880b25
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: remove Dockerfile and update dev docs
  Dockerfile
  docs/content/docs/dev/_index.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Clearification about GitOps command execution on pushed commits
  docs/content/docs/guide/gitops_commands.md
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Fix GitOps Command Issue on Pushed Commit by Unautorized User
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

pac-Prow has been renamed to bousole
  .tekton/boussole.yaml
  .tekton/prow.yaml
Due: pipelines-as-code-main-controller-on-push

Fix GitOps Command Issue on Pushed Commit by Unautorized User
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  test/gitea_access_control_test.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(golangci-lint): fix forcetypeassert errors
  .golangci.yml
  pkg/templates/templating.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix handle multiline trigger_comment var properly
  docs/content/docs/guide/gitops_commands.md
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  test/gitea_gitops_commands_test.go
  test/testdata/TestGiteaOnCommentAnnotation-pipelinerun-on-comment-annotation.golden
  test/testdata/TestGiteaOnCommentAnnotation.golden
  test/testdata/pipelinerun-on-comment-annotation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d51c912f173266804edb6a95eafefecdf3181b99
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d51c912f173266804edb6a95eafefecdf3181b99 for release v0.33.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d51c912f173266804edb6a95eafefecdf3181b99 for release v0.33.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
