Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

chore(lint): scope revive var-naming exclusion to specific packages
  .golangci.yml
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/f0420c593c6c30a0554469feda98963ec18d5995 for release v0.37.4
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/f0420c593c6c30a0554469feda98963ec18d5995 for release v0.37.4
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(cel): add nil checks to prevent panics in webhook parsers
  pkg/cmd/tknpac/cel/parser.go
  pkg/cmd/tknpac/cel/parser_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: auto-detect hub type when catalog type is empty
  docs/content/docs/install/settings.md
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: markdownlint error happening due to new version
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/llm-analysis.md
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/install/metrics.md
  docs/content/docs/install/second_controller.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/60431749b14d6edc1b4928b99d43b4832a101554 for release v0.39.3
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/60431749b14d6edc1b4928b99d43b4832a101554 for release v0.39.3
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(gitlab): disable retry logic in test client
  pkg/provider/gitlab/test/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): ensure GetFiles and CreateComment pages over API results
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/test/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/9d60ff70fe50becee02ec2ead487bdfb1bd525e6 for release v0.40.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/9d60ff70fe50becee02ec2ead487bdfb1bd525e6 for release v0.40.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: introduce deduplicate-pipelineruns setting
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_startpr_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: report cancelled status when PipelineRun is deleted
  pkg/reconciler/finalizer.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Fix makefile ignore when collecting files
  Makefile
Due: pipelines-as-code-main-controller-on-push

fix: GitLab provider getting a URL on same host
  pkg/provider/gitlab/task.go
  pkg/provider/gitlab/task_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(matcher): prevent CEL from matching label events unintentionally
  pkg/matcher/annotation_matcher.go
  pkg/matcher/cel.go
  pkg/matcher/cel_ast.go
  pkg/matcher/cel_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(error-detection): add multiple pattern support
  config/300-repositories.yaml
  config/302-pac-configmap.yaml
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/provider/github/status.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/bafda32047f8575b19caef58d1c0692337e5d51b
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: Migrate CI to forgejo
  .github/workflows/e2e.yaml
  hack/dev/kind/README.md
  hack/dev/kind/forgejo/README.md
  hack/dev/kind/forgejo/deploy.py
  hack/dev/kind/forgejo/forgejo-deployment.yaml
  hack/dev/kind/forgejo/ingress-forgejo.yaml
  hack/dev/kind/gitea/deploy.py
  hack/dev/kind/install.sh
  pkg/policy/policy.go
  test/pkg/gitea/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: handle nil body in CEL eval
  pkg/cel/cel.go
  pkg/cel/cel_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Support arbitrary CEL expressions with cel: prefix
  docs/content/docs/guide/authoringprs.md
  pkg/templates/templating.go
  pkg/templates/templating_test.go
  test/gitea_params_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/testdata/TestGiteaParamsCelPrefix.golden
  test/testdata/TestGithubPullRequestCelPrefix.golden
  test/testdata/TestGitlabMergeRequestCelPrefix.golden
  test/testdata/pipelinerun-cel-prefix-github.yaml
  test/testdata/pipelinerun-cel-prefix-gitlab.yaml
  test/testdata/pipelinerun-cel-prefix-test.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(github): enrich comment event body for CEL evaluation
  docs/content/docs/guide/matchingevents.md
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  test/github_pullrequest_test_comment_test.go
  test/testdata/pipelinerun-cel-enriched-comment.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(cel): add direct custom param variable access in expressions
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/customparams.md
  docs/content/docs/guide/matchingevents.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  pkg/test/repository/repository.go
  test/gitea_custom_params_cel_test.go
  test/testdata/pipelinerun-cel-custom-params-nomatch.yaml
  test/testdata/pipelinerun-cel-custom-params-pullrequest.yaml
  test/testdata/pipelinerun-cel-filtered-param-undefined.yaml
  test/testdata/pipelinerun-cel-on-comment-param.yaml
  test/testdata/pipelinerun-cel-secret-params.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add one_per_pipeline comment strategy
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/comment/cache.go
  pkg/provider/comment/cache_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/webhook/validation.go
  test/gitea_test.go
  test/github_pullrequest_one_comment_per_pipeline_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/github_skip_ci_test.go
  test/gitlab_delete_tag_event_test.go
  test/pkg/github/pr.go
  test/pkg/wait/logs.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Add temporary directories to gitignore
  .gitignore
Due: pipelines-as-code-main-controller-on-push

fix(gitlab): skip MR comment for state transition errors
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
