Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

refactor: Migrate build tags from +build to //go:build directives
  pkg/apis/pipelinesascode/v1alpha1/zz_generated.deepcopy.go
  test/bitbucket_cloud_pullrequest_test.go
  test/bitbucket_datacenter_dynamic_variables_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/gitea_results_annotation_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_pullrequest_oktotest_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_rerequest_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_retest_test.go
  test/github_push_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/github_tkn_pac_cli_test.go
  test/gitlab_delete_tag_event_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_oktotest_thread_reply_test.go
  test/gitlab_push_gitops_command_test.go
  test/invalid_event_test.go
  test/repo_validation_test.go
  test/repository_webhook_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/f3db57fd71c348650c2a17003abed40bce4d3161
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(github): handle check run status for validation errors
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  test/github_pullrequest_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Remove redundant comments and clean up code logic
  pkg/llm/analyzer.go
  pkg/llm/context/assembler.go
  pkg/llm/factory.go
  pkg/llm/orchestrator.go
  pkg/llm/output_handler.go
  pkg/llm/providers/common.go
  pkg/llm/providers/gemini/client.go
  pkg/llm/providers/openai/client.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(github): handle check run status for validation errors
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  test/github_config_maxkeepruns_test.go
  test/github_pullrequest_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: correct docs for GitOps commands on GitLab
  docs/content/docs/guide/gitops_commands.md
  docs/static/images/gitlab-gitops-comment-on-commit.png
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: prevent nil pointer panic in EventEmitter
  pkg/events/emit.go
  pkg/events/emit_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add support for optional `namespace` parameter in incoming webhook
  docs/content/docs/guide/incoming_webhook.md
  pkg/adapter/adapter.go
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/matcher/repo_runinfo_matcher.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Exclude tag push events from skip-pr-commits logic
  docs/content/docs/install/settings.md
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  test/gitea_params_test.go
  test/github_pullrequest_test.go
  test/github_tag_gitops_test.go
  test/pkg/github/tag.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: add unit tests for StartPR
  pkg/pipelineascode/pipelineascode_startpr_test.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/test/kubernetestint/kubernetesint.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/269d2a730d75d13effe085b4eeecb62f664cd12a for release v0.39.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/269d2a730d75d13effe085b4eeecb62f664cd12a for release v0.39.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Update Gemini model to non-preview version
  .tekton/issue-create.yaml
  .tekton/jira.yaml
  .tekton/pr-ci.yaml
  hack/pr-ci/README.md
  hack/pr-ci/src/pr_ci/config.py
Due: pipelines-as-code-main-controller-on-push

docs(resolver): Reorganize in-repo pipeline and task documentation
  docs/content/docs/guide/resolver.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

test(gitlab): add comprehensive ACL test coverage
  pkg/provider/gitlab/acl_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/f8992de547964a73e93f92b03676e7062e26e4e2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: increase logs lines to check for string in e2e
  test/gitlab_delete_tag_event_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(perf): cache `vcs.GetFiles()` to reduce redundant VCS API volume
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/metrics/metrics_test.go
  pkg/reconciler/emit_metrics_test.go
  pkg/test/metrics/metrics.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore(lint): set golangci default switch case as exhaustive
  .golangci.yml
Due: pipelines-as-code-main-controller-on-push

chore(goreleaser): use binaries field in homebrew
  .goreleaser.yml
Due: pipelines-as-code-main-controller-on-push

fix: delete go build tag for CI
  test/gitea_params_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/8195b9d24fb2957656f0b4cf89eea02b37e14d70 for release v0.37.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/8195b9d24fb2957656f0b4cf89eea02b37e14d70 for release v0.37.2
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: add skip CI command support
  README.md
  docs/content/docs/guide/matchingevents.md
  pkg/adapter/sinker.go
  pkg/adapter/sinker_test.go
  pkg/params/info/events.go
  pkg/pipelineascode/client_setup.go
  pkg/pipelineascode/client_setup_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/test/provider/testwebvcs.go
  test/github_skip_ci_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Require SHA for /ok-to-test comments
  config/302-pac-configmap.yaml
  docs/content/docs/guide/gitops_commands.md
  pkg/acl/regexp.go
  pkg/acl/regexp_test.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/parse_payload.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

enhance: add PipelineRun name in pr json marshalling
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
