Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

fix(bitbucketcloud): optimize commit info fetch
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Enforce mandatory webhook secret for GitLab validation
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/8dd85422ddee0bb9259bb217519686a1d5977377 for release v0.39.4
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/8dd85422ddee0bb9259bb217519686a1d5977377 for release v0.39.4
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/02cb1b7032e191d5e030da0af60392af0a8d2e9a for release v0.37.5
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/02cb1b7032e191d5e030da0af60392af0a8d2e9a for release v0.37.5
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Auto-detect hub type for custom hub catalogs
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/params/info/info.go
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

ci(e2e): consolidate Slack notifications for failures
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Enable debug logging for e2e tests
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Conditionally run gosmee for Gitea tests
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Exclude deleted repository when reconciling
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Set GITEA_API_URL for in-cluster CI tests
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix(gitlab): enable skip-CI for merge requests
  pkg/adapter/sinker.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/parse_payload.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/740ff2d53041fd8e7c1e4915d92fcb6ddc62b35b
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Only show error and fatal level in snazy
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

feat: Rename Gitea to Foregjo in docs
  README.md
  docs/content/docs/dev/_index.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/guide/policy.md
  docs/content/docs/guide/running.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/bitbucket_datacenter.md
  docs/content/docs/install/forgejo.md
  docs/content/docs/install/global_repositories_setting.md
  docs/content/docs/install/settings.md
  docs/layouts/shortcodes/support_matrix.html
  docs/static/images/forgejo-webhook-config.png
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Include concurrency provider in e2e tests
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Update Makefile to use git ls-files for lint
  Makefile
Due: pipelines-as-code-main-controller-on-push

ci: replace Codecov with go-better-html-coverage
  .codecov.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  pkg/formatting/array_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test(reconciler): add mock HTTP server to avoid network calls
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Adjust go test and coverage generation
  .tekton/go.yaml
Due: pipelines-as-code-main-controller-on-push

feat(gitlab): add update comment strategy Add comment strategy that updates a single comment per pipeline instead of creating new ones on each retest.
  config/300-repositories.yaml
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/comment/cache.go
  pkg/provider/comment/cache_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/webhook/validation.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor(test): generalize PAC log matching
  test/gitea_custom_params_cel_test.go
  test/gitea_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/github_skip_ci_test.go
  test/gitlab_delete_tag_event_test.go
  test/pkg/wait/logs.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(github): add update comment strategy Add comment strategy that updates a single comment per pipeline instead of creating new ones on each retest.
  config/300-repositories.yaml
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs(repository): add update comment_strategy option
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

test: add e2e for update comment strategy
  test/github_pullrequest_one_comment_per_pipeline_test.go
  test/pkg/github/pr.go
  test/pkg/wait/wait.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(Makefile): correct GIT_LS_FILES macro and call sites
  Makefile
Due: pipelines-as-code-main-controller-on-push

ci(e2e): capture test output inside run_e2e_tests function
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

ci: add test summary with logs to e2e workflow
  .github/workflows/e2e.yaml
  hack/e2e-ci/generate-test-summary.py
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push
