Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

fix: update pull_request_target to pull_request
  .github/workflows/kind-e2e-tests.yaml
Due: pipelines-as-code-main-controller-on-push

fix: update pull_request_target to pull_request
  .github/workflows/dependabot-automerge.yaml
  .github/workflows/kind-e2e-tests.yaml
Due: pipelines-as-code-main-controller-on-push

CI Fixes
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

refactor: Revert startpaac
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Handles branch delete event on github
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/provider.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

add nsteardown documnetation
  test/pkg/repository/teardown.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Replace structs from bbv1 to local
  pkg/provider/bitbucketdatacenter/acl_test.go
  pkg/provider/bitbucketdatacenter/detect_test.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
  pkg/provider/bitbucketdatacenter/test/test_types.go
  pkg/provider/bitbucketdatacenter/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Add paths in GitHub actions E2E workflow
  .github/workflows/e2e.yaml
Due: pipelines-as-code-main-controller-on-push

chore: Update jenkins-x/go-scm version
  go.mod
  go.sum
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  vendor/github.com/jenkins-x/go-scm/scm/client.go
  vendor/github.com/jenkins-x/go-scm/scm/driver/stash/pr.go
  vendor/github.com/jenkins-x/go-scm/scm/driver/stash/stash.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add new dynamic variable git_tag
  docs/content/docs/guide/authoringprs.md
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/pipelineascode/template_test.go
  pkg/templates/templating_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Remove verbose flag from unit tests
  Makefile
Due: pipelines-as-code-main-controller-on-push

Update test/pkg/repository/teardown.go
  test/pkg/repository/teardown.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Warn user when on-cel-expression is used with on-target-branch/on-event
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Enable cluster wide setting for cancel-in-progress
  config/302-pac-configmap.yaml
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/convert_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/pipelineascode.go
  test/github_pullrequest_test.go
  test/pkg/github/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Match source and head branch in full path
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  test/github_pullrequest_test.go
  test/pkg/github/setup.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
