Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Enforce the Pipelines-as-Code name
  .vale/styles/PaaC/Paac.yml
  docs/content/_index.md
  docs/content/dev/_index.md
  docs/content/dev/release-process.md
  docs/content/docs/flows/_index.md
  docs/content/docs/flows/concurrency.md
  docs/content/docs/flows/diagram.md
  docs/content/docs/guide/_index.md
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cleanups.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/privaterepo.md
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/guide/running.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/_index.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/bitbucket_server.md
  docs/content/docs/install/github_apps.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
  docs/content/docs/install/installation.md
  docs/content/docs/install/kubernetes.md
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/overview.md
  docs/content/docs/install/settings.md
Due: doc-generation

Rephrase docs for private repos
  docs/content/docs/guide/privaterepo.md
Due: doc-generation

Apply vale rules on README.md as well
  Makefile
  README.md
Due: none

when pushing to gitea use a loop to try multiple times on errors
  test/pkg/gitea/scm.go
Due: push-generate-coverage-releaseyaml, go-testing

Apply vale rules on README.md as well (#1335)
  Makefile
  README.md
Due: none

Generate dropdown of versions
  .tekton/generate-coverage-release.yaml
  .tekton/release-pipeline.yaml
  docs/css/custom.css
  docs/layouts/partials/docs/footer.html
Due: doc-generation

Add a getting started documentation
  docs/content/_index.md
  docs/content/docs/install/getting-started.md
  docs/content/docs/install/installation.md
  docs/static/images/github-app-creation-screen.png
  docs/static/images/github-app-install-CI-failed.png
  docs/static/images/github-app-install-CI-succeeded.png
  docs/static/images/github-app-install-CI-triggered.png
  docs/static/images/github-app-install-application-on-repo.png
  docs/static/images/github-app-matching-annotations.png
Due: doc-generation

Delete git-clone basic-auth secret when deleting a pipelinerun
  pkg/kubeinteraction/cleanups.go
Due: push-generate-coverage-releaseyaml, go-testing

Add a getting started documentation
  docs/content/_index.md
  docs/content/docs/install/getting-started.md
  docs/content/docs/install/installation.md
  docs/static/images/github-app-creation-screen.png
  docs/static/images/github-app-install-CI-failed.png
  docs/static/images/github-app-install-CI-succeeded.png
  docs/static/images/github-app-install-CI-triggered.png
  docs/static/images/github-app-install-application-on-repo.png
  docs/static/images/github-app-matching-annotations.png
  pkg/cmd/tknpac/bootstrap/web.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add test for deleting secret with PipelineRun
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/list/list_test.go
  pkg/cmd/tknpac/logs/logs_test.go
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/cleanups_test.go
  pkg/kubeinteraction/status/task_status_test.go
  pkg/reconciler/cleanup_test.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status_test.go
  pkg/sort/pipelinerun_test.go
  pkg/test/tekton/genz.go
Due: push-generate-coverage-releaseyaml, go-testing

add placeholder reconcile test
  .tekton/doc.yaml
  pkg/webhook/reconciler_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure we add workspaces.source as safe.dir
  .tekton/go.yaml
Due: none

Fix comments on test
  pkg/webhook/reconciler_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure we fetch everything in git
  .tekton/generate-coverage-release.yaml
Due: none

Fix coverage and add info about OWNER_ALIASESt
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  docs/content/docs/guide/running.md
  pkg/acl/acl.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

fix codecov on push as well
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  pkg/cli/cli.go
Due: push-generate-coverage-releaseyaml, go-testing

add env variable or it will fails
  .tekton/generate-coverage-release.yaml
Due: none

add env variable or it will fails
  pkg/adapter/tls.go
Due: push-generate-coverage-releaseyaml, go-testing

remove pull request env variable on push
  pkg/cli/cli.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix coverage and add info about OWNER_ALIASES
  .codecov.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  docs/content/docs/guide/running.md
  pkg/acl/acl.go
  pkg/adapter/tls.go
  pkg/cli/cli.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Make sure we test for Pending Approval
  docs/content/docs/guide/policy.md
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Allow setting policies on actions
  config/300-repositories.yaml
  docs/content/docs/guide/policy.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/params/info/events.go
  pkg/pipelineascode/match.go
  pkg/policy/policy.go
  pkg/policy/policy_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/detect_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/detect.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/test/provider/testwebvcs.go
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
  test/pkg/repository/create.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Refactor filtering of the eventype to its own func
  pkg/provider/github/detect.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix a bunch of gitea e2e random failures
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Use builtin git-clone task
  .tekton/doc.yaml
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
  .tekton/release-pipeline.yaml
  .tekton/tasks/git-clone.yaml
  docs/content/dev/_index.md
Due: doc-generation

Add support for multiple catalog hubs
  config/302-pac-configmap.yaml
  docs/content/docs/guide/resolver.md
  docs/content/docs/install/settings.md
  hack/dev/kind/install.sh
  pkg/hub/get.go
  pkg/hub/get_test.go
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
  pkg/resolve/resolve.go
  test/testdata/pipeline_in_tektondir.yaml
  test/testdata/pipelinerun_remote_task_annotations.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Cleanup work
  pkg/customparams/standard.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
Due: push-generate-coverage-releaseyaml, go-testing

include additional help
  docs/content/docs/guide/authoringprs.md
Due: doc-generation

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go
