Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

added support for azure devops
  go.mod
  pkg/adapter/adapter.go
  pkg/params/info/events.go
  pkg/provider/azuredevops/acl.go
  pkg/provider/azuredevops/azuredevops.go
  pkg/provider/azuredevops/detect.go
  pkg/provider/azuredevops/parse_payload.go
  pkg/provider/azuredevops/types/change.go
  pkg/provider/azuredevops/types/types.go
Due: push-generate-coverage-releaseyaml, go-testing

updated vendor/modules.txt
  vendor/modules.txt
Due: none

added vendor
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/LICENSE
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/client_options.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/connection.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/core/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/core/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/delegatedauthorization/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/errors.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/forminput/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/git/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/git/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/identity/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/identity/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/notification/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/notification/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/operations/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/operations/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/policy/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/policy/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/servicehooks/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/servicehooks/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/system/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/version.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/versionnegotiation.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/webapi/models.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing

fixed status
  go.sum
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/kubeinteraction/labels.go
  pkg/provider/azuredevops/azuredevops.go
  pkg/provider/azuredevops/parse_payload.go
  pkg/reconciler/emit_metrics.go
  pkg/reconciler/event.go
Due: push-generate-coverage-releaseyaml, go-testing

Report tekton yaml validation error to the user
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/testdata/invalid_tekton_yaml/.tekton/on-comment.yaml
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/bad-tekton-yaml-generate-name.yaml
  pkg/resolve/testdata/bad-tekton-yaml-name.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Move consoleui inside a lock since its based on dynamic config
  pkg/action/patch_test.go
  pkg/cli/status/status.go
  pkg/cli/status/status_test.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/list/list_test.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/logs/logs_test.go
  pkg/params/clients/clients.go
  pkg/params/run.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
  pkg/sort/task_status.go
  pkg/sort/task_status_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Update providers to use a copy of pacopts
  pkg/adapter/adapter.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/github/repository.go
  pkg/provider/github/repository_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/test/provider/testwebvcs.go
Due: push-generate-coverage-releaseyaml, go-testing

Use pacopts from provider instead of run
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/reconciler/cleanup.go
  pkg/reconciler/cleanup_test.go
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Console UI: define a copy of pacopts instead from run
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
  pkg/consoleui/interface.go
  pkg/consoleui/openshift.go
  pkg/consoleui/tektondashboard.go
  pkg/params/run.go
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

Switch sinker, match, pipelineascode to use pacopts copy
  pkg/adapter/adapter.go
  pkg/adapter/sinker.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/template_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fixes race condition for accessing info.pacopts
  pkg/adapter/adapter_test.go
  pkg/cli/webhook/secret_test.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/resolve/resolve_test.go
  pkg/consoleui/custom_test.go
  pkg/hub/get_test.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/params/clients/clients.go
  pkg/params/info/pac.go
  pkg/params/info/runinfo.go
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/scope_test.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/reconciler/cleanup_test.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status_test.go
  test/gitea_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Switch to using GetPacInfo for pacopts
  pkg/adapter/adapter.go
  pkg/params/info/runinfo.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Switch PacOpts to a pointer
  pkg/adapter/adapter.go
  pkg/adapter/sinker.go
  pkg/params/run.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/template_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/test/provider/testwebvcs.go
Due: push-generate-coverage-releaseyaml, go-testing

Fixes setting pacopts for detected provider while starting from queue
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Fixes pacopts pointer usage in reconciler
  cmd/pipelines-as-code-controller/main.go
  pkg/reconciler/cleanup.go
  pkg/reconciler/cleanup_test.go
  pkg/reconciler/controller.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Custom Console ui: removes SetPacInfo func with a NewCustomConsole
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
  pkg/consoleui/interface.go
  pkg/consoleui/openshift.go
  pkg/consoleui/tektondashboard.go
  pkg/params/run.go
Due: push-generate-coverage-releaseyaml, go-testing

Skips using Info.Pac and switch to GetPacOpts
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/secret.go
  pkg/pipelineascode/secret_test.go
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Add design document
  docs/content/dev/design/_index.md
  docs/content/dev/design/multiple-url-to-same-repo.md
Due: doc-generation

add golangci-lint errcheck warning
  .errcheck.txt
  .golangci.yml
  pkg/templates/templating.go
Due: push-generate-coverage-releaseyaml, go-testing

move to golang official image from dockerhub
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  Dockerfile
  docs/content/dev/_index.md
Due: doc-generation, push-generate-coverage-releaseyaml

increase pvc size
  .tekton/go.yaml
Due: none

Make sure we get the oldest repository
  pkg/matcher/repo_runinfo_matcher.go
  pkg/matcher/repo_runinfo_matcher_test.go
  pkg/sort/repository.go
  pkg/sort/repository_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add support for GitOps comments on Push commits
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/running.md
  pkg/pipelineascode/match.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/parse_payload.go
  test/github_push_retest_test.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing
