Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

make sure we access pull_request_target
  .github/workflows/cover.yaml
Due: none

Do not validate users when pull-request is from the same repository
  OWNERS
  docs/content/docs/guide/running.md
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix bad section for tkn pac logs
  docs/content/docs/guide/cli.md
Due: doc-generation

build images for arm64 architecture
  .github/workflows/multi-arch-ghcr.yaml
Due: none

make coverage difference in paac pipeline
  .github/workflows/cover.yaml
  .tekton/go.yaml
Due: none

Update doc with another example on how to use the github token
  docs/content/docs/guide/authoringprs.md
Due: doc-generation

don't use git.io anymore
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
Due: none

enable error detection from container logs on github apps by default
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  hack/dev/kind/install.sh
  pkg/params/settings/config.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Test something…
  pkg/cli/cli.go
Due: push-generate-coverage-releaseyaml, go-testing

Add check suite support for github provider
  docs/content/docs/guide/running.md
  docs/content/docs/install/github_apps.md
  docs/static/images/github-apps-rerun-checks.png
  pkg/cmd/tknpac/bootstrap/github.go
  pkg/cmd/tknpac/bootstrap/github_test.go
  pkg/matcher/annotation_matcher.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  test/github_pullrequest_rerequest_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

use default branch for kind-nightly
  .github/workflows/kind-nightly.yaml
Due: none

Error out if multiple pipelineruns with same name are found
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  test/pkg/payload/get_entries.go
Due: push-generate-coverage-releaseyaml, go-testing

Always use latest ubi-minimal to build image
  Dockerfile
Due: none

cache docker image layers with builtins method
  .github/workflows/ghcr.yaml
Due: none

use buildkit for building image
  .github/workflows/ghcr.yaml
Due: none

document the fact that duplicate name are not allowed
  docs/content/docs/guide/authoringprs.md
Due: doc-generation

Don't error out when repo is not found
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/running.md
  pkg/pipelineascode/match.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix custom console dashboard issue and added e2e
  config/302-pac-configmap.yaml
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
  pkg/params/run.go
  test/gitea_custom_console_dashboard_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix github user collaborator check
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix golangci-lint latest
  pkg/cli/cli.go
  pkg/cli/webhook/gitlab_test.go
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/completion/completion.go
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/deleterepo/delete.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/webhook/add.go
  pkg/cmd/tknpac/webhook/update-token.go
  pkg/cmd/tknpac/webhook/update-token_test.go
  pkg/hub/get_test.go
  pkg/kubeinteraction/secrets.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/params/cli.go
  pkg/params/clients/clients_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketserver/acl.go
  pkg/provider/bitbucketserver/acl_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/app/token_test.go
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/provider/gitlab/test/test.go
  pkg/test/http/http.go
  pkg/test/kubernetestint/kubernetesint.go
  pkg/test/provider/testwebvcs.go
  pkg/webhook/reconciler.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go
