Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

fix: Match source and head branch in full path
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  test/github_pullrequest_test.go
  test/pkg/github/setup.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Enable cluster wide setting for cancel-in-progress
  config/302-pac-configmap.yaml
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/convert_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/pipelineascode.go
  test/github_pullrequest_test.go
  test/pkg/github/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Track git provider API usage metrics
  docs/content/docs/install/metrics.md
  docs/static/images/git-api-usage-metrics-prometheus-query.png
  pkg/cli/prompt/prompt.go
  pkg/metrics/metrics.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/testdata/tree/notektondir/.gitignore
  pkg/provider/github/testdata/tree/tektondirisfile/.tekton
  pkg/provider/gitlab/gitlab.go
  pkg/provider/metrics/metrics.go
  pkg/provider/metrics/metrics_test.go
  pkg/reconciler/emit_metrics_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Enhance CI log processing with snazy
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

fix: PAC controller crash on empty changes in BDC
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: fix SecondPullRequestConcurrencyMultiplePR
  test/github_pullrequest_concurrency_multiplepr_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Remove verbose flag from unit tests
  Makefile
Due: pipelines-as-code-main-controller-on-push

chore: update path glob pattern for e2e test execution triggers
  .tekton/e2e-label.yaml
  docs/content/docs/guide/cli.md
  docs/content/docs/install/getting-started.md
  docs/content/docs/install/installation.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Fix: PLR Definition Issue When Provenance is Set in GitLab
  pkg/provider/gitlab/acl_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Invalidate ok-to-test command on pushed commits
  docs/content/docs/guide/gitops_commands.md
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: PAC controller crash on empty changes in BDC
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/parse_payload_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Delete Gitea Cluster Task from E2E
  test/gitea_test.go
  test/testdata/clustertask.yaml
  test/testdata/failures/not-existing-clustertask.yaml
  test/testdata/pipelinerunclustertasks.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/cfac235d6549e99dfdf12e5f4493ea3d432a3a13 for release v0.33.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/cfac235d6549e99dfdf12e5f4493ea3d432a3a13 for release v0.33.2
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: update concurrency group expression in e2e workflow
  .github/workflows/e2e.yaml
Due: pipelines-as-code-main-controller-on-push

fix: /ok-to-test /retest pipelineruns should not be created if last sha successful
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  test/gitea_test.go
  test/github_config_maxkeepruns_test.go
  test/gitlab_merge_request_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Vale rules enforcing GitLab
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/GitLinks.yml
  .vale/styles/RedHat/HeadingPunctuation.yml
  .vale/styles/RedHat/Hyphens.yml
  .vale/styles/RedHat/SimpleWords.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
  .vale/styles/RedHat/Using.yml
  Makefile
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/install/kubernetes.md
  pkg/adapter/adapter.go
  pkg/params/info/events.go
  pkg/provider/gitlab/README.md
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/reconciler/event.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Disable GitLab comments for pipeline start/end events to reduce MR noise
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/status_test.go
  pkg/webhook/validation.go
  test/gitlab_delete_tag_event_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
  test/gitlab_push_gitops_command_test.go
  test/pkg/gitlab/crd.go
  test/pkg/options/options.go
  test/pkg/repository/update.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Separate CI log formatting
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

refactor: Remove deprecated ClusterTask in pac
  hack/dev/e2e-cleanups
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/generate/generate_test.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/pipelinerun-with-a-clustertasks.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: change URL for cache-upload
  .tekton/generate-coverage-release.yaml
Due: push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

ci: Add conventional commit check to Tekton linter
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push
