Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go

Release yaml generated for pac release v0.17.1 on branch release-v0.17.1
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.1 on branch release-v0.17.1
  release.yaml
Due: none

Release yaml generated for pac release v0.17.1 on branch release-v0.17.1
  docs/content/VERSION
Due: doc-generation

Add NO_COLOR to vale
  .tekton/linter.yaml
Due: none

Fix github user collaborator check
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Rephrase the Private Repositories documentation
  docs/content/docs/guide/privaterepo.md
Due: doc-generation

Add unit tests to promt and status files
  pkg/cli/prompt/select_repo_test.go
  pkg/cli/status/status_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add unit tests to info configmap
  pkg/cli/info/configmap_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Only run kind e2e on go and yaml changes
  .github/workflows/kind-e2e-tests.yaml
Due: none

Rephrase statuses documentation
  .vale.ini
  docs/content/docs/guide/statuses.md
Due: doc-generation

Use hook.pipelinesascode.com now, smee.io is not active anymore
  docs/content/dev/_index.md
  docs/content/docs/guide/cli.md
  docs/content/docs/install/installation.md
  docs/content/docs/install/kubernetes.md
  hack/dev/kind/gitea/README.md
  hack/dev/kind/gitea/deploy.py
  hack/dev/kind/install.sh
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/install.go
  pkg/cmd/tknpac/webhook/add_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Update README.md
  README.md
Due: none

Fix linter errors
  README.md
Due: none

Fix golangci-lint latest
  pkg/cli/cli.go
  pkg/cli/webhook/gitlab_test.go
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/completion/completion.go
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/deleterepo/delete.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/webhook/add.go
  pkg/cmd/tknpac/webhook/update-token.go
  pkg/cmd/tknpac/webhook/update-token_test.go
  pkg/hub/get_test.go
  pkg/kubeinteraction/secrets.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/params/cli.go
  pkg/params/clients/clients_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketserver/acl.go
  pkg/provider/bitbucketserver/acl_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/app/token_test.go
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/provider/gitlab/test/test.go
  pkg/test/http/http.go
  pkg/test/kubernetestint/kubernetesint.go
  pkg/test/provider/testwebvcs.go
  pkg/webhook/reconciler.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure we clean the labels before creating the secrets.
  pkg/formatting/k8labels.go
  pkg/formatting/k8labels_test.go
  pkg/kubeinteraction/labels.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/secrets/basic_auth.go
  pkg/secrets/basic_auth_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Let user target a push or a incoming event for incoming webhook
  docs/content/docs/guide/incoming_webhook.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  test/githubapp_incoming_test.go
  test/gitlab_incoming_webhook_test.go
  test/pkg/options/options.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Scope gitea e2e token to let do setup
  .tekton/go.yaml
  test/pkg/gitea/crd.go
  vendor/code.gitea.io/sdk/gitea/user_app.go
Due: push-generate-coverage-releaseyaml, go-testing

Add @sm43 to OWNERS file
  OWNERS
Due: none

Fix bad section for tkn pac logs
  docs/content/docs/guide/cli.md
Due: doc-generation

Add coverage via github workflow
  .github/workflows/cover.yaml
  .yamllint
Due: none

skip git test in coverage
  .github/workflows/cover.yaml
  pkg/git/git_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Use a token that can post to pull request
  .github/workflows/cover.yaml
Due: none

Not sure why GH_APPS_TOKEN is not working
  .github/workflows/cover.yaml
Due: none

trying to figure out why we cannot access secret
  .github/workflows/cover.yaml
Due: none
