Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

chore: set environment variables for git execution
  pkg/git/git.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: handle response body close errors
  pkg/cmd/tknpac/bootstrap/route.go
  pkg/cmd/tknpac/list/list.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: link to PipelineRun in Starting template
  pkg/formatting/templates/queuing.go.tmpl
  pkg/formatting/templates/queuing.markdown.go.tmpl
  pkg/formatting/templates/starting.go.tmpl
  pkg/formatting/templates/starting.markdown.go.tmpl
Due: pipelines-as-code-main-controller-on-push

Update reconciler.go to report status when PipelineRun status is transitioned from Queued to Running
  pkg/reconciler/reconciler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: migrate from brews to homebrew_casks in goreleaser
  .goreleaser.yml
Due: pipelines-as-code-main-controller-on-push

chore: update docs about CEL expression precedence
  docs/content/docs/guide/matchingevents.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

adding logs whenever client uses token which is security best practice
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Revert "adding logs whenever client uses token which is security best practice"
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Implement script to mirror external PRs for E2E tests
  docs/content/docs/dev/_index.md
  hack/mirror-pr.sh
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(gitlab): trigger PipelineRun only on label change
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d2ac96579ea9ddea74ae5f1e0aede7240e1239ce
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

cleanup: remove redunant IsCancelComment func
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/provider/github/parse_payload.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: support pull_request_number variable on push events
  docs/content/docs/guide/authoringprs.md
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(bitbucketdatacenter): ignore branch deletion events in ParsePayload
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Update privaterepo.md with missing colon
  docs/content/docs/guide/privaterepo.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat(security): add audit logging to clients in pipelines-as-code
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/reconciler/reconciler.go
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/setup.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: update PR template and improve commit linting
  .github/pull_request_template.md
  .markdownlint.json
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

fix: small typo in test pipelinerun yaml
  pkg/pipelineascode/testdata/pull_request_multiplepipelineruns/.tekton/run.yaml
Due: pipelines-as-code-main-controller-on-push

fix: improve mirror-pr.sh script
  hack/mirror-pr.sh
Due: pipelines-as-code-main-controller-on-push

fix: add timeouts to HTTP server
  pkg/adapter/adapter.go
  pkg/cmd/tknpac/bootstrap/web.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Set stricter permissions on created directories
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/info/globbing_test.go
  test/pkg/scm/scm.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

foo
  hack/mirror-pr.sh
Due: pipelines-as-code-main-controller-on-push

feat: support PipelineRun running status reporting on Github with Kueue
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/testdata/pending_pipelinerun/.tekton/run.yaml
  pkg/reconciler/reconciler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: small typo in docs/install/setting.md
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

docs: add clarification about yaml error reporting
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: removed wrong statement about invalid PipelineRun yaml
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push
