Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

feat(github): add configurable GitOps command prefix
  config/300-repositories.yaml
  docs/content/docs/guide/gitops_commands.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  test/github_gitops_commands_prefix_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/pkg/github/crd.go
  test/pkg/github/pr.go
  test/pkg/gitlab/crd.go
  test/pkg/options/options.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

ci: back to ./hack/dev/kind for local dev setup
  .github/workflows/e2e.yaml
  Makefile
  hack/dev/kind/README.md
  hack/dev/kind/gitea/README.md
  hack/dev/kind/gitea/deploy.py
  hack/dev/kind/gitea/gitea-deployment.yaml
  hack/dev/kind/gitea/ingress-gitea.yaml
  hack/dev/kind/ingress-dashboard.yaml
  hack/dev/kind/ingress-pac.yaml
  hack/dev/kind/install.sh
  hack/dev/kind/kind.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Initialize gitea_tests array
  hack/gh-workflow-ci.sh
Due: pipelines-as-code-main-controller-on-push

feat: Split github tests into two jobs
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Remove redundant gosmee job
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Increase log line count for tests
  test/gitea_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/github_skip_ci_test.go
  test/gitlab_delete_tag_event_test.go
  test/invalid_event_test.go
  test/repo_validation_test.go
  test/repository_webhook_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: check E2E test naming convention with linter
  .github/workflows/e2e.yaml
  Makefile
  hack/check-e2e-test-naming.sh
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: use fully qualified urls for images in .tekton
  .tekton/doc.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
Due: push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

fix: Only report CEL validation errors once
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: modify repo URL for log collection
  test/pkg/repository/teardown.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add debug logging for pipelineascode
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_tasks_install.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/client_setup.go
  pkg/pipelineascode/errors.go
  pkg/pipelineascode/logging.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/secret.go
  pkg/pipelineascode/template.go
  pkg/resolve/logging.go
  pkg/resolve/remote.go
  pkg/resolve/resolve.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: Move flaky tests to its own CI job
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
  test/github_pullrequest_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Rename golden file for flaky pull request test
  test/testdata/TestGithubSecondFlakyPullRequestBadYaml.golden
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Update git-clone StepAction to tekton v1beta1
  .tekton/stepactions/git-clone.yaml
Due: pipelines-as-code-main-controller-on-push

perf(github): skip comment edit when body is already up to date
  pkg/provider/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

tests: Set flaky on Gitlab GitlabConsistentCommit
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/12db9d1e21f8dabafbc3745e50bc8530188df648
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Add skills for e2e artifact investigation
  .claude/skills/e2e-artifacts/SKILL.md
  .claude/skills/e2e-artifacts/references/artifacts-structure.md
  .claude/skills/e2e-investigate/SKILL.md
  .claude/skills/e2e-investigate/references/common-failures.md
  .claude/skills/e2e-investigate/references/download-script.sh
  .claude/skills/e2e-investigate/references/log-correlation.md
  Makefile
Due: pipelines-as-code-main-controller-on-push

fix: fix regex for generated file check
  Makefile
Due: pipelines-as-code-main-controller-on-push

chore: Add e2e tests naming convention check
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

feat(gitlab): add update comment stategy
  config/300-repositories.yaml
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/errors.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/provider.go
  pkg/webhook/validation.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(github): use correct name for failed checkruns on retest
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/status.go
  test/github_pullrequest_retest_test.go
  test/testdata/pipelinerun-tekton-validation.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test(gitlab): use push SHA to avoid stale MR API
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(github): add workaround for duplicate comment creation
  pkg/provider/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: use random generated namespace in TestOthersRepositoryCreation
  test/repository_webhook_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Check status by SHA in wait check
  test/pkg/wait/check.go
  test/pkg/wait/wait.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
