Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

Do no cleanup NS for gitea
  test/pkg/gitea/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure we use the latest pipelinerun object
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Revert "sleep between running tests"
  test/pkg/gitea/setup.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

Skip e2e changes the global ConfigMap for now
  test/gitea_access_control_test.go
  test/gitea_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix excluding the merge commit from gitlint
  .tekton/linter.yaml
Due: none

Reworded help messages with better english
  docs/content/docs/guide/running.md
  pkg/params/run.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Really fix not linting merge commits
  .tekton/linter.yaml
Due: none

Do checks if the pipeline run is the latest later
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/2117adf6eb61308d3980d7263e9bf70333ee9fcc for release v0.21.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Make status message as templates
  pkg/formatting/starting.go
  pkg/formatting/starting_test.go
  pkg/formatting/templates/queuing.go.tmpl
  pkg/formatting/templates/starting.go.tmpl
  pkg/params/run.go
  pkg/params/settings/config.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Add displayName to generic task
  pkg/cmd/tknpac/generate/templates/generic.yaml
Due: none

Add e2e tests to test fallback to owners on policy
  test/gitea_access_control_test.go
  test/testdata/OWNERS
Due: push-generate-coverage-releaseyaml, go-testing

Fix golden for tkn pac generate
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate.golden
Due: none

Make sure the map is not nil before accessing it
  pkg/consoleui/custom.go
  pkg/consoleui/custom_test.go
Due: push-generate-coverage-releaseyaml, go-testing

update images to latest go-toolset
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
Due: push-generate-coverage-releaseyaml

Fix getting python file for Makefile target
  Makefile
Due: none

Add a helper tool to create gitea repo
  hack/dev/kind/gitea/create-repo/main.go
  test/pkg/gitea/setup.go
  test/pkg/repository/create.go
Due: push-generate-coverage-releaseyaml, go-testing

player try again
  pkg/pipelineascode/match.go
  pkg/policy/policy.go
  pkg/policy/policy_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/test/provider/testwebvcs.go
  test/gitea_access_control_test.go
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
  test/testdata/OWNERS
Due: push-generate-coverage-releaseyaml, go-testing

Add ingress for gitea
  hack/dev/kind/gitea/ingress-gitea.yaml
Due: none

Fallback to other ACL rules if the policy is set
  hack/dev/kind/install.sh
  pkg/pipelineascode/match.go
  pkg/policy/policy.go
  pkg/policy/policy_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/test/provider/testwebvcs.go
  test/gitea_access_control_test.go
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
  test/testdata/OWNERS
Due: push-generate-coverage-releaseyaml, go-testing

some misc fixes for create-repo
  hack/dev/kind/gitea/create-repo/main.go
Due: push-generate-coverage-releaseyaml, go-testing
