Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go

Scope gitea e2e token to let do setup
  .tekton/go.yaml
  test/pkg/gitea/crd.go
Due: push-generate-coverage-releaseyaml, go-testing

Don't show the secret content if we cannot create the secret
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

Remove the gif easter egg
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing

include -f into the code part or it will look weird
  pkg/params/run.go
Due: push-generate-coverage-releaseyaml, go-testing

Sync vale to latest RHT rules or it will fails in CI
  .vale/styles/RedHat/Abbreviations.yml
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/Conjunctions.yml
  .vale/styles/RedHat/ConsciousLanguage.yml
  .vale/styles/RedHat/Contractions.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/Ellipses.yml
  .vale/styles/RedHat/HeadingPunctuation.yml
  .vale/styles/RedHat/Headings.yml
  .vale/styles/RedHat/OxfordComma.yml
  .vale/styles/RedHat/PascalCamelCase.yml
  .vale/styles/RedHat/PassiveVoice.yml
  .vale/styles/RedHat/ReleaseNotes.yml
  .vale/styles/RedHat/SelfReferentialText.yml
  .vale/styles/RedHat/SentenceLength.yml
  .vale/styles/RedHat/SimpleWords.yml
  .vale/styles/RedHat/Slash.yml
  .vale/styles/RedHat/Spacing.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
  .vale/styles/RedHat/Usage.yml
  .vale/styles/RedHat/UserReplacedValues.yml
Due: none

Fix on-cel-expression used for event=push and target_branch=main
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
Due: push-generate-coverage-releaseyaml, go-testing

don't use git.io anymore
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
Due: none

Release yaml generated for pac release v0.17.3 on branch release-v0.17.3
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.3 on branch release-v0.17.3
  release.yaml
Due: none

Release yaml generated for pac release v0.17.3 on branch release-v0.17.3
  docs/content/VERSION
Due: doc-generation

Move pipelinerun labels to pipelinerun annotation
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/resolve/basic_auth_secret.go
  pkg/cmd/tknpac/resolve/testdata/TestResolveFilenames-Resolve_templates_no_prefix.golden
  pkg/cmd/tknpac/resolve/testdata/TestResolveFilenames-Resolve_templates_with_prefix.golden
  pkg/events/emit.go
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/cleanups_test.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/reconciler/cleanup_test.go
  pkg/reconciler/controller.go
  pkg/reconciler/emit_metrics.go
  pkg/reconciler/event.go
  pkg/reconciler/event_test.go
  pkg/reconciler/finalizer.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/queue_pipelineruns.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/status.go
  pkg/resolve/resolve.go
  pkg/secrets/basic_auth.go
  pkg/sync/queue_manager_test.go
  pkg/test/tekton/genz.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add information on 'tkn pac info' command for Pipelines as Code installation
  docs/content/docs/guide/cli.md
  pkg/adapter/incoming.go
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/info/install.go
  pkg/cmd/tknpac/info/install_test.go
  pkg/cmd/tknpac/info/root.go
  pkg/cmd/tknpac/info/templates/info.tmpl
  pkg/cmd/tknpac/info/testdata/TestInfo/no_repos.golden
  pkg/cmd/tknpac/info/testdata/TestInfo/with_github_app.golden
  pkg/cmd/tknpac/info/testdata/TestInfo/without_github_app.golden
  pkg/cmd/tknpac/root.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/test/clients/clients.go
  test/pkg/github/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Release yaml generated for pac release v0.18.0 on branch release-v0.18.0
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.18.0 on branch release-v0.18.0
  release.yaml
Due: none

Release yaml generated for pac release v0.18.0 on branch release-v0.18.0
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.18.0 on branch release-v0.18.x
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.18.0 on branch release-v0.18.x
  release.yaml
Due: none

Release yaml generated for pac release v0.18.0 on branch release-v0.18.x
  docs/content/VERSION
Due: doc-generation

pin docker version or it will fail
  .tekton/pull-request.yaml
  hack/dev/kind/gitea/gitea-deployment.yaml
Due: none

Release yaml generated for pac release v0.15.6 on branch release-v0.15.6
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.15.6 on branch release-v0.15.6
  release.yaml
Due: none

Release yaml generated for pac release v0.15.6 on branch release-v0.15.6
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.15.6 on branch release-v0.15.x
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.15.6 on branch release-v0.15.x
  release.yaml
Due: none

Release yaml generated for pac release v0.15.6 on branch release-v0.15.x
  docs/content/VERSION
Due: doc-generation

Show hook URL for the github app in cli info install
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/info/install.go
  pkg/cmd/tknpac/info/install_test.go
  pkg/cmd/tknpac/info/templates/info.tmpl
  pkg/cmd/tknpac/info/testdata/TestInfo/no_repos.golden
  pkg/cmd/tknpac/info/testdata/TestInfo/with_github_app.golden
  pkg/cmd/tknpac/info/testdata/TestInfo/without_github_app.golden
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add annotation instead of labels and modified code to use constants
  pkg/cli/status/status.go
  pkg/cli/status/status_test.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/list/list_test.go
  pkg/kubeinteraction/cleanups_test.go
  pkg/reconciler/cleanup_test.go
  pkg/secrets/basic_auth.go
  pkg/secrets/basic_auth_test.go
  test/gitea_custom_console_dashboard_test.go
  test/github_pullrequest_remote_task_annotations_test.go
  test/pkg/gitea/test.go
  test/pkg/wait/check.go
  test/pkg/wait/wait.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix heading for error detection
  docs/content/docs/guide/statuses.md
Due: doc-generation

Use internal url from hub instead of public rawurl
  pkg/hub/get.go
  pkg/hub/get_test.go
  pkg/matcher/annotation_tasks_install_test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix review comments and added some info log
  docs/content/docs/guide/repositorycrd.md
  pkg/pipelineascode/match.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix CI issue and removed TestGithubPullRequestRemoteTaskAnnotations e2e test as well as updated workflow for kind e2e and nightly
  .github/workflows/kind-e2e-tests.yaml
  .github/workflows/kind-nightly.yaml
  pkg/pipelineascode/match.go
  test/github_pullrequest_remote_task_annotations_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Addressed review comments and updated doc
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/gitea_custom_console_dashboard_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/pkg/configmap/configmap.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Scope GitHub token to a list of provided private and public repository
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/gitea_custom_console_dashboard_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/pkg/configmap/configmap.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix pipelinesascode_github_test
  pkg/pipelineascode/pipelineascode_test.go
  pkg/test/github/github.go
  pkg/test/repository/repository.go
Due: push-generate-coverage-releaseyaml, go-testing
