Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/222e82b31cfdee6ca40dbc5439686da7d25bd7a0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Do not return error when PipelineRun patching is failed
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_startpr_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: skip MR comment for non-permission errors
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: correctly update pending and running commit status
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(cel): require body and headers flags
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/cel/cel.go
  pkg/cmd/tknpac/cel/cel_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore(lint): set golangci default switch case as exhaustive
  .golangci.yml
Due: pipelines-as-code-main-controller-on-push

feat(perf): cache `vcs.GetFiles()` to reduce redundant VCS API volume
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/metrics/metrics_test.go
  pkg/reconciler/emit_metrics_test.go
  pkg/test/metrics/metrics.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Do not return error when PipelineRun patching is failed (#2338)
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_startpr_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/420f4c0edf105159618fb87217a8526a4ed613c8
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat(webhook): enable GitOps commands for GitHub webhooks
  docs/content/docs/install/github_webhook.md
  pkg/params/info/events.go
  pkg/pipelineascode/match.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/github_webhook_issue_comment_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(cli): support multi-line curl in cel gosmee script parsing
  pkg/cmd/tknpac/cel/cel.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs(cli): reformat curl command example to single line
  docs/content/docs/guide/cli.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Revert on-path-change on pr merge in bitbucket
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/bitbucketdatacenter/setup.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Prevent deadlock in tryAcquire method
  pkg/sync/semaphore.go
  pkg/sync/semaphore_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: commit status for unauthorized user in Bitbucket Data Center
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Migrate build tags from +build to //go:build directives
  pkg/apis/pipelinesascode/v1alpha1/zz_generated.deepcopy.go
  test/bitbucket_cloud_pullrequest_test.go
  test/bitbucket_datacenter_dynamic_variables_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/gitea_results_annotation_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_pullrequest_oktotest_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_rerequest_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_retest_test.go
  test/github_push_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/github_tkn_pac_cli_test.go
  test/gitlab_delete_tag_event_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_oktotest_thread_reply_test.go
  test/gitlab_push_gitops_command_test.go
  test/invalid_event_test.go
  test/repo_validation_test.go
  test/repository_webhook_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(ci): use exec.CommandContext to satisfy `noctx` linter
  pkg/cli/browser/browser.go
  pkg/cmd/tknpac/bootstrap/install.go
  pkg/cmd/tknpac/bootstrap/web.go
  pkg/cmd/tknpac/completion/completion.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/git/git.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: fix remaining CI failure for build tag
  test/gitea_params_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: markdownlint error happening due to new version
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/install/metrics.md
  docs/content/docs/install/second_controller.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e5994346093ca1f8d650936f651332f8ee12c470 for release v0.35.4
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e5994346093ca1f8d650936f651332f8ee12c470 for release v0.35.4
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat(error-detection): add multiple pattern support
  config/300-repositories.yaml
  config/302-pac-configmap.yaml
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/settings.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/provider/github/status.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore(lint): scope revive var-naming exclusion to specific packages
  .golangci.yml
Due: pipelines-as-code-main-controller-on-push

fix(cel): add nil checks to prevent panics in webhook parsers
  pkg/cmd/tknpac/cel/parser.go
  pkg/cmd/tknpac/cel/parser_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(cel): add direct custom param variable access in expressions
  docs/content/docs/guide/customparams.md
  docs/content/docs/guide/matchingevents.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  pkg/test/repository/repository.go
  test/gitea_custom_params_cel_test.go
  test/testdata/pipelinerun-cel-custom-params-nomatch.yaml
  test/testdata/pipelinerun-cel-custom-params-pullrequest.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: remove hint wrapper which distorts link
  docs/content/docs/install/github_webhook.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Set tektonhub as the default catalog type for custom Hub URLs
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(bitbucket-cloud): assign unique statue name in Bitbucket Cloud
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): skip MR comment for state transition errors
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: auto-detect hub type when catalog type is empty
  docs/content/docs/install/settings.md
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
