Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

bump knative to add CVE fix
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing

Add allbinaries target to the Makefile
  Makefile
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/87c209122ae21c5c10d2615a8744a8434f615643 for release v0.22.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/87c209122ae21c5c10d2615a8744a8434f615643 for release v0.22.2
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Add private URL example to GitLab URL
  .vale/styles/PaaC/GitLab.yml
  README.md
  docs/content/_index.md
  docs/content/dev/release-process.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/install/gitlab.md
  docs/content/docs/install/overview.md
Due: doc-generation

Add end-to-end testing for clean GitOps comment in the pull request
  test/github_pullrequest_retest_test.go
  test/github_push_retest_test.go
  test/pkg/wait/wait.go
  test/testdata/pipelinerun-gitops.yaml
  test/testdata/pipelinerun-on-push.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Make sure to sort secrets by longest when hiding
  docs/content/docs/guide/statuses.md
  pkg/secrets/secrets.go
  pkg/secrets/secrets_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/b5b940fe72f66f50ee66f44043b262a6cdccea95 for release v0.22.3
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/b5b940fe72f66f50ee66f44043b262a6cdccea95 for release v0.22.3
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Resolve GitOps comment problem with push requests
  pkg/provider/github/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

Resolve GitOps comment problem with push requests
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Removed tkn-pac resolve message from generate command
  README.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
Due: doc-generation

Fixing tkn pac create repo message in README
  README.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/getting-started.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
  pkg/cmd/tknpac/generate/generate.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add tech preview shortcode
  docs/content/docs/guide/authoringprs.md
  docs/layouts/shortcodes/tech_preview.html
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/811cf7c80d680246f6bf3caaa4b0decb1116580f for release v0.22.4
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Make the remote annotations from pipelines as TP
  docs/content/docs/guide/resolver.md
Due: doc-generation

Update test yaml with increased timeout
  test/github_pullrequest_retest_test.go
  test/testdata/pipelinerun-gitops.yaml
  test/testdata/pipelinerun-on-push.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Let deploy a new controller with a 2nd GitHub app
  .github/workflows/kind-e2e-tests.yaml
  hack/dev/second-controller.py
Due: none

Make sure to apply the template after generating
  .github/workflows/kind-e2e-tests.yaml
Due: none

Setup some debug to debug the e2e tests
  .github/workflows/kind-e2e-tests.yaml
  test/pkg/gitea/crd.go
Due: push-generate-coverage-releaseyaml, go-testing

Remove tmate debug and only enable it when requet
  .github/workflows/kind-e2e-tests.yaml
Due: none

properly create the second secret
  .github/workflows/kind-e2e-tests.yaml
Due: none

add properly the namespace
  .github/workflows/kind-e2e-tests.yaml
Due: none

we need to create the configmap before patching it
  .github/workflows/kind-e2e-tests.yaml
Due: none

Move second-controller.py to hack/
  .github/workflows/kind-e2e-tests.yaml
Due: none
