Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

Set hubCatalogs when running the TestRun unittest
  pkg/pipelineascode/pipelineascode_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Adds dev-setup cmd and update docs
  Makefile
  docs/content/dev/_index.md
  hack/dev/kind/install.sh
Due: doc-generation

Optimize matching pipelineruns with remote
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/testdata/pull_request-nomatch-remotetask/.tekton/pipeline.yaml
  pkg/pipelineascode/testdata/pull_request-nomatch-remotetask/.tekton/run.yaml
  pkg/pipelineascode/testdata/pull_request-nomatch-remotetask/.tekton/task.yaml
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/pipeline-finally-v1.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Rename config-logging configmap to be consistent with others
  config/301-config-logging.yaml
  config/400-controller.yaml
  config/500-watcher.yaml
  config/600-webhook.yaml
  docs/content/docs/install/settings.md
Due: doc-generation, push-generate-coverage-releaseyaml

Wait for the pr to finish before getting the logs
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Try multiple times creating a pull request on gitea
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Run gitlint in the linter pipeline
  .tekton/linter.yaml
Due: none

Don't cleanup if TEST_NOCLEANUP is set
  test/pkg/github/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

add gitlint to pre-commit
  .pre-commit-config.yaml
  .tekton/linter.yaml
Due: none

don't check merge commit on gitlint
  .tekton/linter.yaml
Due: none

Use displayName if set for showing task status
  .tekton/linter.yaml
  docs/content/docs/guide/statuses.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/cmd/tknpac/describe/describe_test.go
  pkg/cmd/tknpac/describe/templates/describe.tmpl
  pkg/cmd/tknpac/describe/testdata/TestDescribe-collect_failures.golden
  pkg/kubeinteraction/status/task_status.go
  pkg/kubeinteraction/status/task_status_test.go
  pkg/reconciler/status.go
  pkg/sort/task_status.go
  pkg/sort/task_status_test.go
  pkg/test/tekton/genz.go
  test/gitea_test.go
  test/testdata/pipelinerun.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

improve get changed files
  docs/content/docs/guide/authoringprs.md
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/formatting/array.go
  pkg/formatting/array_test.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/template.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/test/provider/testwebvcs.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Let incoming webhook define or redefine parameters
  config/300-repositories.yaml
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/repositorycrd.md
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/apis/incoming/incoming.go
  pkg/apis/incoming/incoming_test.go
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/consoleui/custom.go
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  pkg/reconciler/reconciler.go
  pkg/test/kubernetestint/kubernetesint.go
  test/githubapp_incoming_test.go
  test/pkg/gitea/test.go
  test/pkg/wait/logs.go
  test/testdata/pipelinerun-incoming.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

GH App, make sure token generated works for itself
  docs/content/docs/guide/authoringprs.md
  pkg/apis/incoming/incoming.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/test/github/github.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix verification of duplicate name and generateName in .tekton directory
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add GitHub hostname flag
  docs/content/docs/install/getting-started.md
  pkg/cmd/tknpac/bootstrap/bootstrap.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix multiple creation of Pipelinerun for incoming event
  docs/content/docs/guide/incoming_webhook.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match.go
  test/githubapp_incoming_test.go
  test/gitlab_incoming_webhook_test.go
  test/testdata/pipelinerun-incoming-generatename.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix status issue for GitLab Merge Requests
  pkg/provider/gitlab/gitlab.go
  test/gitlab_merge_request_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Don't set catalog setting if it already exists
  pkg/params/settings/default.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix logs spamming regarding catalogs
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure we check for the exact number of status
  test/gitea_access_control_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Don't cleanup tests when TEST_NOCLEANUP is set
  docs/content/dev/_index.md
  test/pkg/bitbucketcloud/setup.go
  test/pkg/gitea/setup.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

only react on the open/reopen events
  pkg/provider/gitlab/detect.go
Due: push-generate-coverage-releaseyaml, go-testing
