Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/00b6cfa81f81098688d514f88b6f8c3a5f8c18c0 for release 0.24.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Redirect docs.pipelinesascode.com to latest
  hack/gendocs.sh
Due: none

Fix release pipeline for wrong version
  .tekton/release-pipeline.yaml
Due: none

Update release.yaml
  release.yaml
Due: none

Update release.k8s.yaml with v versions
  release.k8s.yaml
Due: none

Remove golangci-lint builtin and uses make lint
  .pre-commit-config.yaml
Due: none

Move everything to use the TriggerType type
  pkg/cli/webhook/github.go
  pkg/cmd/tknpac/bootstrap/github.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  pkg/params/info/events.go
  pkg/params/triggertype/types.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/policy/policy.go
  pkg/policy/policy_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/detect.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/status.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/parse_payload.go
  test/bitbucket_cloud_pullrequest_test.go
  test/gitea_access_control_test.go
  test/gitea_params_test.go
  test/gitea_results_annotation_test.go
  test/gitea_test.go
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/github_tkn_pac_cli_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
  test/pkg/bitbucketcloud/pr.go
  test/pkg/github/pr.go
  test/pkg/options/options.go
Due: push-generate-coverage-releaseyaml, go-testing

Move all comments logic to a separate package
  pkg/metrics/metrics.go
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

Reorganize the GitHub test
  pkg/opscomments/comments_test.go
  test/gitea_access_control_test.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_pullrequest_oktotest_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_rerequest_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_retest_test.go
  test/github_push_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/github_tkn_pac_cli_test.go
  test/pkg/github/pr.go
  test/pkg/github/setup.go
  test/pkg/wait/check.go
  test/pkg/wait/wait.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix all revive errors
  cmd/pipelines-as-code-watcher/main.go
  pkg/adapter/adapter.go
  pkg/cli/webhook/bitbucket_cloud_test.go
  pkg/cli/webhook/github_test.go
  pkg/cli/webhook/gitlab_test.go
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/deleterepo/delete.go
  pkg/cmd/tknpac/describe/describe.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/info/install.go
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/version/version.go
  pkg/cmd/tknpac/webhook/add.go
  pkg/cmd/tknpac/webhook/update-token.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/bitbucketcloud/parse_payload_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/test/setup.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/scope_test.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/test/test.go
  pkg/reconciler/controller.go
  pkg/test/github/github.go
Due: push-generate-coverage-releaseyaml, go-testing

Use local binary for shellcheck
  .github/workflows/kind-e2e-tests.yaml
  .pre-commit-config.yaml
Due: none

Print friendly error message on bad detected yaml
  .yamllint
  docs/content/docs/guide/resolver.md
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/testdata/bad_yaml/.tekton/badyaml.yaml
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/testdata/tree/badyaml/.tekton/badyaml.yaml
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  test/github_pullrequest_test.go
  test/testdata/TestGithubPullRequestSecondBadYaml.golden
  test/testdata/failures/bad-yaml.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Install ko/gosmee from actions
  .github/workflows/kind-e2e-tests.yaml
Due: none

Add kind along with the tekton resource name
  pkg/matcher/annotation_tasks_install.go
  test/gitea_test.go
  test/github_pullrequest_privaterepository_test.go
  test/pkg/wait/logs.go
Due: push-generate-coverage-releaseyaml, go-testing

gitlab: Fix posting prun status on gitops comments
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  test/gitea_test.go
  test/gitlab_merge_request_test.go
  test/pkg/wait/check.go
Due: push-generate-coverage-releaseyaml, go-testing

pin golangci-lint for v0.24.x
  .tekton/go.yaml
Due: none

Gitlab: Fix posting prun status on GitOPS comments
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  test/gitea_test.go
  test/gitlab_merge_request_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d4fa4c508768ebde6c04e8928a9fc35277d92cb0 for release 0.24.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d4fa4c508768ebde6c04e8928a9fc35277d92cb0 for release 0.24.1
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Update release.k8s.yaml
  release.k8s.yaml
Due: none

Fix version and release yaml
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Fix version and release yaml
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: none
