Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go

Fix help message on -o flag
  pkg/cmd/tknpac/resolve/resolve.go
Due: push-generate-coverage-releaseyaml, go-testing

Add --v1beta1 flag for pipelinerun output
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/resolve/resolve_test.go
  pkg/cmd/tknpac/resolve/testdata/TestResolveFilenames-Resolve_templates_no_prefix_as_v1beta1.golden
  pkg/resolve/resolve.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

tkn pac resolver fixes
  pkg/cmd/tknpac/resolve/basic_auth_secret.go
  pkg/cmd/tknpac/resolve/basic_auth_secret_test.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/resolve/resolve_test.go
Due: push-generate-coverage-releaseyaml, go-testing

use curl from docker hub
  .tekton/doc.yaml
Due: none

Add condition check to verify secret-github-app-token-scoped enabled or not
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
Due: push-generate-coverage-releaseyaml, go-testing

[cli] Don't error when user cannot acces pac ns
  pkg/cmd/tknpac/create/repository.go
Due: push-generate-coverage-releaseyaml, go-testing

add workspace.source.dir as safe for git in release pipeline yaml
  .tekton/release-pipeline.yaml
Due: none

Make target_url and source_url field available in cel
  docs/content/docs/guide/authoringprs.md
  pkg/matcher/cel.go
  pkg/params/info/events.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/types/types.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/test/test.go
  test/pkg/github/pr.go
  test/testdata/pipelinerun-cel-annotation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Improve logging doc with @mramendi proposed changes.
  docs/content/dev/_index.md
Due: doc-generation

fix markdownlint
  docs/content/docs/install/settings.md
Due: doc-generation

Fix java template
  pkg/cmd/tknpac/generate/templates/java.yaml
Due: none

Update installtion doc with operator configuration info
  docs/content/docs/install/installation.md
  docs/content/docs/install/operator_installation.md
Due: doc-generation

Update docs/content/docs/install/settings.md
  docs/content/docs/install/settings.md
Due: doc-generation

Move logging docs to settings.md
  docs/content/dev/_index.md
  docs/content/docs/install/settings.md
Due: doc-generation

Add detailed info and addressed review comments
  docs/content/docs/install/operator_installation.md
Due: doc-generation

don't just list the public members of a org
  docs/content/docs/guide/running.md
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/github_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Use 'Pipelines as Code' in the logging doc
  docs/content/docs/install/settings.md
Due: doc-generation

Rephrase running.md documentation
  .vale/styles/PaaC/Openshift.yml
  docs/content/docs/guide/running.md
  docs/content/docs/install/installation.md
Due: doc-generation

add workspace.source.dir as safe for git
  .tekton/generate-coverage-release.yaml
  config/302-pac-configmap.yaml
Due: none

add /src as safe in dockerfile
  Dockerfile
Due: none

Release yaml generated for pac release v0.19.1 on branch release-v0.19.1
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.1 on branch release-v0.19.1
  release.yaml
Due: none

Release yaml generated for pac release v0.19.1 on branch release-v0.19.1
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.19.1 on branch release-v0.19.1
  pkg/params/version/version.txt
Due: none

Fix GitHub token scope issue when secret-github-app-token-scoped key is enabled and repo level as well as global configuration provided
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
Due: push-generate-coverage-releaseyaml, go-testing
