Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

test: improve filterSuccessfulTemplates test coverage
  pkg/matcher/annotation_matcher_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: don't restart successful pipelineruns on /retest /ok-to-test
  docs/content/_index.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/policy.md
  hack/gh-workflow-ci.sh
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/pipelineascode.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/a72246d6d241f4abec033e1bab1e46ad76f27ef7
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Create tmp directory for unit tests
  Makefile
Due: pipelines-as-code-main-controller-on-push

fix: Improve GitLab commit status handling
  docs/content/docs/guide/repositorycrd.md
  docs/static/images/gitlab-pipelines-tab.png
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  test/gitlab_merge_request_test.go
  test/pkg/scm/scm.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Introduce error log snippet line config
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/kubeinteraction/status/task_status.go
  pkg/kubeinteraction/status/task_status_test.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/reconciler/status.go
  test/gitea_test.go
  test/testdata/TestGiteaErrorSnippetCustomLines.golden
  test/testdata/pipelinerun-error-snippet.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Update pkg/kubeinteraction/status/task_status.go
  pkg/kubeinteraction/status/task_status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Update pkg/reconciler/status.go
  pkg/reconciler/status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs(.github): Add AI assistance disclosure to PR template
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
Due: pipelines-as-code-main-controller-on-push

feat: Introduce add-llm-coauthor script
  hack/add-llm-coauthor
Due: pipelines-as-code-main-controller-on-push

fix: Check source project access for GitLab PRs
  go.mod
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Prevent panic in EventEmitter when logger is nil
  pkg/events/emit.go
  pkg/events/emit_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: require LLM assistance disclosure for PRs
  .github/pull_request_template.md
  docs/content/docs/dev/_index.md
  hack/add-llm-coauthor.sh
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/43a6811e19718fdab05280e188fe97be4d727565 for release v0.38.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/43a6811e19718fdab05280e188fe97be4d727565 for release v0.38.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: increase number of lines of logs from pac-controller
  test/github_pullrequest_privaterepository_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: add new points in AI template for PR
  .github/pull_request_template.md
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/6a02e5e01eac30fa5d6a3cea8183c85d359f6fb3
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: Enhance text consistency across codebase
  hack/update-golden.sh
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/bootstrap_test.go
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/root.go
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithGitInfo.golden
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithoutGitInfo.golden
  pkg/cmd/tknpac/deleterepo/delete.go
  pkg/cmd/tknpac/deleterepo/root.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/generate/template.go
  pkg/cmd/tknpac/generate/templates/generic.yaml
  pkg/cmd/tknpac/generate/templates/go.yaml
  pkg/cmd/tknpac/generate/templates/java.yaml
  pkg/cmd/tknpac/generate/templates/nodejs.yaml
  pkg/cmd/tknpac/generate/templates/python.yaml
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/root.go
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/resolve/remote_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: improve English phrasing across doc
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cleanups.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/guide/openapi-schema.md
  docs/content/docs/guide/privaterepo.md
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/guide/running.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/bitbucket_datacenter.md
  docs/content/docs/install/getting-started.md
  docs/content/docs/install/github_apps.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
  docs/content/docs/install/installation.md
  docs/content/docs/install/kubernetes.md
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/overview.md
  docs/content/docs/install/settings.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

docs: Restructure and enhance README for clarity
  README.md
Due: pipelines-as-code-main-controller-on-push

fix: resolve templating placeholder evaluation bug
  pkg/templates/templating.go
  pkg/templates/templating_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Enhance text consistency across codebase
  hack/update-golden.sh
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/bootstrap_test.go
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/root.go
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithGitInfo.golden
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate-WithoutGitInfo.golden
  pkg/cmd/tknpac/deleterepo/delete.go
  pkg/cmd/tknpac/deleterepo/root.go
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/generate/template.go
  pkg/cmd/tknpac/generate/templates/generic.yaml
  pkg/cmd/tknpac/generate/templates/go.yaml
  pkg/cmd/tknpac/generate/templates/java.yaml
  pkg/cmd/tknpac/generate/templates/nodejs.yaml
  pkg/cmd/tknpac/generate/templates/python.yaml
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/root.go
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/resolve/remote_test.go
  test/gitea_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: add DNM as pull request prefix in template
  .github/pull_request_template.md
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
