Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

feat: Move pr-ci scripts to be executable with uv
  .tekton/issue-create.yaml
  .tekton/jira.yaml
  .tekton/pr-ci.yaml
  hack/pr-ci/README.md
  hack/pr-ci/comments.py
  hack/pr-ci/config.py
  hack/pr-ci/gemini.py
  hack/pr-ci/github.py
  hack/pr-ci/jira.py
  hack/pr-ci/linter.py
  hack/pr-ci/main.py
  hack/pr-ci/pr_data.py
  hack/pr-ci/pyproject.toml
  hack/pr-ci/utils.py
  hack/pr-ci/uv.lock
Due: pipelines-as-code-main-controller-on-push

fix: improve message when /retest has nothing to retest
  pkg/matcher/annotation_matcher.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Stabilize sorting logic for task logs and status
  pkg/sort/task_log_snippets.go
  pkg/sort/task_log_snippets_test.go
  pkg/sort/task_status.go
  pkg/sort/task_status_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: split more gitea e2e tests
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: Skip revert commits in linter
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

fix: set PipelineURL for cached pipelines to resolve relative task paths
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
  pkg/resolve/testdata/remote-pipeline-with-relative-tasks-same-pipeline.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): enable skip-CI for merge requests
  pkg/adapter/sinker.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/parse_payload.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Auto-detect hub type for custom hub catalogs
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

ci: add test summary with logs to e2e workflow
  .github/workflows/e2e.yaml
  hack/e2e-ci/filter-logs-by-event.py
  hack/e2e-ci/generate-test-summary.py
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: divide Gitea tests in equall number in 3 jobs
  hack/gh-workflow-ci.sh
  pkg/provider/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: introduce deduplicate-pipelineruns setting
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_startpr_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  test/github_deduplicate_pipelineruns_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Rename Gitea to Foregjo in docs
  README.md
  docs/content/docs/dev/_index.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/guide/policy.md
  docs/content/docs/guide/running.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/bitbucket_datacenter.md
  docs/content/docs/install/forgejo.md
  docs/content/docs/install/global_repositories_setting.md
  docs/content/docs/install/settings.md
  docs/layouts/shortcodes/support_matrix.html
  docs/static/images/forgejo-webhook-config.png
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Enforce webhook signature for Forgejo
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  test/gitea_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/41a632b1c6d8455109b784bf9e4dc85971929ace
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Enforce mandatory webhook secret for GitLab validation
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Handle deleted repository gracefully during final status report
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Add polling for GitLab MR SHA update in
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Exclude deleted repository when reconciling
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Implement GraphQL batch fetching for .tekton files
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/graphql.go
  pkg/provider/github/graphql_test.go
  pkg/test/github/github.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(gitlab): add update comment strategy Add comment strategy that updates a single comment per pipeline instead of creating new ones on each retest.
  config/300-repositories.yaml
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/comment/cache.go
  pkg/provider/comment/cache_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/webhook/validation.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(github): add update comment strategy Add comment strategy that updates a single comment per pipeline instead of creating new ones on each retest.
  config/300-repositories.yaml
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor(test): generalize PAC log matching
  test/gitea_custom_params_cel_test.go
  test/gitea_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/github_skip_ci_test.go
  test/gitlab_delete_tag_event_test.go
  test/pkg/wait/logs.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs(repository): add update comment_strategy option
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

test: add e2e for update comment strategy
  test/github_pullrequest_one_comment_per_pipeline_test.go
  test/pkg/github/pr.go
  test/pkg/wait/wait.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(bitbucketcloud): optimize commit info fetch
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/9a230ff3e7973593e280d0d664baf7080e0a3455 for release v0.41.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/9a230ff3e7973593e280d0d664baf7080e0a3455 for release v0.41.1
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

ci(e2e): consolidate Slack notifications for failures
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
