Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

setup concurrency tests on ghe
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing

don't show noops event in nomatch
  pkg/matcher/annotation_matcher.go
Due: push-generate-coverage-releaseyaml, go-testing

Add support for GitOPS comments with GitHub webhook
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  test/github_pullrequest_gitops_comments_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/pkg/wait/wait.go
  test/testdata/TestGithubSecondPullRequestBadYaml.golden
Due: push-generate-coverage-releaseyaml, go-testing

Fix TestGithubSecondPullRequestConcurrency test
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix race conditions on pr concurrency
  cmd/pipelines-as-code-controller/main.go
  pkg/adapter/adapter.go
  pkg/adapter/adapter_test.go
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/cmd/tknpac/info/install_test.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/params/info/runinfo.go
  pkg/params/info/runinfo_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/secret.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/scope_test.go
  pkg/reconciler/controller.go
  pkg/reconciler/event.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/pkg/cctx/ctx.go
  test/pkg/github/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

fix race conditions on pr concurrency
  cmd/pipelines-as-code-controller/main.go
  pkg/adapter/adapter.go
  pkg/adapter/adapter_test.go
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/cmd/tknpac/info/install_test.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/params/info/runinfo.go
  pkg/params/info/runinfo_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/secret.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/scope_test.go
  pkg/reconciler/controller.go
  pkg/reconciler/event.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  test/github_incoming_test.go
  test/pkg/cctx/ctx.go
  test/pkg/github/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e8f17529bbd6b0e18a96e7fca52f852311da1b2b for release v0.24.2
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e8f17529bbd6b0e18a96e7fca52f852311da1b2b for release v0.24.2
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

don't print a log on every comments
  pkg/provider/github/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

Revert "Add support for GitOPS comments with GitHub webhook"
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_pullrequest_test_comment_test.go
  test/pkg/wait/wait.go
  test/testdata/TestGithubPullRequestSecondBadYaml.golden
Due: push-generate-coverage-releaseyaml, go-testing

Resolve inconsistent status of a PipelineRun after a failure
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/interface.go
Due: push-generate-coverage-releaseyaml, go-testing

fix TestGithubSecondPullRequestConcurrency count
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Improve ghcr image push workflow
  .github/workflows/ghcr.yaml
Due: none

Improve multiarch image push workflow on release
  .github/workflows/multi-arch-ghcr-on-release.yaml
Due: none

Improve e2e-tests on GH concurrency
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/github_pullrequest_concurrency_test.go
  test/pkg/github/pr.go
Due: push-generate-coverage-releaseyaml, go-testing

fixes yaml examples and some typos
  docs/content/docs/guide/resolver.md
Due: doc-generation

Add support to run PR without an event matching
  docs/content/docs/guide/running.md
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/testdata/no-match/.tekton/matched1.yaml
  pkg/pipelineascode/testdata/no-match/.tekton/matched2.yaml
  pkg/pipelineascode/testdata/no-match/.tekton/nomatch.yaml
  pkg/pipelineascode/testdata/no-match/.tekton/pipeline.yaml
  pkg/pipelineascode/testdata/no-match/.tekton/task.yaml
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/testdata/pipelinerun-nomatch.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Don't try to cleanup Pending PipelineRuns
  Makefile
  docs/content/docs/guide/cleanups.md
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/cleanups_test.go
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/testdata/pipelinerun_long_running_maxkeep_run.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Split trigger_comment variable to a single line
  docs/content/docs/guide/authoringprs.md
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

remove revive to make 0.24.x compatible with lates
  .golangci.yml
  pkg/metrics/metrics.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1e761e6026e720d166655ec87fb0302def0fe918 for release v0.24.3
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1e761e6026e720d166655ec87fb0302def0fe918 for release v0.24.3
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Remove deprecated deadline option from go-lint
  .golangci.yml
  Makefile
Due: none

Fix metrics emission for GitHubApp Enterprise
  pkg/reconciler/emit_metrics.go
  pkg/reconciler/emit_metrics_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Only cleanups PRs after reconciliation
  pkg/kubeinteraction/cleanups.go
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix selecting non completed pipelineRun on cleanup
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/cleanups_test.go
  pkg/reconciler/cleanup_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
