Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Fix GitHub token scope issue when secret-github-app-token-scoped key is enabled and repo level as well as global configuration provided
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix ghapp_token when we don't output jwt tokens
  hack/dev/ghapp_token.py
Due: none

Fix secret on custom params documentation
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation

Improve testing for unknown secret in custom param
  pkg/customparams/customparams_test.go
  pkg/pipelineascode/template_test.go
  test/gitea_test.go
  test/testdata/params.yaml
Due: push-generate-coverage-releaseyaml, go-testing

remove depguard from golangci until golangci gets fixed
  .golangci.yml
Due: none

Add the change_files new standard params
  .golangci.yml
  docs/content/docs/guide/authoringprs.md
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/template.go
  pkg/reconciler/reconciler.go
  pkg/test/provider/testwebvcs.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

disable depguard for now
  .golangci.yml
Due: none

change pull_request_template to make it friendlier
  .github/pull_request_template.md
Due: none

Fetch the hugo binary ourselves
  .tekton/doc.yaml
Due: none

Add some help to the install.sh script
  docs/content/dev/_index.md
  hack/dev/kind/install.sh
Due: doc-generation

return original pipelinerun vs. nil on patch error
  pkg/action/patch.go
Due: push-generate-coverage-releaseyaml, go-testing

double default retry backoff for piplinerun patch
  pkg/action/patch.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated for pac release v0.19.2 on branch release-v0.19.2
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.2 on branch release-v0.19.2
  release.yaml
Due: none

Release yaml generated for pac release v0.19.2 on branch release-v0.19.2
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.19.2 on branch release-v0.19.2
  pkg/params/version/version.txt
Due: none

more return original pipelinerun vs. nil on patch
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

fix goreleaser deprecation notice
  .goreleaser.yml
Due: none

fix some markdownlint new error in code-of-conduct
  code-of-conduct.md
Due: none

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go
