Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

Fix go vet issues
  pkg/adapter/adapter.go
  pkg/matcher/annotation_matcher.go
  pkg/pipelineascode/match.go
  pkg/provider/gitea/acl.go
  pkg/provider/github/acl.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/cleanup.go
  pkg/webhook/validation.go
  pkg/webhook/validation_test.go
  test/github_tkn_pac_cli_test.go
  test/repository_webhook_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix goreleaser issue
  .goreleaser.yml
Due: none

Fix PAC watcher panic when concurrency_limit is set
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/queue_pipelineruns.go
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add token and hostname flag to login command.
  pkg/cmd/tknpac/auth/login.go
Due: push-generate-coverage-releaseyaml, go-testing

Add unit test for auth login command
  go.mod
  go.sum
  pkg/cmd/tknpac/auth/login.go
  pkg/cmd/tknpac/auth/login_flow.go
  pkg/cmd/tknpac/auth/login_test.go
  vendor/github.com/h2non/gock/.editorconfig
  vendor/github.com/h2non/gock/.gitignore
  vendor/github.com/h2non/gock/.travis.yml
  vendor/github.com/h2non/gock/History.md
  vendor/github.com/h2non/gock/LICENSE
  vendor/github.com/h2non/gock/README.md
  vendor/github.com/h2non/gock/gock.go
  vendor/github.com/h2non/gock/matcher.go
  vendor/github.com/h2non/gock/matchers.go
  vendor/github.com/h2non/gock/mock.go
  vendor/github.com/h2non/gock/options.go
  vendor/github.com/h2non/gock/request.go
  vendor/github.com/h2non/gock/responder.go
  vendor/github.com/h2non/gock/response.go
  vendor/github.com/h2non/gock/store.go
  vendor/github.com/h2non/gock/transport.go
  vendor/github.com/h2non/gock/version.go
  vendor/github.com/h2non/parth/LICENSE
  vendor/github.com/h2non/parth/README.md
  vendor/github.com/h2non/parth/parth.go
  vendor/github.com/h2non/parth/segindex.go
  vendor/github.com/h2non/parth/segtostr.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing

Fix 503 http error when handling incoming webhook requests
  config/openshift/10-routes.yaml
  pkg/adapter/adapter.go
Due: push-generate-coverage-releaseyaml, go-testing

Set readOnlyRootFilesystem as true for PAC resources
  config/400-controller.yaml
  config/500-watcher.yaml
  config/600-webhook.yaml
Due: push-generate-coverage-releaseyaml

Set readOnlyRootFilesystem as true for PAC resources (#1756)
  config/400-controller.yaml
  config/500-watcher.yaml
  config/600-webhook.yaml
Due: push-generate-coverage-releaseyaml

Refactor Resolver
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
  pkg/resolve/resolve.go
Due: push-generate-coverage-releaseyaml, go-testing

Add E2E tests to test error reporting on UI for invalid PR Yaml
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/pkg/options/options.go
  test/testdata/failures/invalid-timeouts-values-pipelinerun.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Fix 503 http error when handling incoming webhook requests (#1747)
  config/openshift/10-routes.yaml
  pkg/adapter/adapter.go
Due: push-generate-coverage-releaseyaml, go-testing

Bump Pipeline to v0.62.3
  go.mod
  go.sum
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/artifact_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/taskrun_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing

Add repository and namespace tags to PipelineRun count metric
  pkg/metrics/metrics.go
  pkg/reconciler/emit_metrics.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix empty secret namespace issue in reconciler
  pkg/reconciler/reconciler.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add stepactions e2e test
  hack/dev/kind/install.sh
  test/gitea_test.go
  test/testdata/pipelinerun-stepactions.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Update golangci.yml to latest
  .golangci.yml
Due: none

use python-312
  .tekton/doc.yaml
  .tekton/linter.yaml
  .tekton/release-pipeline.yaml
Due: none

vale rules update
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/Contractions.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/GitLinks.yml
  .vale/styles/RedHat/Hyphens.yml
  .vale/styles/RedHat/PascalCamelCase.yml
  .vale/styles/RedHat/PassiveVoice.yml
  .vale/styles/RedHat/ReadabilityGrade.yml
  .vale/styles/RedHat/RepeatedWords.yml
  .vale/styles/RedHat/SimpleWords.yml
  .vale/styles/RedHat/Slash.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
  .vale/styles/RedHat/UserReplacedValues.yml
  .vale/styles/RedHat/Using.yml
Due: none

Refactor Resolver
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Redesign PAC Resolver
  pkg/matcher/annotation_tasks_install.go
  pkg/matcher/annotation_tasks_install_test.go
  pkg/resolve/remote.go
  pkg/resolve/remote_test.go
  pkg/resolve/resolve.go
  pkg/resolve/testdata/remote-pipeline-with-remote-task-from-pipeline.yaml
  pkg/resolve/testdata/remote-pipeline-with-remote-task-from-pipelinerun.yaml
  pkg/resolve/testdata/skip-fetching-multiple-pipelines-of-the-same-name-from-pipelinerun-annotations-and-tektondir.yaml
  pkg/resolve/testdata/skip-fetching-multiple-tasks-of-the-same-name-from-pipelinerun-annotations-and-pipeline-annotation.yaml
  pkg/resolve/testdata/skip-fetching-multiple-tasks-of-the-same-name-from-pipelinerun-annotations-and-tektondir.yaml
  test/gitea_test.go
  test/testdata/failures/pipelinerun_same_name_on_pull.yaml
  test/testdata/failures/pipelinerun_same_name_on_push.yaml
  test/testdata/pipeline1_in_tektondir.yaml
  test/testdata/pipeline2_in_tektondir.yaml
  test/testdata/pipelinerun-with-yq-3.yaml
  test/testdata/pipelinerun-with-yq-4.yaml
  test/testdata/pipelinerun1_remote_task_annotations.yaml
  test/testdata/pipelinerun2_remote_task_annotations.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Update PVC storage to 3Gi
  .tekton/release-pipeline.yaml
Due: none
