Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Only cleanups PRs after reconciliation
  pkg/kubeinteraction/cleanups.go
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix selecting non completed pipelineRun on cleanup
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/cleanups_test.go
  pkg/reconciler/cleanup_test.go
Due: push-generate-coverage-releaseyaml, go-testing

make target-branch a regexp
  .tekton/linter.yaml
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/f9139fa24b22060b5cc1fa117433028c4a2b2095 for release v0.24.4
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/f9139fa24b22060b5cc1fa117433028c4a2b2095 for release v0.24.4
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Fix metrics emission for GitHubApp Enterprise
  pkg/reconciler/emit_metrics.go
  pkg/reconciler/emit_metrics_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Correct typo
  docs/content/docs/guide/authoringprs.md
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/53e8d73244ee1f82aa1a2ba8837b81c111a847f2 for release v0.24.5
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/53e8d73244ee1f82aa1a2ba8837b81c111a847f2 for release v0.24.5
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Add support to run PR without an event matching
  docs/content/docs/guide/running.md
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/testdata/no-match/.tekton/matched1.yaml
  pkg/pipelineascode/testdata/no-match/.tekton/matched2.yaml
  pkg/pipelineascode/testdata/no-match/.tekton/nomatch.yaml
  pkg/pipelineascode/testdata/no-match/.tekton/pipeline.yaml
  pkg/pipelineascode/testdata/no-match/.tekton/task.yaml
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/testdata/pipelinerun-nomatch.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/5e4489deda5d0cef4feb6c55d3b4129bb5637259 for release v0.25.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/5e4489deda5d0cef4feb6c55d3b4129bb5637259 for release v0.25.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Enhance CEL expression to accept any branch
  docs/content/docs/guide/authoringprs.md
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  test/github_pullrequest_test.go
  test/github_push_test.go
  test/testdata/pipelinerun-branch-match-cel.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Update errmsg to include celexpression data as well
  pkg/matcher/annotation_matcher.go
Due: push-generate-coverage-releaseyaml, go-testing

Update sort package to latest & adds nil check for PRun before sorting
  pkg/pipelineascode/concurrency.go
  pkg/pipelineascode/concurrency_test.go
  pkg/sort/runtime_sort.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/e553256f9c1d51371ac2b59320a257164c8276bb
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Report tekton yaml validation error to the user
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/testdata/invalid_tekton_yaml/.tekton/on-comment.yaml
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  pkg/resolve/testdata/bad-tekton-yaml-generate-name.yaml
  pkg/resolve/testdata/bad-tekton-yaml-name.yaml
Due: push-generate-coverage-releaseyaml, go-testing

Add support for GitOps comments on Push commits
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/running.md
  pkg/pipelineascode/match.go
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
  pkg/provider/github/parse_payload.go
  test/github_push_retest_test.go
  test/pkg/github/pr.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Make sure we get the oldest repository
  pkg/matcher/repo_runinfo_matcher.go
  pkg/matcher/repo_runinfo_matcher_test.go
  pkg/sort/repository.go
  pkg/sort/repository_test.go
Due: push-generate-coverage-releaseyaml, go-testing

report error to slack when running e2e on nightly
  .github/workflows/kind-e2e-tests.yaml
Due: none

fix TestGithubPushRequestGitOpsCommentCancel
  test/github_push_retest_test.go
  test/pkg/wait/logs.go
Due: push-generate-coverage-releaseyaml, go-testing

github.provider.token, cache github.ListRepos
  pkg/adapter/incoming.go
  pkg/cmd/tknpac/info/install.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Adds configutils package to validate and assign config
  pkg/configutil/config.go
  pkg/configutil/config_test.go
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
  pkg/params/settings/validation.go
  pkg/params/settings/validation_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Only act on events for newly created comments
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Puts a mutex lock in ConfigToSettings to avoid race condition
  pkg/params/settings/config.go
Due: push-generate-coverage-releaseyaml, go-testing

Cleanup unused code
  pkg/adapter/adapter.go
  pkg/params/run.go
  pkg/params/settings/config.go
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
