Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

try to fix documentation for cloudfare docs
  docs/content/docs/guide/authoringprs.md
Due: doc-generation

Fix checkrun status issue
  pkg/provider/github/status.go
  test/github_pullrequest_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d1dbd120cb9fe8aa44a301254b95ca7ab7184024 for release v0.26.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d1dbd120cb9fe8aa44a301254b95ca7ab7184024 for release v0.26.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Add support for OWNERS_ALIASES
  docs/content/docs/guide/running.md
  pkg/acl/acl.go
  pkg/acl/owners.go
  pkg/acl/owners_test.go
  pkg/acl/regexp.go
  pkg/acl/regexp_test.go
  pkg/provider/bitbucketcloud/acl.go
  pkg/provider/bitbucketserver/acl.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/acl.go
  pkg/provider/github/acl.go
  pkg/provider/gitlab/acl.go
  test/gitea_access_control_test.go
  test/testdata/OWNERS_ALIASES
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Update hugo-book theme
  docs/themes/hugo-book/.github/workflows/main.yml
  docs/themes/hugo-book/README.md
  docs/themes/hugo-book/assets/_markdown.scss
  docs/themes/hugo-book/assets/manifest.json
  docs/themes/hugo-book/assets/plugins/_numbered.scss
  docs/themes/hugo-book/assets/sw-register.js
  docs/themes/hugo-book/exampleSite/config.toml
  docs/themes/hugo-book/exampleSite/config.yaml
  docs/themes/hugo-book/exampleSite/content.en/docs/shortcodes/katex.md
  docs/themes/hugo-book/exampleSite/content.en/docs/shortcodes/mermaid.md
  docs/themes/hugo-book/exampleSite/content.en/menu/index.md
  docs/themes/hugo-book/layouts/_default/baseof.html
  docs/themes/hugo-book/layouts/partials/docs/footer.html
  docs/themes/hugo-book/layouts/partials/docs/html-head.html
  docs/themes/hugo-book/layouts/posts/single.html
  docs/themes/hugo-book/layouts/shortcodes/html.html
  docs/themes/hugo-book/layouts/shortcodes/katex.html
  docs/themes/hugo-book/layouts/taxonomy/list.html
  docs/themes/hugo-book/static/mermaid.min.js
Due: doc-generation

Fix documentation doublons
  docs/content/docs/guide/gitops_commands.md
Due: doc-generation

Add support for OWNERS_ALIASES (#1668)
  docs/content/docs/guide/running.md
  pkg/acl/acl.go
  pkg/acl/owners.go
  pkg/acl/owners_test.go
  pkg/acl/regexp.go
  pkg/acl/regexp_test.go
  pkg/provider/bitbucketcloud/acl.go
  pkg/provider/bitbucketserver/acl.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/acl.go
  pkg/provider/github/acl.go
  pkg/provider/gitlab/acl.go
  test/gitea_access_control_test.go
  test/testdata/OWNERS_ALIASES
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

add blog post for osp 1.15
  docs/content/docs/blog/_index.md
  docs/content/docs/blog/release-osp-1.15.md
  docs/content/docs/install/settings.md
Due: doc-generation

Fix tkn pac generate when no git remote url
  pkg/git/git.go
  pkg/git/git_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make sure to use GitOps instead of GitOPS
  .vale/styles/PaaC/Paac.yml
Due: none

Generate nightly on arm64 as well
  .github/workflows/ghcr.yaml
Due: none

Generate nightly on arm64 as well
  pkg/cmd/tknpac/generate/generate.go
Due: push-generate-coverage-releaseyaml, go-testing

Properly scope the cache for each image build
  .github/workflows/ghcr.yaml
  pkg/cmd/tknpac/info/root.go
Due: push-generate-coverage-releaseyaml, go-testing

Use arm64 images across
  .tekton/doc.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
  docs/content/dev/_index.md
Due: doc-generation

use tekton-cache for caching and stepactions
  .tekton/go.yaml
  pkg/policy/policy.go
Due: push-generate-coverage-releaseyaml, go-testing

fix codecov on generate-coverage-release
  .tekton/generate-coverage-release.yaml
Due: push-generate-coverage-releaseyaml

fix codecov again
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
Due: push-generate-coverage-releaseyaml

fix reChangedFilesTags regex
  pkg/matcher/cel.go
Due: push-generate-coverage-releaseyaml, go-testing

[Feature] Introduce global repository setting
  config/201-controller-role.yaml
  docs/content/docs/install/global_repositories_setting.md
  hack/dev/kind/gitea/create-repo/main.go
  pkg/adapter/adapter.go
  pkg/adapter/adapter_test.go
  pkg/adapter/sinker.go
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/apis/pipelinesascode/v1alpha1/types_test.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/params/info/controller_info.go
  pkg/params/info/controller_info_test.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/secret.go
  pkg/pipelineascode/secret_test.go
  pkg/pipelineascode/template_test.go
  pkg/reconciler/finalizer.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/test/repository/repository.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
  test/testdata/TestGiteaGlobalRepoParams.golden
  test/testdata/TestGiteaGlobalRepoUseLocalDef.golden
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add new slack notification task
  .tekton/generate-coverage-release.yaml
  docs/content/docs/guide/statuses.md
Due: doc-generation, push-generate-coverage-releaseyaml

remove e2e-tests PipelineRun
  .tekton/e2e-tests.yaml
Due: none

watcher panic with pending runs, concurrency not set
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix codecov uploading for go tekton pipeline
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
Due: push-generate-coverage-releaseyaml
