Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

Update the case of `Push` eventType to `push` in Gitlab
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Updated PAC deployments for KUBERNETES_MIN_VERSION
  config/400-controller.yaml
  config/500-watcher.yaml
  config/600-webhook.yaml
Due: push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

Invalidate ok-to-test command on pushed commits
  docs/content/docs/guide/gitops_commands.md
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(cli): Skip dashboard URL prompt if not needed
  pkg/cmd/tknpac/bootstrap/bootstrap_test.go
  pkg/cmd/tknpac/bootstrap/install.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/504f3caee397f00cbccc699fed0e96933d00fa96
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(cli): tkn pac generate command when .tekton directory is not there
  pkg/cmd/tknpac/generate/generate.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(github): handle bot users in status checks
  docs/content/docs/guide/running.md
  pkg/pipelineascode/match.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/interface.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: filter unexpected pruns in e2e MultiplePR
  test/github_pullrequest_concurrency_multiplepr_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Change term bitbucket server to bitbucket data center across pac
  .github/pull_request_template.md
  docs/content/_index.md
  docs/content/docs/dev/_index.md
  docs/content/docs/guide/matchingevents.md
  docs/content/docs/guide/policy.md
  docs/content/docs/guide/running.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/bitbucket_datacenter.md
  docs/content/docs/install/overview.md
  docs/layouts/shortcodes/support_matrix.html
  docs/static/images/bitbucket-data-center-create-webhook.png
  hack/gh-workflow-ci.sh
  pkg/adapter/adapter.go
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
  pkg/customparams/standard.go
  pkg/git/git.go
  pkg/params/info/events.go
  pkg/provider/bitbucketdatacenter/acl.go
  pkg/provider/bitbucketdatacenter/acl_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/bitbucketdatacenter/detect.go
  pkg/provider/bitbucketdatacenter/detect_test.go
  pkg/provider/bitbucketdatacenter/pagination.go
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
  pkg/provider/bitbucketdatacenter/test/test_types.go
  pkg/provider/bitbucketdatacenter/types/types.go
  pkg/reconciler/event.go
  pkg/secrets/basic_auth.go
  test/README.md
  test/bitbucket_datacenter_dynamic_variables_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/pkg/bitbucketdatacenter/crd.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/bitbucketdatacenter/setup.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add support for GitOps commands on pushed commits in GitLab
  docs/content/docs/guide/gitops_commands.md
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/secret.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
  pkg/provider/gitlab/test/test.go
  pkg/reconciler/event.go
  test/gitlab_push_gitops_command_test.go
  test/pkg/wait/wait.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/97a374ff4eb8ba745ef8e45ff90f9c03c44e36a3
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(cli): tkn pac generate command when .tekton directory is not there
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/generate/generate_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: fixed Gitea test TestGiteaPullRequestPrivateRepository flakiness
  test/gitea_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Use chmouel tekton-caches images
  .tekton/doc.yaml
  .tekton/go.yaml
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Use chmouel tekton-caches images
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Expand "dynamic" variables in default values
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  test/gitea_test.go
  test/testdata/pipeline_with_tekton_params.yaml
  test/testdata/pipelinerun_with_tekton_params.yaml
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Report validation errors on pull requests
  docs/content/docs/dev/_index.md
  docs/content/docs/guide/running.md
  docs/static/images/report-error-comment-on-bad-yaml.png
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/README.md
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/testdata/TestGithubSecondPullRequestBadYaml.golden
  test/testdata/failures/pipeline-validation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Revert using script to start hugo server
  Makefile
  hack/start-hugo-dev-server.sh
Due: pipelines-as-code-main-controller-on-push

Handles `tkn pac list` command when there is no repo in the namespace
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/list/list_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Fixed Bitbucket cloud e2e missing env issue
  test/pkg/bitbucketcloud/setup.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Revert "chore: experimental refactor"
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: PullRequestPrivateRepository use 100 lines
  test/gitea_test.go
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Revert "fix: Cancel PipelineRuns on MR change in Gitlab"
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/provider/gitlab/parse_payload.go
  test/gitlab_merge_request_test.go
  test/pkg/scm/scm.go
  test/pkg/wait/wait.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
