Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetch
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

Release yaml generated for pac release v0.17.7 on branch release-v0.17.7
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.7 on branch release-v0.17.7
  release.yaml
Due: none

Release yaml generated for pac release v0.17.7 on branch release-v0.17.7
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.17.7 on branch release-v0.17.x
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.7 on branch release-v0.17.x
  release.yaml
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/3216956be59ddb8fa6e53c5ebaa7fe24bb37c724 for release v0.21.4
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/3216956be59ddb8fa6e53c5ebaa7fe24bb37c724 for release v0.21.4
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated for pac release v0.19.6 on branch release-v0.19.6
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.6 on branch release-v0.19.6
  release.yaml
Due: none

Release yaml generated for pac release v0.19.6 on branch release-v0.19.6
  docs/content/VERSION
Due: doc-generation

Release yaml generated for pac release v0.19.6 on branch release-v0.19.6
  pkg/params/version/version.txt
Due: none

Release yaml generated for pac release v0.19.6 on branch release-v0.19.x
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.19.6 on branch release-v0.19.x
  release.yaml
Due: none

Release yaml generated for pac release v0.19.6 on branch release-v0.19.x
  pkg/params/version/version.txt
Due: none

Fix using gitclone clustertask when detected avail
  pkg/cmd/tknpac/create/testdata/TestGenerateTemplate.golden
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/generate/generate_test.go
  pkg/cmd/tknpac/generate/template.go
  pkg/cmd/tknpac/generate/templates/generic.yaml
Due: push-generate-coverage-releaseyaml, go-testing

chore: add k8s resource name formatter
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/repository_test.go
  pkg/formatting/k8names.go
  pkg/formatting/k8names_test.go
Due: push-generate-coverage-releaseyaml, go-testing

chore: repository name sanitizer
  pkg/cmd/tknpac/create/repository.go
  pkg/cmd/tknpac/create/repository_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Create codacy.yml
  .github/workflows/codacy.yml
Due: none

Add ruff python linter
  .tekton/linter.yaml
  hack/compare-versions.py
Due: none

Use ruff in pre-commit
  .pre-commit-config.yaml
Due: none

pre-commit rule update
  .pre-commit-config.yaml
Due: none

Update container images SHA256 to the latest
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  Dockerfile
Due: push-generate-coverage-releaseyaml

Add cel filtering for matching on body and headers
  docs/content/docs/guide/authoringprs.md
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  test/gitea_params_test.go
  test/testdata/pipelinerun-cel-params-pullrequest.yaml
  test/testdata/pipelinerun-cel-params-push.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add support for body and headers in params
  docs/content/docs/guide/authoringprs.md
  pkg/cel/cel.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/consoleui/custom.go
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/template.go
  pkg/provider/github/repository.go
  pkg/templates/templating.go
  pkg/templates/templating_test.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
  test/testdata/pipelinerun-cel-params.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Docs improvements and reorganization
  Makefile
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/customparams.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/policy.md
  docs/content/docs/guide/repositorycrd.md
Due: doc-generation

Remove codacy and add codeql
  .github/workflows/codacy.yml
  .github/workflows/codeql-analysis.yml
Due: none

Fix secret cleanup issue
  pkg/kubeinteraction/cleanups.go
  pkg/kubeinteraction/cleanups_test.go
  test/github_config_maxkeepruns_test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix(gitlab/webhooks): revision when there are multiple commits
  pkg/provider/gitlab/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

Add Interceptor service to pipelines-as-code
  pkg/interceptor/interceptor.go
  pkg/kubeinteraction/labels.go
  pkg/params/settings/config.go
  pkg/params/settings/default.go
  pkg/params/settings/validation.go
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
