Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

feat: Enable updating existing mirrored pull requests
  hack/mirror-pr.sh
Due: pipelines-as-code-main-controller-on-push

fix: issue in on-path-change on pr merge in bitbucket data center
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/bitbucketdatacenter/setup.go
  test/pkg/options/options.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): trigger PipelineRun only on label change
  pkg/provider/gitlab/detect.go
  pkg/provider/gitlab/detect_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: handle response body close errors
  pkg/cmd/tknpac/bootstrap/route.go
  pkg/cmd/tknpac/list/list.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Set stricter permissions on created directories
  pkg/cmd/tknpac/generate/generate.go
  pkg/cmd/tknpac/info/globbing_test.go
  test/pkg/scm/scm.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: add timeouts to HTTP server
  pkg/adapter/adapter.go
  pkg/cmd/tknpac/bootstrap/web.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: set environment variables for git execution
  pkg/git/git.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: avoid reporting errors for non-Tekton res
  docs/content/docs/guide/running.md
  pkg/errors/errors.go
  pkg/pipelineascode/match.go
  pkg/resolve/resolve.go
  pkg/resolve/resolve_test.go
  test/gitea_test.go
  test/testdata/TestGithubSecondPullRequestBadYaml.golden
  test/testdata/randomcrd.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add relative TaskRef fetching functionality
  pkg/resolve/remote.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: prevent accumulation of previous JoinPath operations in task URL
  pkg/resolve/remote.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/46067b2e761486f5216894c7128eff3754da14d9
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(bitbucketdatacenter): ignore branch deletion events in ParsePayload
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/46067b2e761486f5216894c7128eff3754da14d9 for release v0.36.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/46067b2e761486f5216894c7128eff3754da14d9 for release v0.36.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Add PipelineRun to create JIRA tickets via comments
  .tekton/jira.yaml
Due: pipelines-as-code-main-controller-on-push

fix(ci): golangci-lint revive var-naming error in linters
  pkg/provider/bitbucketcloud/types/types.go
  pkg/provider/bitbucketdatacenter/types/types.go
  pkg/secrets/types/types.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: prevent inconsistencies when assembling base taskURLs
  pkg/resolve/remote.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

enhance: clarify commit-info error & add tests for verifyRepoAndUser
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Improve GitHub App installation ID retrieval
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Update controller finalizer name to include explicit part
  pkg/action/patch_test.go
  pkg/apis/pipelinesascode/register.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/controller.go
  pkg/reconciler/controller_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Split error message of yaml validation on push
  pkg/pipelineascode/match.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: inavlidate empty commits in push events in bitbucket dc
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: migrate from brews to homebrew_casks in goreleaser
  .goreleaser.yml
Due: pipelines-as-code-main-controller-on-push

fix: use correct event type in log in GetTektonDir func
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Make go-testing PipelineRun targeted by all branches
  .tekton/go.yaml
Due: pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
