Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

Make sure to set the namespace in config
  pkg/adapter/adapter.go
Due: push-generate-coverage-releaseyaml, go-testing

vale sync update
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/GitLinks.yml
Due: none

Move to stepactions for linters pipelinerun
  .tekton/linter.yaml
Due: none

feat: annotation for matching PipelineRun on paths
  docs/content/docs/guide/authoringprs.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  test/gitea_test.go
  test/testdata/pipelinerun-on-path-change-and-ignore.yaml
  test/testdata/pipelinerun-on-path-change-ignore.yaml
  test/testdata/pipelinerun-on-path-change.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

fix: Fix cancel in progress to act same pr/branch
  docs/content/docs/guide/running.md
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/sync/queue_manager_test.go
  test/gitea_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add changes for onboarding PAC to Konflux
  .konflux/README.md
  .konflux/dockerfiles/.placeholder
  .konflux/dockerfiles/cli.Dockerfile
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/watcher.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/patches/.placeholder
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: none

[bot] update konflux configuration
  .github/workflows/auto-merge.main.yaml
  .konflux/main/application.yaml
  .konflux/main/component-controller.yaml
  .konflux/main/component-watcher.yaml
  .konflux/main/component-webhook.yaml
  .konflux/main/image-controller.yaml
  .konflux/main/image-watcher.yaml
  .konflux/main/image-webhook.yaml
  .konflux/main/tests-on-push.yaml
  .konflux/main/tests.yaml
  .tekton/docker-build-ta.yaml
  .tekton/pipelines-as-code-main-controller-push.yaml
  .tekton/pipelines-as-code-main-watcher-push.yaml
  .tekton/pipelines-as-code-main-webhook-push.yaml
Due: none

Red Hat Konflux update pipelines-as-code-main-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/pipelines-as-code-main-controller-pull-request.yaml
Due: none

Red Hat Konflux update pipelines-as-code-main-watcher Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/pipelines-as-code-main-watcher-pull-request.yaml
Due: none

Red Hat Konflux update pipelines-as-code-main-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/pipelines-as-code-main-webhook-pull-request.yaml
Due: none

Update doc for regexp in CEL expression
  docs/content/docs/guide/authoringprs.md
Due: doc-generation

Update doc for regexp in CEL expression (#1830)
  docs/content/docs/guide/authoringprs.md
Due: doc-generation

Remove konflux configuration…
  .github/workflows/auto-merge.main.yaml
  .konflux/README.md
  .konflux/dockerfiles/.placeholder
  .konflux/dockerfiles/cli.Dockerfile
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/watcher.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/main/application.yaml
  .konflux/main/component-controller.yaml
  .konflux/main/component-watcher.yaml
  .konflux/main/component-webhook.yaml
  .konflux/main/image-controller.yaml
  .konflux/main/image-watcher.yaml
  .konflux/main/image-webhook.yaml
  .konflux/main/tests-on-push.yaml
  .konflux/main/tests.yaml
  .konflux/patches/.placeholder
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
  .tekton/docker-build-ta.yaml
  .tekton/pipelines-as-code-main-controller-push.yaml
  .tekton/pipelines-as-code-main-watcher-push.yaml
  .tekton/pipelines-as-code-main-webhook-push.yaml
Due: none

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .konflux/main/application.yaml
  .konflux/main/component-controller.yaml
  .konflux/main/component-watcher.yaml
  .konflux/main/component-webhook.yaml
  .konflux/main/image-controller.yaml
  .konflux/main/image-watcher.yaml
  .konflux/main/image-webhook.yaml
  .konflux/main/tests-on-push.yaml
  .konflux/main/tests.yaml
  .tekton/pac-downstream-main-controller-pull-request.yaml
  .tekton/pac-downstream-main-controller-push.yaml
  .tekton/pac-downstream-main-watcher-pull-request.yaml
  .tekton/pac-downstream-main-watcher-push.yaml
  .tekton/pac-downstream-main-webhook-pull-request.yaml
  .tekton/pac-downstream-main-webhook-push.yaml
Due: none

fix: cancel-in-progress with retest comment
  pkg/opscomments/comments.go
  pkg/opscomments/comments_test.go
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  test/gitea_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Obscure smee url from generated logs
  .github/workflows/kind-e2e-tests.yaml
  hack/gh-workflow-ci.sh
Due: none

(doc) Rephrase the policy section
  docs/content/docs/guide/policy.md
Due: doc-generation

feat(dogfood): use cancel-in-progress/path-change
  .tekton/doc.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
  .tekton/release-pipeline.yaml
Due: push-generate-coverage-releaseyaml

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/fd6a243f0986ab6090180263bdf0f3f4962534c7 for release v0.30.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/fd6a243f0986ab6090180263bdf0f3f4962534c7 for release v0.30.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

(feature) Add a cli command to test globing patterns
  .vale/styles/PaaC/Paac.yml
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/info/globbing.go
  pkg/cmd/tknpac/info/globbing_test.go
  pkg/cmd/tknpac/info/root.go
  pkg/cmd/tknpac/info/testdata/TestGlobbing-File_Globbing.golden
  pkg/cmd/tknpac/info/testdata/TestGlobbing-String_Pattern.golden
  test/pkg/cli/exec.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

feat: support commas in PipelineRun annotations
  docs/content/docs/guide/authoringprs.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  test/gitea_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/testdata/pipelinerun-target-branch-with-comma.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix dependabot-automerge
  .github/workflows/dependabot-automerge.yaml
Due: none

Fix some wording and example in the on-path-change/ignore doc
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/info/globbing.go
  pkg/cmd/tknpac/info/globbing_test.go
  test/pkg/cli/exec.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

test: remove time.sleep when pushing to git
  test/pkg/scm/scm.go
Due: push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
