Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go

Improve logging doc with more actual info.
  docs/content/dev/_index.md
Due: doc-generation

Use knative to get namespace.
  cmd/pipelines-as-code-controller/main.go
Due: push-generate-coverage-releaseyaml, go-testing

Update GitHub token scope e2e test to verify for global configuration
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Make target_url and source_url field available in cel
  docs/content/docs/guide/authoringprs.md
  pkg/matcher/cel.go
  pkg/params/info/events.go
  pkg/provider/bitbucketcloud/parse_payload.go
  pkg/provider/bitbucketcloud/types/types.go
  pkg/provider/bitbucketserver/parse_payload.go
  pkg/provider/bitbucketserver/test/test.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/test/test.go
  test/pkg/github/pr.go
  test/testdata/pipelinerun-cel-annotation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

add workspace.source.dir as safe for git
  .tekton/generate-coverage-release.yaml
  config/302-pac-configmap.yaml
Due: none

Add a bit more information about application name
  .tekton/generate-coverage-release.yaml
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
Due: doc-generation

update all docker image to latest
  .tekton/e2e-tests.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
  .tekton/release-pipeline.yaml
  Dockerfile
Due: none

add /src as safe in dockerfile
  Dockerfile
Due: none

fix markdownlint
  docs/content/docs/install/settings.md
Due: doc-generation

Improve logging doc with @mramendi proposed changes.
  docs/content/dev/_index.md
Due: doc-generation

Use 'Pipelines as Code' in the logging doc
  docs/content/docs/install/settings.md
Due: doc-generation

Move logging docs to settings.md
  docs/content/dev/_index.md
  docs/content/docs/install/settings.md
Due: doc-generation

Update docs/content/docs/install/settings.md
  docs/content/docs/install/settings.md
Due: doc-generation

don't just list the public members of a org
  docs/content/docs/guide/running.md
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/github_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

fix wine install with latest ubuntu gpg keys
  .github/workflows/kind-nightly.yaml
Due: none

Rephrase running.md documentation
  .vale/styles/PaaC/Openshift.yml
  docs/content/docs/guide/running.md
  docs/content/docs/install/installation.md
Due: doc-generation

Add setting to only trusts users from repo
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/params/info/events.go
  pkg/pipelineascode/match.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  test/pkg/gitea/scm.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

implement only_trusts_users_from_repo on gitlab
  docs/content/docs/guide/repositorycrd.md
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  pkg/provider/gitlab/test/test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

install wine from the default ubuntu repo
  .github/workflows/kind-nightly.yaml
Due: none

Update installtion doc with operator configuration info
  docs/content/docs/install/installation.md
  docs/content/docs/install/operator_installation.md
Due: doc-generation

Add detailed info and addressed review comments
  docs/content/docs/install/operator_installation.md
Due: doc-generation

Fix java template
  pkg/cmd/tknpac/generate/templates/java.yaml
Due: none

tkn pac resolver fixes
  pkg/cmd/tknpac/resolve/basic_auth_secret.go
  pkg/cmd/tknpac/resolve/basic_auth_secret_test.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/resolve/resolve_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add --v1beta1 flag for pipelinerun output
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/cmd/tknpac/resolve/resolve_test.go
  pkg/cmd/tknpac/resolve/testdata/TestResolveFilenames-Resolve_templates_no_prefix_as_v1beta1.golden
  pkg/resolve/resolve.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

use curl from docker hub
  .tekton/doc.yaml
Due: none
