Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: fetchit
      params:
      - name: url
        value: $(params.repo_url)
      - name: revision
        value: $(params.revision)
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/d51c912f173266804edb6a95eafefecdf3181b99 for release v0.33.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Fix error with ko when building ko image on release
  .github/workflows/container.yaml
Due: pipelines-as-code-main-controller-on-push

Fixed error messag in issue comment and commit comment
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Correct docs typos about cel expression
  docs/content/docs/guide/matchingevents.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

refactor: Update emojis for condition status
  pkg/formatting/emoji.go
  pkg/reconciler/testdata/TestReconciler_ReconcileKind-failed_pipelinerun.golden
  pkg/reconciler/testdata/TestReconciler_ReconcileKind-success_pipelinerun.golden
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

misc(docs): add JSON template for default layout
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/running.md
  docs/layouts/_default/index.json
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: fix hack install script variable expansion, help
  hack/dev/kind/install.sh
Due: pipelines-as-code-main-controller-on-push

Refactor GetTektonDir func in Bitbucket Server
  pkg/provider/bitbucketserver/acl_test.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/bitbucketserver/bitbucketserver_test.go
  pkg/provider/bitbucketserver/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Update jenkins-x/go-scm Version
  go.mod
  go.sum
  vendor/github.com/jenkins-x/go-scm/scm/driver/stash/repo.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

doc: Enhance README improving clarity and emoji
  README.md
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/c490cf418c516b76f51498210a527cb4be59bfc0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Change Github to GitHub
  README.md
Due: pipelines-as-code-main-controller-on-push

Fix: PLR Definition Issue When Provenance is Set in GitLab
  pkg/provider/gitlab/acl_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/gitlab/test/test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add support for uninitialized Custom Params
  docs/content/docs/guide/customparams.md
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  test/gitea_gitops_commands_test.go
  test/gitea_params_test.go
  test/testdata/TestGiteaGlobalRepoParams.golden
  test/testdata/TestGiteaOnCommentAnnotation-pipelinerun-on-comment-annotation.golden
  test/testdata/TestGiteaOnCommentAnnotation.golden
  test/testdata/params.yaml
  test/testdata/pipelinerun-on-comment-annotation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: Improve e2e test setup error reporting
  test/pkg/bitbucketcloud/setup.go
  test/pkg/bitbucketserver/setup.go
  test/pkg/gitea/setup.go
  test/pkg/github/setup.go
  test/pkg/gitlab/setup.go
  test/pkg/setup/setup.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Fix yamllint warning indentation of comments
  .tekton/boussole.yaml
Due: pipelines-as-code-main-controller-on-push

feat: Add support for uninitialized Custom Params
  docs/content/docs/guide/customparams.md
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  test/gitea_gitops_commands_test.go
  test/gitea_params_test.go
  test/testdata/TestGiteaGlobalRepoParams.golden
  test/testdata/TestGiteaGlobalRepoUseLocalDef.golden
  test/testdata/TestGiteaOnCommentAnnotation-pipelinerun-on-comment-annotation.golden
  test/testdata/TestGiteaOnCommentAnnotation.golden
  test/testdata/params.yaml
  test/testdata/pipelinerun-on-comment-annotation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/60f5dd938948a8083d0b3eccd05bcb02b1adbee7
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

DNM: test if the CI runs
  cmd/pipelines-as-code-controller/main.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Add support for ready_for_review GitHub PR event
  pkg/provider/github/detect.go
  pkg/provider/github/detect_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: clarify github trigger behavior
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(docs): run hugo server in foreground for dev-docs
  Makefile
Due: pipelines-as-code-main-controller-on-push

Update docs/content/docs/guide/running.md
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Remove slashes from markdown code block
  docs/content/docs/guide/running.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
