Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

Improve get changed files
  docs/content/docs/guide/authoringprs.md
  pkg/cel/cel.go
  pkg/cmd/tknpac/resolve/resolve.go
  pkg/consoleui/custom.go
  pkg/customparams/customparams.go
  pkg/customparams/customparams_test.go
  pkg/customparams/standard.go
  pkg/customparams/standard_test.go
  pkg/formatting/array.go
  pkg/formatting/array_test.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/template.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/repository.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/reconciler/reconciler.go
  pkg/templates/templating.go
  pkg/templates/templating_test.go
  pkg/test/provider/testwebvcs.go
  test/gitea_params_test.go
  test/pkg/gitea/scm.go
  test/pkg/gitea/test.go
  test/pkg/scm/scm.go
  test/testdata/changed_files_deleted
  test/testdata/changed_files_modified
  test/testdata/changed_files_renamed
  test/testdata/pipelinerun-changed-files-pullrequest.yaml
  test/testdata/pipelinerun-changed-files-push.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix golangci-linters error
  docs/content/docs/guide/authoringprs.md
  test/pkg/scm/scm.go
  test/testdata/pipelinerun-changed-files-pullrequest.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Show only the latest major versions in docs
  .tekton/release-pipeline.yaml
Due: none

Show a better help with makefile
  Makefile
Due: none

fix lint error
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

add annotation to integrate with Tekton Results
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/kubeinteraction/resultsannotation.go
  pkg/kubeinteraction/resultsannotation_test.go
  pkg/pipelineascode/pipelineascode.go
  test/gitea_results_annotation_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix Dockerfile build
  Dockerfile
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/82e3146a305ba5df8dd6d9ed2629094585833b20 for release v0.22.6
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

fix make lint to have lint-python in there
  Makefile
Due: none

Add -O option to not reinstall kind
  hack/dev/kind/install.sh
Due: none

Add test for applyIncomingParams
  pkg/customparams/customparams_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Parse configmap on every reconcilation
  pkg/params/info/controller_info.go
  pkg/reconciler/reconciler.go
Due: push-generate-coverage-releaseyaml, go-testing

Only log err when failing to rm gitea test repo
  test/pkg/gitea/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix flaky unit tests
  .golangci.yml
  go.mod
  pkg/kubeinteraction/status/task_status_test.go
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/errors.go
  vendor/github.com/stretchr/testify/assert/forward_assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/modules.txt
Due: push-generate-coverage-releaseyaml, go-testing

Revise metrics emission to reflect data for both GitLab and Bitbucket
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/install/metrics.md
  pkg/reconciler/emit_metrics.go
  pkg/reconciler/emit_metrics_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Create config leader election configmaps
  config/306-pac-watcher-config-leader-election.yaml
  config/307-pac-webhook-config-leader-election.yaml
  config/500-watcher.yaml
  config/600-webhook.yaml
Due: push-generate-coverage-releaseyaml

Add more tests for consoleui.tektondashboard
  pkg/consoleui/tektondashboard_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Merge kind-e2e-tests and kind-nightly together
  .github/workflows/kind-e2e-tests.yaml
  .github/workflows/kind-nightly.yaml
  hack/gh-workflow-ci.sh
Due: none

Increase the test coverage for consoleui/openshift
  pkg/consoleui/openshift_test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix gh-workflow-ci.sh script
  hack/gh-workflow-ci.sh
Due: none

shellcheck on all shell scripts
  .pre-commit-config.yaml
  .shellcheckrc
  .tekton/linter.yaml
  Makefile
  docs/content/dev/_index.md
  hack/dev/e2e-tests-cleanup.sh
  hack/dev/kind/install.sh
Due: doc-generation

fix some errors found by shellcheck
  hack/dev/e2e-cleanups
  hack/dev/e2e-run
Due: none

Use more pre-commit instead of make target
  .pre-commit-config.yaml
  .tekton/linter.yaml
Due: none
