Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

feat: support glob in incoming webhook targets
  docs/content/docs/guide/incoming_webhook.md
  pkg/matcher/repo_runinfo_matcher.go
  pkg/matcher/repo_runinfo_matcher_test.go
  samples/repository-incoming-webhook.yml
  test/github_incoming_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore(linter): enforce British spelling 'cancelled' over 'canceled'
  .golangci.yml
  pkg/cmd/tknpac/resolve/basic_auth_secret.go
  pkg/reconciler/reconciler.go
  test/bitbucket_cloud_pullrequest_test.go
  test/gitea_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(cli): respect forceInstallGosmee in bootstrap
  docs/content/docs/guide/cli.md
  pkg/cmd/tknpac/bootstrap/bootstrap.go
  pkg/cmd/tknpac/bootstrap/install.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/b14b0047dced1f2435b5e2dbbd4b31ff4253a1cf
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix(gitlab): add explicit mapping for cancelled status
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore(linter): enforce British spelling 'cancelled' over 'canceled'
  .golangci.yml
  pkg/cmd/tknpac/resolve/basic_auth_secret.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/reconciler.go
  test/bitbucket_cloud_pullrequest_test.go
  test/gitea_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/gitlab_merge_request_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: configure application id in CI via env variable
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

feat(gitlab): Cache results acl project membership
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/test/test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: add unit tests for StartPR
  pkg/pipelineascode/pipelineascode_startpr_test.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/test/kubernetestint/kubernetesint.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: prevent stale failure statuses on commits
  .yamllint
  pkg/consoleui/openshift.go
  pkg/consoleui/openshift_test.go
  pkg/consoleui/tektondashboard.go
  pkg/pipelineascode/pipelineascode.go
  test/gitea_params_test.go
  test/gitlab_merge_request_test.go
  test/testdata/always-good-pipelinerun.yaml
  test/testdata/bad-converts-good-pipelinerun.yaml
  test/testdata/failures/bad-pipelinerun.yaml
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(incoming): Set default secret key for incoming webhooks
  docs/content/docs/guide/incoming_webhook.md
  pkg/adapter/incoming.go
  pkg/adapter/incoming_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: remove raw API response in log
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

feat: Add AI/LLM-powered pipeline analysis
  Makefile
  config/300-repositories.yaml
  docs/content/docs/guide/llm-analysis.md
  hack/dev/kind/install.sh
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/apis/pipelinesascode/v1alpha1/types_llm.go
  pkg/llm/analyzer.go
  pkg/llm/analyzer_test.go
  pkg/llm/context/assembler.go
  pkg/llm/factory.go
  pkg/llm/factory_test.go
  pkg/llm/ltypes/types.go
  pkg/llm/orchestrator.go
  pkg/llm/output_handler.go
  pkg/llm/output_handler_test.go
  pkg/llm/providers/gemini/client.go
  pkg/llm/providers/gemini/client_test.go
  pkg/llm/providers/openai/client.go
  pkg/llm/providers/openai/client_test.go
  pkg/reconciler/reconciler.go
  pkg/test/http/http.go
  pkg/test/nonoai/README.md
  pkg/test/nonoai/deployment.yaml
  pkg/test/nonoai/main.go
  pkg/test/nonoai/responses.json
  samples/repository-llm.yaml
  test/README.md
  test/gitea_llm_test.go
  test/pkg/gitea/test.go
  test/testdata/gitea-llm-comment.golden
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: make custom API URLs a top value
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/llm-analysis.md
  pkg/apis/pipelinesascode/v1alpha1/types_llm.go
  pkg/llm/analyzer.go
  pkg/llm/analyzer_test.go
  pkg/llm/factory.go
  pkg/llm/factory_test.go
  samples/repository-llm.yaml
  test/gitea_llm_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Allow model specification per LLM analysis role
  config/300-repositories.yaml
  docs/content/docs/guide/llm-analysis.md
  pkg/apis/pipelinesascode/v1alpha1/types_llm.go
  pkg/llm/analyzer.go
  pkg/llm/analyzer_test.go
  pkg/llm/factory.go
  pkg/llm/factory_test.go
  pkg/llm/providers/gemini/client.go
  samples/repository-llm.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: Clarify default behavior for on_cel trigger
  config/300-repositories.yaml
  docs/content/docs/guide/llm-analysis.md
  samples/repository-llm.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

docs: Improve documentation for CEL context fields
  docs/content/docs/guide/llm-analysis.md
  pkg/llm/context/assembler.go
  pkg/llm/context/assembler_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Remove redundant secret namespace parameter for LLM analysis
  docs/content/docs/guide/llm-analysis.md
  pkg/llm/analyzer.go
  pkg/llm/orchestrator.go
  pkg/reconciler/reconciler.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Exclude tag push events from skip-pr-commits logic
  docs/content/docs/install/settings.md
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Move API URL configuration to AIAnalysisConfig
  config/300-repositories.yaml
  pkg/apis/pipelinesascode/v1alpha1/types_llm.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Include extended commit fields in LLM context
  docs/content/docs/guide/llm-analysis.md
  pkg/llm/context/assembler.go
  pkg/llm/context/assembler_test.go
  pkg/params/info/events.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: rename failed_tasks to failed_tasks_logs
  pkg/llm/context/assembler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Rename PR comment handling function
  pkg/llm/output_handler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: use constant instead of hardcoded string
  pkg/llm/providers/gemini/client.go
  pkg/llm/providers/openai/client.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: add URL validation for LLM providers
  pkg/llm/providers/common.go
  pkg/llm/providers/common_test.go
  pkg/llm/providers/gemini/client.go
  pkg/llm/providers/gemini/client_test.go
  pkg/llm/providers/openai/client.go
  pkg/llm/providers/openai/client_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: only run LLM analysis for failed pipelines
  docs/content/docs/guide/llm-analysis.md
  pkg/reconciler/reconciler.go
  samples/repository-llm.yaml
  test/gitea_llm_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: extract common LLM provider validation
  pkg/llm/providers/common.go
  pkg/llm/providers/common_test.go
  pkg/llm/providers/gemini/client.go
  pkg/llm/providers/openai/client.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: extract buildPrompt to shared function
  pkg/llm/providers/common.go
  pkg/llm/providers/common_test.go
  pkg/llm/providers/gemini/client.go
  pkg/llm/providers/gemini/client_test.go
  pkg/llm/providers/openai/client.go
  pkg/llm/providers/openai/client_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: Add comments explaining LLM test setup
  test/gitea_llm_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(github): update check status to in_progress on retest
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Migrate build tags from +build to //go:build directives
  pkg/apis/pipelinesascode/v1alpha1/zz_generated.deepcopy.go
  test/bitbucket_cloud_pullrequest_test.go
  test/bitbucket_datacenter_dynamic_variables_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/gitea_results_annotation_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_pullrequest_oktotest_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_rerequest_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test_comment_test.go
  test/github_push_retest_test.go
  test/github_push_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
  test/github_tkn_pac_cli_test.go
  test/gitlab_delete_tag_event_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_oktotest_thread_reply_test.go
  test/gitlab_push_gitops_command_test.go
  test/invalid_event_test.go
  test/repo_validation_test.go
  test/repository_webhook_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
