Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: (any of: ***/*.go) or (any of: config/)
  go-testing: any of: ***/*.go

add workspace.source.dir as safe for git in release pipeline yaml
  .tekton/release-pipeline.yaml
Due: none

add /src as safe in dockerfile
  Dockerfile
Due: none

more safe directory of the workspaces source path
  .tekton/generate-coverage-release.yaml
Due: none

disable depguard for now
  .golangci.yml
Due: none

fix goreleaser deprecation notice
  .goreleaser.yml
Due: none

Release yaml generated for pac release v0.17.4 on branch release-v0.17.4
  release.k8s.yaml
Due: none

Release yaml generated for pac release v0.17.4 on branch release-v0.17.4
  release.yaml
Due: none

Release yaml generated for pac release v0.17.4 on branch release-v0.17.4
  docs/content/VERSION
Due: doc-generation

set, then unset, pending pipelinerun regardless of concurrency limit in startPR
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

fix gitea not starting
  hack/dev/kind/gitea/gitea-deployment.yaml
Due: none

fix error message when fataling
  pkg/resolve/resolve_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Update gitea scope to 1.20
  pkg/provider/gitea/structs/repo_file.go
  test/pkg/gitea/crd.go
Due: push-generate-coverage-releaseyaml, go-testing

print installed gitea version
  hack/dev/kind/gitea/deploy.py
Due: none

capitalize console name
  pkg/consoleui/openshift.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix ubuntu failing to install pkgs
  .github/workflows/kind-nightly.yaml
Due: none

Update status check for skipped pipelinerun from skipped to Pending approval
  pkg/pipelineascode/match.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  test/gitea_test.go
  test/pkg/gitea/test.go
Due: push-generate-coverage-releaseyaml, go-testing

Add comment to gitea test file
  test/gitea_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Enable default metrics observability for pac controller
  config/400-controller.yaml
  config/401-controller-service.yaml
Due: none

Simplify auto-generated pac-gitauth secret URL
  docs/content/docs/guide/privaterepo.md
  pkg/secrets/basic_auth.go
  pkg/secrets/basic_auth_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

install latest ko
  .github/workflows/kind-e2e-tests.yaml
  .github/workflows/kind-nightly.yaml
Due: none

Revert "set, then unset, pending pipelinerun regardless of concurrency limit in startPR"
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing

install latest ko (#1330)
  .github/workflows/kind-e2e-tests.yaml
  .github/workflows/kind-nightly.yaml
Due: none

Rephrase docs for private repos
  docs/content/docs/guide/privaterepo.md
Due: doc-generation

Enforce the Pipelines-as-Code name
  .vale/styles/PaaC/Paac.yml
  docs/content/_index.md
  docs/content/dev/_index.md
  docs/content/dev/release-process.md
  docs/content/docs/flows/_index.md
  docs/content/docs/flows/concurrency.md
  docs/content/docs/flows/diagram.md
  docs/content/docs/guide/_index.md
  docs/content/docs/guide/authoringprs.md
  docs/content/docs/guide/cleanups.md
  docs/content/docs/guide/cli.md
  docs/content/docs/guide/incoming_webhook.md
  docs/content/docs/guide/privaterepo.md
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/guide/resolver.md
  docs/content/docs/guide/running.md
  docs/content/docs/guide/statuses.md
  docs/content/docs/install/_index.md
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/bitbucket_server.md
  docs/content/docs/install/github_apps.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
  docs/content/docs/install/installation.md
  docs/content/docs/install/kubernetes.md
  docs/content/docs/install/operator_installation.md
  docs/content/docs/install/overview.md
  docs/content/docs/install/settings.md
Due: doc-generation

when pushing to gitea use a loop to try multiple times on errors
  test/pkg/gitea/scm.go
Due: push-generate-coverage-releaseyaml, go-testing

Improve testing for unknown secret in custom param
  pkg/customparams/customparams_test.go
  pkg/pipelineascode/template_test.go
  test/gitea_test.go
  test/testdata/params.yaml
Due: push-generate-coverage-releaseyaml, go-testing
