Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go

Fix codecov uploading for go tekton pipeline
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
Due: push-generate-coverage-releaseyaml

doc,acl,e2e
  docs/content/docs/install/azure_devops.md
  pkg/provider/azuredevops/acl.go
  pkg/provider/azuredevops/acl_test.go
  pkg/provider/azuredevops/azuredevops.go
  pkg/provider/azuredevops/azuredevops_test.go
  pkg/provider/azuredevops/detect.go
  pkg/provider/azuredevops/parse_payload.go
  pkg/provider/azuredevops/parse_payload_test.go
  pkg/provider/azuredevops/test/setup.go
  pkg/provider/azuredevops/types/types.go
  test/azuredevops_pullrequest_test.go
  test/pkg/azuredevops/crd.go
  test/pkg/azuredevops/pr.go
  test/pkg/azuredevops/setup.go
  test/pkg/options/options.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Fix - updated GitClient
  pkg/provider/azuredevops/azuredevops.go
  test/pkg/azuredevops/pr.go
  test/pkg/azuredevops/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

update - update parse
  pkg/provider/azuredevops/parse_payload.go
Due: push-generate-coverage-releaseyaml, go-testing

cleanup - code cleanup
  pkg/provider/azuredevops/detect.go
  pkg/provider/azuredevops/detect_test.go
  pkg/provider/azuredevops/parse_payload.go
  pkg/provider/azuredevops/parse_payload_test.go
  pkg/provider/azuredevops/test/setup.go
Due: push-generate-coverage-releaseyaml, go-testing

Enhance CEL expression to accept any branch
  docs/content/docs/guide/authoringprs.md
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/cel.go
  test/github_pullrequest_test.go
  test/github_push_test.go
  test/testdata/pipelinerun-branch-match-cel-pullrequest.yaml
  test/testdata/pipelinerun-branch-match-cel-push.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

[Feature] Introduce global repository setting
  config/201-controller-role.yaml
  docs/content/docs/install/global_repositories_setting.md
  hack/dev/kind/gitea/create-repo/main.go
  pkg/adapter/adapter.go
  pkg/adapter/adapter_test.go
  pkg/adapter/sinker.go
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/apis/pipelinesascode/v1alpha1/types_test.go
  pkg/kubeinteraction/labels.go
  pkg/kubeinteraction/labels_test.go
  pkg/params/info/controller_info.go
  pkg/params/info/controller_info_test.go
  pkg/pipelineascode/cancel_pipelinerun_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/pipelineascode/secret.go
  pkg/pipelineascode/secret_test.go
  pkg/pipelineascode/template_test.go
  pkg/reconciler/finalizer.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/test/repository/repository.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/pkg/gitea/crd.go
  test/pkg/gitea/setup.go
  test/pkg/gitea/test.go
  test/testdata/TestGiteaGlobalRepoParams.golden
  test/testdata/TestGiteaGlobalRepoUseLocalDef.golden
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Move to aarch64
  .tekton/doc.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
Due: push-generate-coverage-releaseyaml

watcher panic with pending runs, concurrency not set
  pkg/sync/queue_manager.go
  pkg/sync/queue_manager_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Remove deprecated deadline option from go-lint
  .golangci.yml
  Makefile
Due: none

add golangci-lint errcheck warning
  .errcheck.txt
  .golangci.yml
  pkg/templates/templating.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/b472b7ac0c8c35268aae2b93725ba9ed1eaae57b for release v0.24.6
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/b472b7ac0c8c35268aae2b93725ba9ed1eaae57b for release v0.24.6
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Disable execinquery linter
  .golangci.yml
Due: none

fix github link to be permanent
  docs/content/docs/guide/statuses.md
Due: doc-generation

don't check for init function in resolve.go
  .golangci.yml
  .tekton/doc.yaml
Due: none

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/192184c1e6558ac0a843122e814fd12931ca4db5 for release v0.27.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation

sync 'error-detection-simple-regexp' default value
  config/302-pac-configmap.yaml
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Extract the slack notification to a stepaction
  .tekton/generate-coverage-release.yaml
Due: push-generate-coverage-releaseyaml

Fix GH installation match verification
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/cmd/tknpac/info/install.go
  pkg/provider/github/acl.go
  pkg/provider/github/acl_test.go
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix golangci lint error
  pkg/provider/github/app/token.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix secret generation issue when GitOps comments are executed on commits
  pkg/provider/github/parse_payload.go
  test/github_push_retest_test.go
Due: push-generate-coverage-releaseyaml, go-testing

fix code spelling
  docs/content/docs/install/bitbucket_cloud.md
  docs/content/docs/install/github_webhook.md
  docs/content/docs/install/gitlab.md
  pkg/cli/webhook/secret.go
  pkg/cli/webhook/testdata/TestWebHookSecret.golden
  pkg/cmd/tknpac/info/install.go
  pkg/provider/bitbucketserver/bitbucketserver.go
  pkg/provider/gitlab/gitlab.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing

Add test for when concurrency and startPR error
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Update sort package to latest & adds nil check for PRun before sorting
  pkg/pipelineascode/concurrency.go
  pkg/pipelineascode/concurrency_test.go
  pkg/sort/runtime_sort.go
Due: push-generate-coverage-releaseyaml, go-testing

Fix codespell linter error
  pkg/params/settings/validation_test.go
Due: push-generate-coverage-releaseyaml, go-testing

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/7d026f45a8b5aa520369cd34ce5900787360691c for release v0.24.7
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/7d026f45a8b5aa520369cd34ce5900787360691c for release v0.24.7
  docs/content/ALLVERSIONS
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation

Fix tkn-pac issue GitHub App name with quote fails
  pkg/cmd/tknpac/bootstrap/bootstrap.go
Due: push-generate-coverage-releaseyaml, go-testing

Add test for when concurrency and startPR error
  test/gitea_test.go
  test/github_pullrequest_concurrency_test.go
Due: push-generate-coverage-releaseyaml, go-testing
