Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)

doc: remove plan permissions for GitHub app
  docs/content/docs/install/github_apps.md
  pkg/cmd/tknpac/bootstrap/github.go
  test/github_pullrequest_retest_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Cancel PipelineRuns on MR change in Gitlab
  pkg/pipelineascode/cancel_pipelineruns.go
  test/gitlab_merge_request_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: simplify duration calculations in age.go
  pkg/formatting/age.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: migrate GitHub Action workflows to use env
  .github/workflows/kind-e2e-tests.yaml
  hack/gh-workflow-ci.sh
  test/README.md
Due: pipelines-as-code-main-controller-on-push

fix: Fixed Comments on Bitbucket Data Center & Cloud
  pkg/formatting/starting.go
  pkg/formatting/templates/pipelinerunstatus_markdown.tmpl
  pkg/formatting/templates/queuing.markdown.go.tmpl
  pkg/formatting/templates/starting.markdown.go.tmpl
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/1f2a957bdbda865eb066d9d47b58f331430dcd92
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

feat: Track git provider API usage metrics
  docs/content/docs/install/metrics.md
  pkg/metrics/metrics.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/testdata/tree/notektondir/.gitignore
  pkg/provider/github/testdata/tree/tektondirisfile/.tekton
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/emit_metrics_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: template of Other runs in tkn-pac describe command
  pkg/cmd/tknpac/describe/templates/describe.tmpl
  pkg/cmd/tknpac/describe/testdata/TestDescribe-live_run_and_repository_run.golden
  pkg/cmd/tknpac/describe/testdata/TestDescribe-multiple_repo_status.golden
Due: pipelines-as-code-main-controller-on-push

Remove environment from the workflow
  .github/workflows/kind-e2e-tests.yaml
Due: pipelines-as-code-main-controller-on-push

fix(workflow): update e2e test workflows
  .github/workflows/nightly_push_dispatch.yaml
  .github/workflows/pull_request_trusted.yaml
Due: pipelines-as-code-main-controller-on-push

fix: update gha workflows
  .github/workflows/nightly_push_dispatch.yaml
  .github/workflows/pull_request_trusted.yaml
Due: pipelines-as-code-main-controller-on-push

Update golangci-lint to 2.0
  .golangci.yml
  pkg/cmd/tknpac/list/list.go
  pkg/cmd/tknpac/logs/logs.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitlab/gitlab.go
  pkg/resolve/resolve_test.go
  pkg/test/clients/clients.go
  test/github_pullrequest_retest_test.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/219f3e6e843c502388abec1ca49219ee987d720a
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: remove e2e trusted pull request workflow
  .github/workflows/e2e.yaml
  .github/workflows/pull_request_trusted.yaml
  .tekton/e2e-label.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

fix: Set up e2e test environment variables
  .github/workflows/e2e.yaml
Due: pipelines-as-code-main-controller-on-push

fix: Fixed Comments on Bitbucket Data Center & Cloud
  pkg/formatting/starting.go
  pkg/formatting/templates/pipelinerunstatus_markdown.tmpl
  pkg/formatting/templates/queuing.markdown.go.tmpl
  pkg/formatting/templates/starting.markdown.go.tmpl
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/provider.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: PipelineRun cancel-in-progress issue when generateName is used
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  pkg/pipelineascode/pipelineascode.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

update: Set `remeber-ok-to-test` settings to false by default
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/params/settings/convert_test.go
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Warn user when on-cel-expression is used with on-target-branch/on-event
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/match.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/5d8a119114e85268a45f8a41336363148334722f
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

refact: Refactor IsAllowed func in Bitbucket Data Center
  pkg/provider/bitbucketdatacenter/acl.go
  pkg/provider/bitbucketdatacenter/acl_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
  pkg/provider/bitbucketdatacenter/test/test_types.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

update: Set `remeber-ok-to-test` settings to false by default
  pkg/formatting/starting.go
  pkg/formatting/templates/pipelinerunstatus_markdown.tmpl
  pkg/formatting/templates/queuing.markdown.go.tmpl
  pkg/formatting/templates/starting.markdown.go.tmpl
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/github/github.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/interface.go
  pkg/provider/provider.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
  pkg/test/provider/testwebvcs.go
Due: push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Report validation errors on pull requests
  docs/content/docs/dev/_index.md
  docs/content/docs/guide/running.md
  docs/static/images/report-error-comment-on-bad-yaml.png
  pkg/pipelineascode/match.go
  pkg/pipelineascode/match_test.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/test/provider/testwebvcs.go
  test/README.md
  test/gitea_test.go
  test/github_pullrequest_test.go
  test/testdata/TestGithubSecondPullRequestBadYaml.golden
  test/testdata/failures/pipeline-validation.yaml
Due: doc-generation, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push
