Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

chore: add deps in pr template
  .github/pull_request_template.md
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

docs: Add blog post for gitauth and ratelimit
  .gitignore
  docs/content/docs/blog/using-pac-git-auth-secret-to-avoid-rate-limiting.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Set state only after status report
  pkg/kubeinteraction/labels.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Annotate PLR when started status is reported
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Add template support for auto-configured repository CR names
  config/302-pac-configmap.yaml
  docs/content/docs/install/settings.md
  pkg/params/settings/config.go
  pkg/params/settings/config_test.go
  pkg/provider/github/repository.go
  pkg/provider/github/repository_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: Skip reconciliation of stale PLRs
  pkg/reconciler/reconciler.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Run E2E tests based on author association
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Allow contributors to trigger end-to-end tests
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: Annotate PLR when when started status is reported (#2208)
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/kubeinteraction/labels.go
  pkg/pipelineascode/pipelineascode.go
  pkg/pipelineascode/pipelineascode_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Implement intelligent GH API call monitoring
  docs/content/docs/install/logging.md
  docs/content/docs/install/settings.md
  hack/dev/kind/install.sh
  pkg/provider/github/acl.go
  pkg/provider/github/github.go
  pkg/provider/github/parse_payload.go
  pkg/provider/github/profiler.go
  pkg/provider/github/profiler_test.go
  pkg/provider/github/status.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add instrumentation in e2e for GH API calls
  hack/gh-workflow-ci.sh
  test/pkg/github/instrumentation.go
  test/pkg/github/instrumentation_test.go
  test/pkg/github/pr.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: use python image to install ruff
  .tekton/linter.yaml
Due: pipelines-as-code-main-controller-on-push

feat: add instrumentation in e2e for GH API calls
  test/README.md
  test/pkg/github/instrumentation.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: artifacthub catalog ID to pacpipelines
  hack/dev/kind/install.sh
  test/testdata/pipelinerun-remote-pipeline-from-hub.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/542f1a0e6056b831551ccf14da6afcc2267a347d for release v0.37.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/542f1a0e6056b831551ccf14da6afcc2267a347d for release v0.37.0
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Make error handling and tests more robust
  hack/update-golden.sh
  pkg/adapter/adapter.go
  pkg/cli/webhook/bitbucket_cloud_test.go
  pkg/cli/webhook/github_test.go
  pkg/cli/webhook/gitlab_test.go
  pkg/cmd/tknpac/bootstrap/bootstrap_test.go
  pkg/matcher/annotation_matcher_test.go
  pkg/matcher/repo_runinfo_matcher.go
  pkg/matcher/repo_runinfo_matcher_test.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/gitea/testdata/TestCheckPolicyAllowing-error_while_getting_team_membership.golden
  pkg/provider/gitea/testdata/TestCheckPolicyAllowing-no_team_in_org_is_found.golden
  pkg/provider/gitea/testdata/TestCheckPolicyAllowing-user_is_a_member_of_the_allowed_team.golden
  pkg/provider/gitea/testdata/TestCheckPolicyAllowing-user_is_not_a_member_of_the_allowed_team.golden
  pkg/provider/github/acl.go
  pkg/provider/github/repository_test.go
  pkg/provider/gitlab/acl.go
  pkg/provider/gitlab/acl_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/github_config_maxkeepruns_test.go
  test/pkg/bitbucketdatacenter/crd.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/gitea/scm.go
  test/pkg/github/setup.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: commit status for unauthorized user in Bitbucket Data Center
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: optimize GHApp installation ID retrieval
  pkg/provider/github/app/token.go
  pkg/provider/github/app/token_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Add tests for getExecutionOrderPatch func
  pkg/pipelineascode/pipelineascode_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test reademe
  README.md
Due: pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/bae62a52d5892cb56bcd86c86ebfefbfea505d6b
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

refactor: Use usernames for E2E trigger permissions
  .github/workflows/e2e.yaml
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

fix: don't restart successful pipelineruns on /retest /ok-to-test
  docs/content/_index.md
  docs/content/docs/guide/gitops_commands.md
  docs/content/docs/guide/policy.md
  hack/gh-workflow-ci.sh
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
  pkg/pipelineascode/pipelineascode.go
  test/gitea_params_test.go
  test/gitea_test.go
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_test.go
  test/gitlab_incoming_webhook_test.go
  test/gitlab_merge_request_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: group event type checks for better parsing
  pkg/matcher/annotation_matcher.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
