Repository openshift-pipelines/pipelines-as-code: changes, and which Tekton pipelines are due for each by the changed paths.
All: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pac-downstream-main-watcher-on-pull-request, pac-downstream-main-webhook-on-push, pipelines-as-code-main-controller-on-push

doc-generation:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hugo_version
    value: 0.96.0
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    - name: hugo_version
    tasks:
    - name: build-doc
      taskSpec:
        workspaces:
        - name: source
  ...

e2e-label.yaml:
  pipelineSpec:
    tasks:
    - name: label-pr
      taskSpec:
        steps:
        - name: label-pr
          image: registry.access.redhat.com/ubi9/ubi
          env:
          - name: HUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: nightly-ci-github-hub-token
  ...

push-generate-coverage-releaseyaml:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: unit
      workspaces:
      - name: source
        workspace: source
      taskSpec:
        workspaces:
        - name: source
  ...

go-testing:
  params:
  - name: repo_url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  pipelineSpec:
    params:
    - name: repo_url
    - name: revision
    tasks:
    - name: go
      taskSpec:
        workspaces:
        - name: source
        steps:
        - name: fetch-repo
          ref:
  ...

pac-downstream-main-watcher-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/watcher:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

pac-downstream-main-webhook-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pac-downstream-main/webhook:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/webhook.Dockerfile
  ...

pipelines-as-code-main-controller-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/pipelines-as-code-main/controller:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/controller.Dockerfile
  ...

fix: variables substitution issue on commit comment in GitLab
  pkg/provider/gitlab/parse_payload.go
  pkg/provider/gitlab/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

docs: Improve GitLab fork-based workflow documentation
  docs/content/docs/guide/repositorycrd.md
  docs/content/docs/install/gitlab.md
  pkg/provider/gitlab/README.md
Due: doc-generation, pipelines-as-code-main-controller-on-push

fix: Add retry logic for PR lookup on merge commits
  pkg/provider/github/parse_payload.go
  pkg/provider/github/parse_payload_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor(providers): constantize provider StatusOpt conclusion options
  pkg/adapter/sinker.go
  pkg/formatting/pipelinerun.go
  pkg/formatting/pipelinerun_test.go
  pkg/pipelineascode/errors.go
  pkg/pipelineascode/errors_test.go
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/bitbucketcloud/bitbucket.go
  pkg/provider/bitbucketcloud/bitbucket_test.go
  pkg/provider/bitbucketcloud/test/bbcloudtest.go
  pkg/provider/bitbucketcloud/types/types.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter.go
  pkg/provider/bitbucketdatacenter/bitbucketdatacenter_test.go
  pkg/provider/bitbucketdatacenter/test/test.go
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  pkg/provider/interface.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/provider/status/status.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
  pkg/reconciler/status_test.go
  pkg/test/provider/testwebvcs.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: Migrate E2E tests to use SHA label filtering
  test/github_config_maxkeepruns_test.go
  test/github_incoming_test.go
  test/github_pullrequest_concurrency_multiplepr_test.go
  test/github_pullrequest_concurrency_test.go
  test/github_pullrequest_retest_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/github_tag_gitops_test.go
  test/pkg/wait/wait.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat(github): add glob pattern support for token scope repos
  docs/content/docs/guide/repositorycrd.md
  pkg/provider/github/github.go
  pkg/provider/github/scope.go
  pkg/provider/github/scope_test.go
  test/github_scope_token_to_list_of_private_public_repos_test.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

ci(e2e): add job summary with gotestsum for test results
  .github/workflows/e2e.yaml
  hack/gh-workflow-ci.sh
Due: e2e-label.yaml, pipelines-as-code-main-controller-on-push

chore: move to Claude skills and AGENTS.md
  .claude/.gitignore
  .claude/skills/commit-message/SKILL.md
  .claude/skills/commit-message/references/commit-types.md
  .claude/skills/commit-message/references/footer-detection.md
  .claude/skills/commit-message/references/gitlint-rules.md
  .claude/skills/commit-message/references/jira-lookup.md
  .claude/skills/jira-ticket/SKILL.md
  .claude/skills/jira-ticket/references/bug-template.md
  .claude/skills/jira-ticket/references/jira-markdown-syntax.md
  .claude/skills/jira-ticket/references/story-template.md
  .cursor/rules/architecture.mdc
  .cursor/rules/code-formatting.mdc
  .cursor/rules/dependencies.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/e2e-testing.mdc
  .cursor/rules/git-commit-format.mdc
  .cursor/rules/jira-formatting.mdc
  .cursor/rules/pre-commit.mdc
  .cursor/rules/srvkp-jira-bug-template.mdc
  .cursor/rules/srvkp-jira-template.mdc
  .cursor/rules/testing-quality.mdc
  .cursor/rules/useful-commands.mdc
  AGENTS.md
Due: pipelines-as-code-main-controller-on-push

feat: add update comment strategy
  config/300-repositories.yaml
  docs/content/docs/guide/repositorycrd.md
  pkg/apis/pipelinesascode/keys/keys.go
  pkg/apis/pipelinesascode/v1alpha1/types.go
  pkg/provider/comment/cache.go
  pkg/provider/comment/cache_test.go
  pkg/provider/github/github.go
  pkg/provider/github/github_test.go
  pkg/provider/github/status.go
  pkg/provider/github/status_test.go
  pkg/provider/gitlab/gitlab.go
  pkg/webhook/validation.go
  test/gitea_custom_params_cel_test.go
  test/gitea_test.go
  test/github_pullrequest_one_comment_per_pipeline_test.go
  test/github_pullrequest_privaterepository_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
  test/github_skip_ci_test.go
  test/gitlab_delete_tag_event_test.go
  test/pkg/github/pr.go
  test/pkg/wait/logs.go
  test/pkg/wait/wait.go
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

refactor: Rename Gitea structs to forgejostructs
  pkg/cmd/tknpac/cel/parser.go
  pkg/provider/gitea/acl.go
  pkg/provider/gitea/acl_test.go
  pkg/provider/gitea/detect.go
  pkg/provider/gitea/forgejostructs/types.go
  pkg/provider/gitea/parse_payload.go
  pkg/provider/gitea/webhook.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

test: Fix flaky E2E tests for webhook racecond
  pkg/pipelineascode/cancel_pipelineruns.go
  pkg/pipelineascode/cancel_pipelineruns_test.go
  test/github_pullrequest_test.go
  test/github_push_retest_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: make /retest re-run all pipelines when all have succeeded
  pkg/matcher/annotation_matcher.go
  pkg/matcher/annotation_matcher_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: add AI-powered release notes validation
  hack/pr-ci/src/pr_ci/gemini.py
  hack/pr-ci/src/pr_ci/linter.py
  hack/pr-ci/src/pr_ci/main.py
Due: pipelines-as-code-main-controller-on-push

chore: add release notes section in PR template
  .github/pull_request_template.md
Due: pipelines-as-code-main-controller-on-push

fix: report cancelled status when PipelineRun is deleted
  pkg/reconciler/finalizer.go
  pkg/reconciler/finalizer_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: correctly update pending and running commit status
  pkg/pipelineascode/pipelineascode.go
  pkg/provider/gitlab/gitlab.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix(gitlab): set parent status to success when CI is triggered
  pkg/pipelineascode/match.go
  pkg/pipelineascode/pipelineascode.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/status.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

feat: Support arbitrary CEL expressions with cel: prefix
  docs/content/docs/guide/authoringprs.md
  pkg/templates/templating.go
  pkg/templates/templating_test.go
  test/gitea_params_test.go
  test/github_pullrequest_test.go
  test/gitlab_merge_request_test.go
  test/testdata/TestGiteaParamsCelPrefix.golden
  test/testdata/TestGithubPullRequestCelPrefix.golden
  test/testdata/TestGitlabMergeRequestCelPrefix.golden
  test/testdata/pipelinerun-cel-prefix-github.yaml
  test/testdata/pipelinerun-cel-prefix-gitlab.yaml
  test/testdata/pipelinerun-cel-prefix-test.yaml
Due: doc-generation, e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: handle nil body in CEL eval
  pkg/cel/cel.go
  pkg/cel/cel_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Release yaml generated from https://github.com/openshift-pipelines/pipelines-as-code/commit/751f9310d311b1f2b301292099caf817617268ec
  docs/content/ALLVERSIONS
  docs/content/VERSION
  pkg/params/version/version.txt
  release.k8s.yaml
  release.yaml
Due: doc-generation, pipelines-as-code-main-controller-on-push

chore: retrigger CI
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: skip MR comment for non-permission errors
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

chore: Update golang version in Tekton configurations
  .tekton/doc.yaml
  .tekton/generate-coverage-release.yaml
  .tekton/go.yaml
  .tekton/linter.yaml
Due: push-generate-coverage-releaseyaml, pipelines-as-code-main-controller-on-push

chore: Update Vale style guide links
  .vale/styles/RedHat/Abbreviations.yml
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/Conjunctions.yml
  .vale/styles/RedHat/ConsciousLanguage.yml
  .vale/styles/RedHat/Contractions.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/DoNotUseTerms.yml
  .vale/styles/RedHat/Ellipses.yml
  .vale/styles/RedHat/EmDash.yml
  .vale/styles/RedHat/GitLinks.yml
  .vale/styles/RedHat/HeadingPunctuation.yml
  .vale/styles/RedHat/Headings.yml
  .vale/styles/RedHat/Hyphens.yml
  .vale/styles/RedHat/MergeConflictMarkers.yml
  .vale/styles/RedHat/ObviousTerms.yml
  .vale/styles/RedHat/OxfordComma.yml
  .vale/styles/RedHat/PascalCamelCase.yml
  .vale/styles/RedHat/PassiveVoice.yml
  .vale/styles/RedHat/ProductCentricWriting.yml
  .vale/styles/RedHat/ReadabilityGrade.yml
  .vale/styles/RedHat/ReleaseNotes.yml
  .vale/styles/RedHat/RepeatedWords.yml
  .vale/styles/RedHat/SelfReferentialText.yml
  .vale/styles/RedHat/SentenceLength.yml
  .vale/styles/RedHat/SimpleWords.yml
  .vale/styles/RedHat/Slash.yml
  .vale/styles/RedHat/Spacing.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
  .vale/styles/RedHat/UserReplacedValues.yml
  .vale/styles/RedHat/Using.yml
Due: pipelines-as-code-main-controller-on-push

fix: Add retry logic for Gitea status updates
  pkg/provider/gitea/gitea.go
  pkg/provider/gitea/gitea_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Auto-detect hub type for custom hub catalogs
  pkg/params/settings/default.go
  pkg/params/settings/default_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

fix: skip MR comment for non-permission errors (#2340)
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
Due: e2e-label.yaml, push-generate-coverage-releaseyaml, go-testing, pipelines-as-code-main-controller-on-push

Path conditions:
  doc-generation: any of: docs/***
  e2e-label.yaml: any of: **/*.go, .github/workflows/*l, test/**
  push-generate-coverage-releaseyaml: ((any of: ***/*.go) or (any of: config/***)) or (any of: .tekton/generate-coverage-release.yaml)
  go-testing: any of: ***/*.go
  pac-downstream-main-watcher-on-pull-request: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/watcher.Dockerfile)) or (any of: .tekton/pac-downstream-main-watcher-pull-request.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pac-downstream-main-webhook-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/webhook.Dockerfile)) or (any of: .tekton/pac-downstream-main-webhook-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  pipelines-as-code-main-controller-on-push: (((any of: ***) or (any of: .konflux/dockerfiles/controller.Dockerfile)) or (any of: .tekton/pipelines-as-code-main-controller-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
